@charset "UTF-8";
/* CSS Document */
/*
YUI 3.4.1 (build 4118)
Copyright 2011 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
http://yuilibrary.com/license/
*/
/* line 10, ../../../../sources/sass/libs/_cssreset-min.scss */
html {
  color: #000;
  background: #FFF;
}

/* line 10, ../../../../sources/sass/libs/_cssreset-min.scss */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

/* line 10, ../../../../sources/sass/libs/_cssreset-min.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 10, ../../../../sources/sass/libs/_cssreset-min.scss */
fieldset, img {
  border: 0;
}

/* line 10, ../../../../sources/sass/libs/_cssreset-min.scss */
address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

/* line 10, ../../../../sources/sass/libs/_cssreset-min.scss */
ol, ul {
  list-style: none;
}

/* line 10, ../../../../sources/sass/libs/_cssreset-min.scss */
caption, th {
  text-align: left;
}

/* line 10, ../../../../sources/sass/libs/_cssreset-min.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

/* line 10, ../../../../sources/sass/libs/_cssreset-min.scss */
q:before, q:after {
  content: '';
}

/* line 10, ../../../../sources/sass/libs/_cssreset-min.scss */
abbr, acronym {
  border: 0;
  font-variant: normal;
}

/* line 10, ../../../../sources/sass/libs/_cssreset-min.scss */
sup {
  vertical-align: text-top;
}

/* line 10, ../../../../sources/sass/libs/_cssreset-min.scss */
sub {
  vertical-align: text-bottom;
}

/* line 10, ../../../../sources/sass/libs/_cssreset-min.scss */
input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/* line 10, ../../../../sources/sass/libs/_cssreset-min.scss */
input, textarea, select {
  *font-size: 100%;
}

/* line 10, ../../../../sources/sass/libs/_cssreset-min.scss */
legend {
  color: #000;
}

/* CSS Document */
/*
YUI 3.4.1 (build 4118)
Copyright 2011 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
http://yuilibrary.com/license/
*/
/* line 10, ../../../../sources/sass/libs/_fonts-min.scss */
body {
  font: 13px/1.231 arial,clean,sans-serif;
  *font-size: small;
  *font: x-small;
}

/* line 10, ../../../../sources/sass/libs/_fonts-min.scss */
select, input, button, textarea {
  font: 99% arial,helvetica,clean,sans-serif;
}

/* line 10, ../../../../sources/sass/libs/_fonts-min.scss */
table {
  font-size: inherit;
  font: 100%;
}

/* line 10, ../../../../sources/sass/libs/_fonts-min.scss */
pre, code, kbd, samp, tt {
  font-family: monospace;
  *font-size: 108%;
  line-height: 100%;
}

/* line 5, ../../../../sources/sass/_common.scss */
html {
  font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

/* line 11, ../../../../sources/sass/_common.scss */
body {
  color: #000;
}

/* line 4, ../../../../sources/sass/pc/index.scss */
#slot_container {
  width: 900px;
  height: 625px;
  position: relative;
}
/* line 9, ../../../../sources/sass/pc/index.scss */
#slot_container div.reels_container {
  position: absolute;
  top: 251px;
  left: 144px;
  width: 608px;
  height: 229px;
  z-index: 1;
  overflow: hidden;
}
/* line 18, ../../../../sources/sass/pc/index.scss */
#slot_container div.reels_container div.reel {
  position: absolute;
  width: 171px;
  height: 229px;
  background-image: url(../images/slot_reel_bg.png);
  z-index: 0;
}
/* line 28, ../../../../sources/sass/pc/index.scss */
#slot_container div.reels_container div.reel#reel01 {
  left: 0;
}
/* line 29, ../../../../sources/sass/pc/index.scss */
#slot_container div.reels_container div.reel#reel02 {
  left: 221px;
}
/* line 30, ../../../../sources/sass/pc/index.scss */
#slot_container div.reels_container div.reel#reel03 {
  right: 0;
}
/* line 31, ../../../../sources/sass/pc/index.scss */
#slot_container div.reels_container div.reel:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: url(../images/slot_reel_shadow.png);
}
/* line 43, ../../../../sources/sass/pc/index.scss */
#slot_container div.reels_container div.reel ul.items {
  -ms-tranform: translateZ(0);
  -o-tranform: translateZ(0);
  -moz-tranform: translateZ(0);
  -webkit-tranform: translateZ(0);
  tranform: translateZ(0);
  position: relative;
  width: 171px;
}
/* line 47, ../../../../sources/sass/pc/index.scss */
#slot_container div.reels_container div.reel ul.items li {
  width: 171px;
  height: 229px;
}
/* line 50, ../../../../sources/sass/pc/index.scss */
#slot_container div.reels_container div.reel ul.items li.cherry {
  background-image: url(../images/slot_reel_item_cherry.png);
}
/* line 51, ../../../../sources/sass/pc/index.scss */
#slot_container div.reels_container div.reel ul.items li.bell {
  background-image: url(../images/slot_reel_item_bell.png);
}
/* line 52, ../../../../sources/sass/pc/index.scss */
#slot_container div.reels_container div.reel ul.items li.watermelon {
  background-image: url(../images/slot_reel_item_watermelon.png);
}
/* line 55, ../../../../sources/sass/pc/index.scss */
#slot_container div.reels_container div.reel ul.items li.product.blue {
  background-image: url(../images/slot_reel_item_product_blue.png);
}
/* line 55, ../../../../sources/sass/pc/index.scss */
#slot_container div.reels_container div.reel ul.items li.product.deepblue {
  background-image: url(../images/slot_reel_item_product_deepblue.png);
}
/* line 55, ../../../../sources/sass/pc/index.scss */
#slot_container div.reels_container div.reel ul.items li.product.icefresh_one100 {
  background-image: url(../images/slot_reel_item_product_icefresh_one100.png);
}
/* line 55, ../../../../sources/sass/pc/index.scss */
#slot_container div.reels_container div.reel ul.items li.product.icefresh {
  background-image: url(../images/slot_reel_item_product_icefresh.png);
}
/* line 55, ../../../../sources/sass/pc/index.scss */
#slot_container div.reels_container div.reel ul.items li.product.menthol {
  background-image: url(../images/slot_reel_item_product_menthol.png);
}
/* line 55, ../../../../sources/sass/pc/index.scss */
#slot_container div.reels_container div.reel ul.items li.product.mentholwhite100 {
  background-image: url(../images/slot_reel_item_product_mentholwhite100.png);
}
/* line 55, ../../../../sources/sass/pc/index.scss */
#slot_container div.reels_container div.reel ul.items li.product.red {
  background-image: url(../images/slot_reel_item_product_red.png);
}
/* line 55, ../../../../sources/sass/pc/index.scss */
#slot_container div.reels_container div.reel ul.items li.product.silver {
  background-image: url(../images/slot_reel_item_product_silver.png);
}
/* line 55, ../../../../sources/sass/pc/index.scss */
#slot_container div.reels_container div.reel ul.items li.product.white {
  background-image: url(../images/slot_reel_item_product_white.png);
}
/* line 55, ../../../../sources/sass/pc/index.scss */
#slot_container div.reels_container div.reel ul.items li.product.white100 {
  background-image: url(../images/slot_reel_item_product_white100.png);
}
/* line 55, ../../../../sources/sass/pc/index.scss */
#slot_container div.reels_container div.reel ul.items li.product.duet {
  background-image: url(../images/slot_reel_item_product_duet.png);
}
/* line 63, ../../../../sources/sass/pc/index.scss */
#slot_container div.control_container {
  width: 900px;
  height: 97px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
}
/* line 70, ../../../../sources/sass/pc/index.scss */
#slot_container div.control_container div.buttons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 76, ../../../../sources/sass/pc/index.scss */
#slot_container div.control_container div.buttons.start_container {
  display: none;
}
/* line 78, ../../../../sources/sass/pc/index.scss */
#slot_container div.control_container div.buttons.start_container a.start {
  display: block;
  width: 0;
  height: 75px;
  padding-left: 220px;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  background-image: url(../images/slot_button_start.png);
}
/* line 90, ../../../../sources/sass/pc/index.scss */
#slot_container div.control_container div.buttons.stop_container {
  display: none;
}
/* line 92, ../../../../sources/sass/pc/index.scss */
#slot_container div.control_container div.buttons.stop_container a.stop {
  display: block;
  width: 0;
  height: 75px;
  padding-left: 160px;
  overflow: hidden;
  background-image: url(../images/slot_button_stop.png);
  position: absolute;
  top: 0;
}
/* line 97, ../../../../sources/sass/pc/index.scss */
#slot_container div.control_container div.buttons.stop_container a.stop.pushed {
  background-image: url(../images/slot_button_stop_pushed.png);
  cursor: default;
}
/* line 105, ../../../../sources/sass/pc/index.scss */
#slot_container div.control_container div.buttons.stop_container a.stop.stop01 {
  left: 153px;
}
/* line 106, ../../../../sources/sass/pc/index.scss */
#slot_container div.control_container div.buttons.stop_container a.stop.stop02 {
  left: 372px;
}
/* line 107, ../../../../sources/sass/pc/index.scss */
#slot_container div.control_container div.buttons.stop_container a.stop.stop03 {
  left: 591px;
}
/* line 113, ../../../../sources/sass/pc/index.scss */
#slot_container div.result_container {
  position: absolute;
  top: 218px;
  left: 0;
  width: 900px;
  height: 300px;
  z-index: 4;
  opacity: 0;
}
/* line 121, ../../../../sources/sass/pc/index.scss */
#slot_container div.result_container.super-win {
  background-image: url(../images/slot_result_super-win.png);
}
/* line 122, ../../../../sources/sass/pc/index.scss */
#slot_container div.result_container.big-win {
  background-image: url(../images/slot_result_big-win.png);
}
/* line 123, ../../../../sources/sass/pc/index.scss */
#slot_container div.result_container.win {
  background-image: url(../images/slot_result_win.png);
}
/* line 124, ../../../../sources/sass/pc/index.scss */
#slot_container div.result_container.lose {
  background-image: url(../images/slot_result_lose.png);
}
/* line 127, ../../../../sources/sass/pc/index.scss */
#slot_container div.complete_dialog {
  position: absolute;
  width: 900px;
  height: 300px;
  z-index: 5;
  left: 1px;
  right: 0;
  top: 218px;
  margin: auto;
  display: none;
}
/* line 137, ../../../../sources/sass/pc/index.scss */
#slot_container div.complete_dialog p.product {
  position: absolute;
  top: 74px;
  left: 664px;
  width: 120px;
  height: 120px;
}
/* line 146, ../../../../sources/sass/pc/index.scss */
#slot_container div.complete_dialog p.product.blue {
  background-image: url(../images/slot_dialog_product_blue.png);
}
/* line 146, ../../../../sources/sass/pc/index.scss */
#slot_container div.complete_dialog p.product.deepblue {
  background-image: url(../images/slot_dialog_product_deepblue.png);
}
/* line 146, ../../../../sources/sass/pc/index.scss */
#slot_container div.complete_dialog p.product.icefresh_one100 {
  background-image: url(../images/slot_dialog_product_icefresh_one100.png);
}
/* line 146, ../../../../sources/sass/pc/index.scss */
#slot_container div.complete_dialog p.product.icefresh {
  background-image: url(../images/slot_dialog_product_icefresh.png);
}
/* line 146, ../../../../sources/sass/pc/index.scss */
#slot_container div.complete_dialog p.product.menthol {
  background-image: url(../images/slot_dialog_product_menthol.png);
}
/* line 146, ../../../../sources/sass/pc/index.scss */
#slot_container div.complete_dialog p.product.mentholwhite100 {
  background-image: url(../images/slot_dialog_product_mentholwhite100.png);
}
/* line 146, ../../../../sources/sass/pc/index.scss */
#slot_container div.complete_dialog p.product.red {
  background-image: url(../images/slot_dialog_product_red.png);
}
/* line 146, ../../../../sources/sass/pc/index.scss */
#slot_container div.complete_dialog p.product.silver {
  background-image: url(../images/slot_dialog_product_silver.png);
}
/* line 146, ../../../../sources/sass/pc/index.scss */
#slot_container div.complete_dialog p.product.white {
  background-image: url(../images/slot_dialog_product_white.png);
}
/* line 146, ../../../../sources/sass/pc/index.scss */
#slot_container div.complete_dialog p.product.white100 {
  background-image: url(../images/slot_dialog_product_white100.png);
}
/* line 146, ../../../../sources/sass/pc/index.scss */
#slot_container div.complete_dialog p.product.duet {
  background-image: url(../images/slot_dialog_product_duet.png);
}
/* line 149, ../../../../sources/sass/pc/index.scss */
#slot_container div.complete_dialog a.button {
  position: absolute;
}
/* line 151, ../../../../sources/sass/pc/index.scss */
#slot_container div.complete_dialog a.button:hover {
  opacity: 0.9;
}
/* line 154, ../../../../sources/sass/pc/index.scss */
#slot_container div.complete_dialog a.button.about-product {
  top: 208px;
  left: 660px;
  width: 128px;
  height: 24px;
  background-image: url(../images/slot_dialog_button_about-product.png);
}
/* line 163, ../../../../sources/sass/pc/index.scss */
#slot_container div.complete_dialog a.button.campaign {
  top: 190px;
  left: 198px;
  width: 336px;
  height: 56px;
  background-image: url(../images/slot_dialog_button_campaign.png);
}
/* line 174, ../../../../sources/sass/pc/index.scss */
#slot_container div.complete_dialog.super-win {
  background-image: url(../images/slot_dialog_super-win_bg.png);
}
/* line 179, ../../../../sources/sass/pc/index.scss */
#slot_container div.complete_dialog.big-win {
  background-image: url(../images/slot_dialog_big-win_bg.png);
}
/* line 184, ../../../../sources/sass/pc/index.scss */
#slot_container div.complete_dialog.win {
  background-image: url(../images/slot_dialog_win_bg.png);
}
/* line 189, ../../../../sources/sass/pc/index.scss */
#slot_container div.complete_dialog.lose {
  background-image: url(../images/slot_dialog_lose_bg.png);
}
/* line 190, ../../../../sources/sass/pc/index.scss */
#slot_container div.complete_dialog.lose p.product {
  display: none;
}
/* line 193, ../../../../sources/sass/pc/index.scss */
#slot_container div.complete_dialog.lose a.about-product {
  display: none;
}
/* line 196, ../../../../sources/sass/pc/index.scss */
#slot_container div.complete_dialog.lose a.campaign {
  top: 210px;
  left: 0;
  right: 0;
  margin: auto;
}
/* line 208, ../../../../sources/sass/pc/index.scss */
#slot_container:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background-image: url(../images/slot_panel.png);
}
