.disappear{
    visibility: hidden;
}
html  {
    font-family:  sans-serif;
    -ms-text-size-adjust:  100%;
    -webkit-text-size-adjust:  100%;
}
body  {
    margin:  0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary  {
    display:  block;
}
form .datepicker,  .header,  .loading .loading-indicator .lt,  .loading .loading-indicator .rt,  .loading-indicator .lt,  .loading-indicator .rt  {
    -webkit-transform:  translate3d(0,  0,  0);
    -moz-transform:  translate3d(0,  0,  0);
    -ms-transform:  translate3d(0,  0,  0);
    -o-transform:  translate3d(0,  0,  0);
    transform:  translate3d(0,  0,  0);
}

a[rel="prev"] {
    background-color: #df0202;
    color: #fff;
    border-radius: 30px;
    font-size: 16px;
    padding: 5px 15px;
    display: inline-block;
    margin-top:5px;
}

a[rel="next"] {
    background-color: #df0202;
    color: #fff;
    border-radius: 30px;
    font-size: 16px;
    padding: 5px 15px;
    display: inline-block;
    margin-top:5px;
}

.img-1500yen img{
    width: 100%!important;
}
.loading-indicator .lt,  .loading-indicator .rt,  .loading-indicator .percentage  {
    -webkit-transition:  all 0.6s cubic-bezier(0.645,  0.045,  0.355,  1);
    -moz-transition:  all 0.6s cubic-bezier(0.645,  0.045,  0.355,  1);
    -o-transition:  all 0.6s cubic-bezier(0.645,  0.045,  0.355,  1);
    transition:  all 0.6s cubic-bezier(0.645,  0.045,  0.355,  1);
}
#scroll-story section,  .loading-indicator,  .page-news .st_sharethis  {
    position:  absolute;
    top:  0;
    left:  0;
    right:  0;
    bottom:  0;
    width:  100%;
    height:  100%;
    content:  "";
}
@-webkit-viewport  {
    width:  device-width;
}
@-moz-viewport  {
    width:  device-width;
}
@-ms-viewport  {
    width:  device-width;
}
@-o-viewport  {
    width:  device-width;
}
@viewport  {
    width:  device-width;
}

html  {
    height:  100%;
    -ms-touch-action:  manipulation;
    touch-action:  manipulation;
}
body  {
    margin:  0;
    font-family:  "Roboto",  serif;
    font-weight:  300;
    font-size:  10px;
    line-height:  22px;
    color:  black;
    background-color:  black;
    -webkit-font-smoothing:  antialiased;
    -moz-osx-font-smoothing:  grayscale;
}
body.page-landing  {
    background-color:  black;
}
::selection  {
    color:  white;
    background-color:  black;
    text-shadow:  none;
}
::-moz-selection  {
    color:  white;
    background-color:  black;
    text-shadow:  none;
}
::-webkit-input-placeholder  {
    color:  #c6c6c6;
}
:-moz-placeholder  {
    color:  #c6c6c6;
}
::-moz-placeholder  {
    color:  #c6c6c6;
}
:-ms-input-placeholder  {
    color:  #c6c6c6;
}
.content, .outer, .inner, .sidebar, .headline  {
    position:  relative;
    width:  100%;
}
.content  {
    overflow:  hidden;
    background-color:  white;
}
.content > *  {
    opacity:  1;
}
.initing .content > *  {
    opacity:  0;
}
.outer  {
    float:  left;
    width:  100%;
    padding:  7.5%;
}
.inner  {
    margin-bottom:  10%;
    overflow:  hidden;
}
.backdrop  {
    position:  relative;
    float:  left;
    width:  100%;
    background:  #f0f4f5;
    overflow:  visible;
}
.backdrop:before,  .backdrop:after  {
    content:  "";
    position:  absolute;
    top:  0;
    width:  100%;
    height:  100%;
    background:  #f0f4f5;
    z-index:  0;
}
.backdrop:before  {
    right:  -100%;
}
.backdrop:after  {
    left:  -100%;
}
.headline  {
    margin-top:  5%;
}
#scroll-story  {
    position:  relative;
}
#scroll-story *:not(input)  {
    -webkit-user-select:  none;
    -moz-user-select:  none;
    -ms-user-select:  none;
    -o-user-select:  none;
    user-select:  none;
}
.loading #scroll-story .bg  {
    -webkit-transform:  translateY(0) rotate(0);
    -moz-transform:  translateY(0) rotate(0);
    -ms-transform:  translateY(0) rotate(0);
    -o-transform:  translateY(0) rotate(0);
    transform:  translateY(0) rotate(0);
    -webkit-transition:  none;
    -moz-transition:  none;
    -o-transition:  none;
    transition:  none;
}
#scroll-story section  {
    position:  fixed;
    z-index:  8;
    overflow:  hidden;
}
#scroll-story section .bg  {
    position:  absolute;
    top:  -75px;
    right:  0;
    bottom:  -75px;
    left:  -100px;
    margin:  0;
    background-position:  center bottom;
    background-repeat:  no-repeat;
    opacity:  0;
    -webkit-background-size:  cover;
    -moz-background-size:  cover;
    -o-background-size:  cover;
    background-size:  cover;
    -webkit-transition:  all 2.8s cubic-bezier(0.075,  0.82,  0.165,  1);
    -moz-transition:  all 2.8s cubic-bezier(0.075,  0.82,  0.165,  1);
    -o-transition:  all 2.8s cubic-bezier(0.075,  0.82,  0.165,  1);
    transition:  all 2.8s cubic-bezier(0.075,  0.82,  0.165,  1);
    -webkit-transform:  translateY(-75px);
    -moz-transform:  translateY(-75px);
    -ms-transform:  translateY(-75px);
    -o-transform:  translateY(-75px);
    transform:  translateY(-75px);
    -webkit-animation-fill-mode:  forwards;
    -moz-animation-fill-mode:  forwards;
    animation-fill-mode:  forwards;
}
#scroll-story section .bg[data-transition="upIn"]  {
    -webkit-transform:  translateY(0) rotate(0);
    -moz-transform:  translateY(0) rotate(0);
    -ms-transform:  translateY(0) rotate(0);
    -o-transform:  translateY(0) rotate(0);
    transform:  translateY(0) rotate(0);
}
#scroll-story section .bg[data-transition="upOut"]  {
    -webkit-transform:  translateY(-75px) rotate(-1.5deg);
    -moz-transform:  translateY(-75px) rotate(-1.5deg);
    -ms-transform:  translateY(-75px) rotate(-1.5deg);
    -o-transform:  translateY(-75px) rotate(-1.5deg);
    transform:  translateY(-75px) rotate(-1.5deg);
}
#scroll-story section .bg[data-transition="downOut"]  {
    -webkit-transform:  translateY(75px) rotate(1.5deg);
    -moz-transform:  translateY(75px) rotate(1.5deg);
    -ms-transform:  translateY(75px) rotate(1.5deg);
    -o-transform:  translateY(75px) rotate(1.5deg);
    transform:  translateY(75px) rotate(1.5deg);
}
#scroll-story section:nth-child(1) .bg  {
    background-image:  url("../img/landing/backgrounds/xsmall/1.jpg");
}
@media (min-width: 321px)  {
    #scroll-story section:nth-child(1) .bg  {
        background-image:  url("../img/landing/backgrounds/small/1.jpg");
    }
}
@media (min-width: 769px)  {
    #scroll-story section:nth-child(1) .bg  {
        background-image:  url("../img/landing/backgrounds/medium/1.jpg");
    }
}
@media (min-width: 961px)  {
    #scroll-story section:nth-child(1) .bg  {
        background-image:  url("../img/landing/backgrounds/large/1.jpg");
    }
}
@media (min-width: 1441px)  {
    #scroll-story section:nth-child(1) .bg  {
        background-image:  url("../img/landing/backgrounds/xlarge/1.jpg");
    }
}
#scroll-story section:nth-child(2) .bg  {
    background-image:  url("../img/landing/backgrounds/xsmall/2.jpg");
}
@media (min-width: 321px)  {
    #scroll-story section:nth-child(2) .bg  {
        background-image:  url("../img/landing/backgrounds/small/2.jpg");
    }
}
@media (min-width: 769px)  {
    #scroll-story section:nth-child(2) .bg  {
        background-image:  url("../img/landing/backgrounds/medium/2.jpg");
    }
}
@media (min-width: 961px)  {
    #scroll-story section:nth-child(2) .bg  {
        background-image:  url("../img/landing/backgrounds/large/2.jpg");
    }
}
@media (min-width: 1441px)  {
    #scroll-story section:nth-child(2) .bg  {
        background-image:  url("../img/landing/backgrounds/xlarge/2.jpg");
    }
}
#scroll-story section:nth-child(3) .bg  {
    background-image:  url("../img/landing/backgrounds/xsmall/3.jpg");
}
@media (min-width: 321px)  {
    #scroll-story section:nth-child(3) .bg  {
        background-image:  url("../img/landing/backgrounds/small/3.jpg");
    }
}
@media (min-width: 769px)  {
    #scroll-story section:nth-child(3) .bg  {
        background-image:  url("../img/landing/backgrounds/medium/3.jpg");
    }
}
@media (min-width: 961px)  {
    #scroll-story section:nth-child(3) .bg  {
        background-image:  url("../img/landing/backgrounds/large/3.jpg");
    }
}
@media (min-width: 1441px)  {
    #scroll-story section:nth-child(3) .bg  {
        background-image:  url("../img/landing/backgrounds/xlarge/3.jpg");
    }
}
#scroll-story section:nth-child(4) .bg  {
    background-image:  url("../img/landing/backgrounds/xsmall/4.jpg");
}
@media (min-width: 321px)  {
    #scroll-story section:nth-child(4) .bg  {
        background-image:  url("../img/landing/backgrounds/small/4.jpg");
    }
}
@media (min-width: 769px)  {
    #scroll-story section:nth-child(4) .bg  {
        background-image:  url("../img/landing/backgrounds/medium/4.jpg");
    }
}
@media (min-width: 961px)  {
    #scroll-story section:nth-child(4) .bg  {
        background-image:  url("../img/landing/backgrounds/large/4.jpg");
    }
}
@media (min-width: 1441px)  {
    #scroll-story section:nth-child(4) .bg  {
        background-image:  url("../img/landing/backgrounds/xlarge/4.jpg");
    }
}
#scroll-story section:nth-child(5)  {
    z-index:  12 !important;
    margin-left:  -100%;
}
#scroll-story section:nth-child(5).active,  #scroll-story section:nth-child(5).animate-out  {
    margin-left:  0;
}
#scroll-story section:nth-child(5) .bg  {
    left:  0;
    background-position:  left bottom;
    background-image:  url("../img/landing/backgrounds/xsmall/5.jpg");
    -webkit-transform:  translate3d(0,  0,  102px) rotate(0) scale(1.1);
    -moz-transform:  translate3d(0,  0,  102px) rotate(0) scale(1.1);
    -ms-transform:  translate3d(0,  0,  102px) rotate(0) scale(1.1);
    -o-transform:  translate3d(0,  0,  102px) rotate(0) scale(1.1);
    transform:  translate3d(0,  0,  102px) rotate(0) scale(1.1);
    -webkit-transition:  all 1.5s cubic-bezier(0.075,  0.82,  0.165,  1);
    -moz-transition:  all 1.5s cubic-bezier(0.075,  0.82,  0.165,  1);
    -o-transition:  all 1.5s cubic-bezier(0.075,  0.82,  0.165,  1);
    transition:  all 1.5s cubic-bezier(0.075,  0.82,  0.165,  1);
}
@media (min-width: 321px)  {
    #scroll-story section:nth-child(5) .bg  {
        background-image:  url("../img/landing/backgrounds/small/5.jpg");
    }
}
@media (min-width: 769px)  {
    #scroll-story section:nth-child(5) .bg  {
        background-image:  url("../img/landing/backgrounds/medium/5.jpg");
    }
}
@media (min-width: 961px)  {
    #scroll-story section:nth-child(5) .bg  {
        background-image:  url("../img/landing/backgrounds/large/5.jpg");
    }
}
@media (min-width: 1441px)  {
    #scroll-story section:nth-child(5) .bg  {
        background-image:  url("../img/landing/backgrounds/xlarge/5.jpg");
    }
}
@media (min-width: 769px)  {
    #scroll-story section:nth-child(5) .bg  {
        left:  -75px;
        background-position:  center bottom;
    }
}
#scroll-story section:nth-child(4) h1,  #scroll-story section:nth-child(4) p,  #scroll-story section:nth-child(5) h1,  #scroll-story section:nth-child(5) p  {
    color:  white;
}
#scroll-story section.active  {
    z-index:  9;
}
#scroll-story section.active .bg  {
    opacity:  1;
    -webkit-transform:  translateY(0) rotate(0) scale(1);
    -moz-transform:  translateY(0) rotate(0) scale(1);
    -ms-transform:  translateY(0) rotate(0) scale(1);
    -o-transform:  translateY(0) rotate(0) scale(1);
    transform:  translateY(0) rotate(0) scale(1);
}
#scroll-story section.active .outer  {
    opacity:  1;
    -webkit-transition:  opacity 0.4s 0s;
    -webkit-transition-delay:  cubic-bezier(0.075,  0.82,  0.165,  1);
    -moz-transition:  opacity 0.4s 0s cubic-bezier(0.075,  0.82,  0.165,  1);
    -o-transition:  opacity 0.4s 0s cubic-bezier(0.075,  0.82,  0.165,  1);
    transition:  opacity 0.4s 0s cubic-bezier(0.075,  0.82,  0.165,  1);
}
#scroll-story section.active .outer h1,  #scroll-story section.active .outer p,  #scroll-story section.active .outer hr  {
    opacity:  1;
    -webkit-transform:  translate3d(0,  0,  0) skewX(0deg);
    -moz-transform:  translate3d(0,  0,  0) skewX(0deg);
    -ms-transform:  translate3d(0,  0,  0) skewX(0deg);
    -o-transform:  translate3d(0,  0,  0) skewX(0deg);
    transform:  translate3d(0,  0,  0) skewX(0deg);
}
#scroll-story section.active.move .bg  {
    -webkit-transform:  translate3d(94px,  0,  0) rotate(1deg);
    -moz-transform:  translate3d(94px,  0,  0) rotate(1deg);
    -ms-transform:  translate3d(94,  0,  0) rotate(1deg);
    -o-transform:  translate3d(94px,  0,  0) rotate(1deg);
    transform:  translate3d(94px,  0,  0) rotate(1deg);
    -webkit-transition:  -webkit-transform 36s linear;
    -moz-transition:  -moz-transform 36s linear;
    -o-transition:  -o-transform 36s linear;
    transition:  transform 36s linear;
}
#scroll-story section .outer  {
    position:  absolute;
    top:  10%;
    left:  0;
    margin:  0;
    padding-top:  7.5%;
    opacity:  0;
    z-index:  5;
    width:  auto;
    -webkit-transition:  opacity 0.1s 0s;
    -webkit-transition-delay:  cubic-bezier(0.075,  0.82,  0.165,  1);
    -moz-transition:  opacity 0.1s 0s cubic-bezier(0.075,  0.82,  0.165,  1);
    -o-transition:  opacity 0.1s 0s cubic-bezier(0.075,  0.82,  0.165,  1);
    transition:  opacity 0.1s 0s cubic-bezier(0.075,  0.82,  0.165,  1);
}
#scroll-story section .headline, #scroll-story section .inner  {
    max-width:  600px;
}
#scroll-story section .inner  {
    width:  100%;
    overflow:  visible;
}
#scroll-story section h1,  #scroll-story section p,  #scroll-story section hr  {
    opacity:  0;
}
#scroll-story section h1,  #scroll-story section hr  {
    -webkit-transition:  all 1.25s 0.8s;
    -webkit-transition-delay:  cubic-bezier(0.645,  0.045,  0.355,  1);
    -moz-transition:  all 1.25s 0.8s cubic-bezier(0.645,  0.045,  0.355,  1);
    -o-transition:  all 1.25s 0.8s cubic-bezier(0.645,  0.045,  0.355,  1);
    transition:  all 1.25s 0.8s cubic-bezier(0.645,  0.045,  0.355,  1);
    -webkit-transform:  translate3d(-50px,  -5px,  0) skewX(3deg);
    -moz-transform:  translate3d(-50px,  -5px,  0) skewX(3deg);
    -ms-transform:  translate3d(-50px,  -5px,  0) skewX(3deg);
    -o-transform:  translate3d(-50px,  -5px,  0) skewX(3deg);
    transform:  translate3d(-50px,  -5px,  0) skewX(3deg);
}
#scroll-story section h1  {
    margin-bottom:  0.5em;
}
#scroll-story section hr  {
    display:  none;
}
/*#scroll-story section p  {
    font-size:  1.6em;
    -webkit-transition:  all 1.25s 1s;
    -webkit-transition-delay:  cubic-bezier(0.645,  0.045,  0.355,  1);
    -moz-transition:  all 1.25s 1s cubic-bezier(0.645,  0.045,  0.355,  1);
    -o-transition:  all 1.25s 1s cubic-bezier(0.645,  0.045,  0.355,  1);
    transition:  all 1.25s 1s cubic-bezier(0.645,  0.045,  0.355,  1);
    -webkit-transform:  translate3d(-50px,  0,  0) skewX(3deg);
    -moz-transform:  translate3d(-50px,  0,  0) skewX(3deg);
    -ms-transform:  translate3d(-50px,  0,  0) skewX(3deg);
    -o-transform:  translate3d(-50px,  0,  0) skewX(3deg);
    transform:  translate3d(-50px,  0,  0) skewX(3deg);
}
#scroll-story section p:nth-of-type(1)  {
    -webkit-transition:  all 1.25s 0.9s;
    -webkit-transition-delay:  cubic-bezier(0.645,  0.045,  0.355,  1);
    -moz-transition:  all 1.25s 0.9s cubic-bezier(0.645,  0.045,  0.355,  1);
    -o-transition:  all 1.25s 0.9s cubic-bezier(0.645,  0.045,  0.355,  1);
    transition:  all 1.25s 0.9s cubic-bezier(0.645,  0.045,  0.355,  1);
    -webkit-transform:  translate3d(-50px,  -3px,  0);
    -moz-transform:  translate3d(-50px,  -3px,  0);
    -ms-transform:  translate3d(-50px,  -3px,  0);
    -o-transform:  translate3d(-50px,  -3px,  0);
    transform:  translate3d(-50px,  -3px,  0);
}*/
#scroll-story section .btn,  #scroll-story section .btn-red,  #scroll-story section .btn-submit,  #scroll-story section .btn-share,  #scroll-story section .btn-white,  #scroll-story section .btn-cancel,  #scroll-story section .btn-gray,  #scroll-story section .btn-noborder,  #scroll-story section .btn-continue,  #scroll-story section .btn-getquote,  #scroll-story section .btn-grayborder  {
    margin-top:  2.5%;
}
.no-csstransitions #scroll-story  {
    position:  static;
    height:  100%;
}
.no-csstransitions #scroll-story .bg  {
    opacity:  1;
    top:  0;
    right:  0;
    bottom:  0;
    left:  0;
    -webkit-transform:  translateY(0) rotate(0);
    -moz-transform:  translateY(0) rotate(0);
    -ms-transform:  translateY(0) rotate(0);
    -o-transform:  translateY(0) rotate(0);
    transform:  translateY(0) rotate(0);
    -webkit-transition:  none;
    -moz-transition:  none;
    -o-transition:  none;
    transition:  none;
}
.no-csstransitions #scroll-story section  {
    position:  relative;
    height:  20%;
    top:  auto;
    left:  auto;
    right:  auto;
    bottom:  auto;
    margin:  0 !important;
}
.no-csstransitions #scroll-story .wrap,  .no-csstransitions #scroll-story .wrap > *  {
    opacity:  1;
    -webkit-transform:  none;
    -moz-transform:  none;
    -ms-transform:  none;
    -o-transform:  none;
    transform:  none;
}
.loading-indicator  {
    position:  fixed;
    z-index:  999;
    visibility:  hidden;
}
.loading .loading-indicator  {
    visibility:  visible;
}
.loading .loading-indicator .percentage  {
    -webkit-animation:  animateIn 2s cubic-bezier(0.19,  1,  0.22,  1) 0s 1;
    -moz-animation:  animateIn 2s cubic-bezier(0.19,  1,  0.22,  1) 0s 1;
    -ms-animation:  animateIn 2s cubic-bezier(0.19,  1,  0.22,  1) 0s 1;
    -o-animation:  animateIn 2s cubic-bezier(0.19,  1,  0.22,  1) 0s 1;
    animation:  animateIn 2s cubic-bezier(0.19,  1,  0.22,  1) 0s 1;
}
.initing .loading-indicator .percentage:after  {
    opacity:  1;
}
.loading-indicator .lt,  .loading-indicator .rt  {
    position:  absolute;
    width:  50%;
    height:  100%;
    background:  black;
}
.loading-indicator .lt  {
    left:  0;
    -webkit-transform:  translate3d(-120%,  0,  0);
    -moz-transform:  translate3d(-120%,  0,  0);
    -ms-transform:  translate3d(-120%,  0,  0);
    -o-transform:  translate3d(-120%,  0,  0);
    transform:  translate3d(-120%,  0,  0);
}
.loading-indicator .rt  {
    right:  0;
    -webkit-transform:  translate3d(120%,  0,  0);
    -moz-transform:  translate3d(120%,  0,  0);
    -ms-transform:  translate3d(120%,  0,  0);
    -o-transform:  translate3d(120%,  0,  0);
    transform:  translate3d(120%,  0,  0);
}
.loading-indicator .percentage  {
    position:  absolute;
    top:  50%;
    left:  50%;
    width:  280px;
    margin:  0 0 0 -140px;
    text-align:  center;
    color:  white;
    font-size:  2.8em;
    -webkit-transform:  translateY(-50%);
    -moz-transform:  translateY(-50%);
    -ms-transform:  translateY(-50%);
    -o-transform:  translateY(-50%);
    transform:  translateY(-50%);
    -webkit-animation:  animateOut 1.2s cubic-bezier(0.19,  1,  0.22,  1) 0s 1;
    -moz-animation:  animateOut 1.2s cubic-bezier(0.19,  1,  0.22,  1) 0s 1;
    -ms-animation:  animateOut 1.2s cubic-bezier(0.19,  1,  0.22,  1) 0s 1;
    -o-animation:  animateOut 1.2s cubic-bezier(0.19,  1,  0.22,  1) 0s 1;
    animation:  animateOut 1.2s cubic-bezier(0.19,  1,  0.22,  1) 0s 1;
}
.loading-indicator .percentage:after  {
    content:  "";
    position:  absolute;
    top:  50%;
    right:  0;
    width:  0;
    height:  0;
    opacity:  0;
    background-color:  transparent;
    border-radius:  100%;
    box-shadow:  0 0 5px 1px rgba(82,  197,  207,  0);
    -webkit-animation:  blink 1s ease 0s infinite;
    -moz-animation:  blink 1s ease 0s infinite;
    -ms-animation:  blink 1s ease 0s infinite;
    -o-animation:  blink 1s ease 0s infinite;
    animation:  blink 1s ease 0s infinite;
}
.loader-bar  {
    position:  absolute;
    bottom:  0;
    left:  0;
    right:  0;
    height:  3px;
    z-index:  9;
    display:  none;
}
.loading .loader-bar div  {
    height:  100%;
    opacity:  1;
}
.loader-bar div  {
    position:  absolute;
    top:  0;
    left:  0;
    width:  0;
    height:  100%;
    opacity:  0;
    background:  #bb0000;
}
.down-arrow  {
    position:  fixed;
    bottom:  0;
    left:  50%;
    width:  80px;
    height:  60px;
    margin-left:  -40px;
    z-index:  99;
    cursor:  pointer;
    -webkit-transform:  rotate(90deg);
    -moz-transform:  rotate(90deg);
    -ms-transform:  rotate(90deg);
    -o-transform:  rotate(90deg);
    transform:  rotate(90deg);
    -webkit-transition:  margin-left 0.4s cubic-bezier(0.645,  0.045,  0.355,  1),  opacity 0.26667s cubic-bezier(0.645,  0.045,  0.355,  1);
    -moz-transition:  margin-left 0.4s cubic-bezier(0.645,  0.045,  0.355,  1),  opacity 0.26667s cubic-bezier(0.645,  0.045,  0.355,  1);
    -o-transition:  margin-left 0.4s cubic-bezier(0.645,  0.045,  0.355,  1),  opacity 0.26667s cubic-bezier(0.645,  0.045,  0.355,  1);
    transition:  margin-left 0.4s cubic-bezier(0.645,  0.045,  0.355,  1),  opacity 0.26667s cubic-bezier(0.645,  0.045,  0.355,  1);
}
.viewing-page-5 .down-arrow  {
    opacity:  0;
    cursor:  default;
    pointer-events:  none;
}
.nav-is-open .down-arrow  {
    margin-left:  -258px;
}
@media (device-height: 480px)  {
    .down-arrow  {
        bottom:  -40px;
    }
    .down-arrow .a,  .down-arrow .b  {
        display:  none;
    }
}
/*.down-arrow div  {
    float:  left;
    width:  33.333%;
    height:  100%;
    margin:  0 -12px 0 4px;
    background:  url(../img/svg/arrow.svg) no-repeat center center;
}*/
.down-arrow div {
    float: left;
    width: 40px;
    height: 40px;
    margin: 0px -12px 0 4px;
    background: url(../img/svg/arrow.svg) no-repeat center center;
    border: 2px solid #fff;
    border-radius: 50%;
    background-size: 80% 80%;
}
.down-arrow .a  {
    -webkit-animation:  pulse 2s ease 0s infinite;
    -moz-animation:  pulse 2s ease 0s infinite;
    -ms-animation:  pulse 2s ease 0s infinite;
    -o-animation:  pulse 2s ease 0s infinite;
    animation:  pulse 2s ease 0s infinite;
}
.down-arrow .b  {
    -webkit-animation:  pulse 2s ease 1s infinite;
    -moz-animation:  pulse 2s ease 1s infinite;
    -ms-animation:  pulse 2s ease 1s infinite;
    -o-animation:  pulse 2s ease 1s infinite;
    animation:  pulse 2s ease 1s infinite;
}
.page-landing  {
    width:  100%;
    height:  100%;
    margin:  0;
    padding:  0;
    overflow:  hidden;
    display:  block;
    z-index:  9;
}
.page-landing-after{
    height:auto;
    overflow:visible;
}
.form-is-visible .page-landing .app  {
    overflow:  hidden;
}
.page-landing .header  {
    position:  fixed;
    z-index:  14;
}
.page-landing .content  {
    position:  absolute;
    top:  0;
    height:  100%;
    background-color:  transparent;
    padding:  0;
}
.page-landing .content:before  {
    display:  none;
}
.page-landing .book-flight  {
    z-index:  14;
}
.tiltShake  {
    -webkit-animation:  tiltShake 0.5s linear 0s 2;
    -moz-animation:  tiltShake 0.5s linear 0s 2;
    -ms-animation:  tiltShake 0.5s linear 0s 2;
    -o-animation:  tiltShake 0.5s linear 0s 2;
    animation:  tiltShake 0.5s linear 0s 2;
}
.no-touch .inner .card,  .no-touch .inner .bio,  .no-touch .inner .oneway-flight  {
    opacity:  0;
    -webkit-transform:  translateY(10px);
    -moz-transform:  translateY(10px);
    -ms-transform:  translateY(10px);
    -o-transform:  translateY(10px);
    transform:  translateY(10px);
}
.no-touch .inner .card.animate-in,  .no-touch .inner .card.already-animated,  .no-touch .inner .bio.animate-in,  .no-touch .inner .bio.already-animated,  .no-touch .inner .oneway-flight.animate-in,  .no-touch .inner .oneway-flight.already-animated  {
    opacity:  1;
    -webkit-transform:  translateY(0);
    -moz-transform:  translateY(0);
    -ms-transform:  translateY(0);
    -o-transform:  translateY(0);
    transform:  translateY(0);
}
@-webkit-keyframes fadeIn  {
    0%  {
        opacity:  0;
    }
    100%  {
        opacity:  1;
    }
}
@-moz-keyframes fadeIn  {
    0%  {
        opacity:  0;
    }
    100%  {
        opacity:  1;
    }
}
@-ms-keyframes fadeIn  {
    0%  {
        opacity:  0;
    }
    100%  {
        opacity:  1;
    }
}
@-o-keyframes fadeIn  {
    0%  {
        opacity:  0;
    }
    100%  {
        opacity:  1;
    }
}
@keyframes fadeIn  {
    0%  {
        opacity:  0;
    }
    100%  {
        opacity:  1;
    }
}
@-webkit-keyframes pulse  {
    0%,  50%,  100%  {
        opacity:  0.75;
    }
    50%  {
        opacity:  0.3;
    }
}
@-moz-keyframes pulse  {
    0%,  50%,  100%  {
        opacity:  0.75;
    }
    50%  {
        opacity:  0.3;
    }
}
@-ms-keyframes pulse  {
    0%,  50%,  100%  {
        opacity:  0.75;
    }
    50%  {
        opacity:  0.3;
    }
}
@-o-keyframes pulse  {
    0%,  50%,  100%  {
        opacity:  0.75;
    }
    50%  {
        opacity:  0.3;
    }
}
@keyframes pulse  {
    0%,  50%,  100%  {
        opacity:  0.75;
    }
    50%  {
        opacity:  0.3;
    }
}
@-webkit-keyframes tiltShake  {
    0%,  40%,  80%  {
        -webkit-transform:  rotate(0.095deg);
        -moz-transform:  rotate(0.095deg);
        -ms-transform:  rotate(0.095deg);
        -o-transform:  rotate(0.095deg);
        transform:  rotate(0.095deg);
    }
    20%,  100%  {
        -webkit-transform:  rotate(0);
        -moz-transform:  rotate(0);
        -ms-transform:  rotate(0);
        -o-transform:  rotate(0);
        transform:  rotate(0);
    }
    40%,  60%  {
        -webkit-transform:  rotate(-0.075deg);
        -moz-transform:  rotate(-0.075deg);
        -ms-transform:  rotate(-0.075deg);
        -o-transform:  rotate(-0.075deg);
        transform:  rotate(-0.075deg);
    }
}
@-moz-keyframes tiltShake  {
    0%,  40%,  80%  {
        -webkit-transform:  rotate(0.095deg);
        -moz-transform:  rotate(0.095deg);
        -ms-transform:  rotate(0.095deg);
        -o-transform:  rotate(0.095deg);
        transform:  rotate(0.095deg);
    }
    20%,  100%  {
        -webkit-transform:  rotate(0);
        -moz-transform:  rotate(0);
        -ms-transform:  rotate(0);
        -o-transform:  rotate(0);
        transform:  rotate(0);
    }
    40%,  60%  {
        -webkit-transform:  rotate(-0.075deg);
        -moz-transform:  rotate(-0.075deg);
        -ms-transform:  rotate(-0.075deg);
        -o-transform:  rotate(-0.075deg);
        transform:  rotate(-0.075deg);
    }
}
@-ms-keyframes tiltShake  {
    0%,  40%,  80%  {
        -webkit-transform:  rotate(0.095deg);
        -moz-transform:  rotate(0.095deg);
        -ms-transform:  rotate(0.095deg);
        -o-transform:  rotate(0.095deg);
        transform:  rotate(0.095deg);
    }
    20%,  100%  {
        -webkit-transform:  rotate(0);
        -moz-transform:  rotate(0);
        -ms-transform:  rotate(0);
        -o-transform:  rotate(0);
        transform:  rotate(0);
    }
    40%,  60%  {
        -webkit-transform:  rotate(-0.075deg);
        -moz-transform:  rotate(-0.075deg);
        -ms-transform:  rotate(-0.075deg);
        -o-transform:  rotate(-0.075deg);
        transform:  rotate(-0.075deg);
    }
}
@-o-keyframes tiltShake  {
    0%,  40%,  80%  {
        -webkit-transform:  rotate(0.095deg);
        -moz-transform:  rotate(0.095deg);
        -ms-transform:  rotate(0.095deg);
        -o-transform:  rotate(0.095deg);
        transform:  rotate(0.095deg);
    }
    20%,  100%  {
        -webkit-transform:  rotate(0);
        -moz-transform:  rotate(0);
        -ms-transform:  rotate(0);
        -o-transform:  rotate(0);
        transform:  rotate(0);
    }
    40%,  60%  {
        -webkit-transform:  rotate(-0.075deg);
        -moz-transform:  rotate(-0.075deg);
        -ms-transform:  rotate(-0.075deg);
        -o-transform:  rotate(-0.075deg);
        transform:  rotate(-0.075deg);
    }
}
@keyframes tiltShake  {
    0%,  40%,  80%  {
        -webkit-transform:  rotate(0.095deg);
        -moz-transform:  rotate(0.095deg);
        -ms-transform:  rotate(0.095deg);
        -o-transform:  rotate(0.095deg);
        transform:  rotate(0.095deg);
    }
    20%,  100%  {
        -webkit-transform:  rotate(0);
        -moz-transform:  rotate(0);
        -ms-transform:  rotate(0);
        -o-transform:  rotate(0);
        transform:  rotate(0);
    }
    40%,  60%  {
        -webkit-transform:  rotate(-0.075deg);
        -moz-transform:  rotate(-0.075deg);
        -ms-transform:  rotate(-0.075deg);
        -o-transform:  rotate(-0.075deg);
        transform:  rotate(-0.075deg);
    }
}
@-webkit-keyframes panLeft  {
    0%  {
        -webkit-transform:  translate3d(0,  0,  0) rotate(0) scale(1);
        -moz-transform:  translate3d(0,  0,  0) rotate(0) scale(1);
        -ms-transform:  translate3d(0,  0,  0) rotate(0) scale(1);
        -o-transform:  translate3d(0,  0,  0) rotate(0) scale(1);
        transform:  translate3d(0,  0,  0) rotate(0) scale(1);
    }
    100%  {
        -webkit-transform:  translate3d(4.5%,  0,  0) rotate(0) scale(1);
        -moz-transform:  translate3d(4.5%,  0,  0) rotate(0) scale(1);
        -ms-transform:  translate3d(4.5%,  0,  0) rotate(0) scale(1);
        -o-transform:  translate3d(4.5%,  0,  0) rotate(0) scale(1);
        transform:  translate3d(4.5%,  0,  0) rotate(0) scale(1);
    }
}
@-moz-keyframes panLeft  {
    0%  {
        -webkit-transform:  translate3d(0,  0,  0) rotate(0) scale(1);
        -moz-transform:  translate3d(0,  0,  0) rotate(0) scale(1);
        -ms-transform:  translate3d(0,  0,  0) rotate(0) scale(1);
        -o-transform:  translate3d(0,  0,  0) rotate(0) scale(1);
        transform:  translate3d(0,  0,  0) rotate(0) scale(1);
    }
    100%  {
        -webkit-transform:  translate3d(4.5%,  0,  0) rotate(0) scale(1);
        -moz-transform:  translate3d(4.5%,  0,  0) rotate(0) scale(1);
        -ms-transform:  translate3d(4.5%,  0,  0) rotate(0) scale(1);
        -o-transform:  translate3d(4.5%,  0,  0) rotate(0) scale(1);
        transform:  translate3d(4.5%,  0,  0) rotate(0) scale(1);
    }
}
@-ms-keyframes panLeft  {
    0%  {
        -webkit-transform:  translate3d(0,  0,  0) rotate(0) scale(1);
        -moz-transform:  translate3d(0,  0,  0) rotate(0) scale(1);
        -ms-transform:  translate3d(0,  0,  0) rotate(0) scale(1);
        -o-transform:  translate3d(0,  0,  0) rotate(0) scale(1);
        transform:  translate3d(0,  0,  0) rotate(0) scale(1);
    }
    100%  {
        -webkit-transform:  translate3d(4.5%,  0,  0) rotate(0) scale(1);
        -moz-transform:  translate3d(4.5%,  0,  0) rotate(0) scale(1);
        -ms-transform:  translate3d(4.5%,  0,  0) rotate(0) scale(1);
        -o-transform:  translate3d(4.5%,  0,  0) rotate(0) scale(1);
        transform:  translate3d(4.5%,  0,  0) rotate(0) scale(1);
    }
}
@-o-keyframes panLeft  {
    0%  {
        -webkit-transform:  translate3d(0,  0,  0) rotate(0) scale(1);
        -moz-transform:  translate3d(0,  0,  0) rotate(0) scale(1);
        -ms-transform:  translate3d(0,  0,  0) rotate(0) scale(1);
        -o-transform:  translate3d(0,  0,  0) rotate(0) scale(1);
        transform:  translate3d(0,  0,  0) rotate(0) scale(1);
    }
    100%  {
        -webkit-transform:  translate3d(4.5%,  0,  0) rotate(0) scale(1);
        -moz-transform:  translate3d(4.5%,  0,  0) rotate(0) scale(1);
        -ms-transform:  translate3d(4.5%,  0,  0) rotate(0) scale(1);
        -o-transform:  translate3d(4.5%,  0,  0) rotate(0) scale(1);
        transform:  translate3d(4.5%,  0,  0) rotate(0) scale(1);
    }
}
@keyframes panLeft  {
    0%  {
        -webkit-transform:  translate3d(0,  0,  0) rotate(0) scale(1);
        -moz-transform:  translate3d(0,  0,  0) rotate(0) scale(1);
        -ms-transform:  translate3d(0,  0,  0) rotate(0) scale(1);
        -o-transform:  translate3d(0,  0,  0) rotate(0) scale(1);
        transform:  translate3d(0,  0,  0) rotate(0) scale(1);
    }
    100%  {
        -webkit-transform:  translate3d(4.5%,  0,  0) rotate(0) scale(1);
        -moz-transform:  translate3d(4.5%,  0,  0) rotate(0) scale(1);
        -ms-transform:  translate3d(4.5%,  0,  0) rotate(0) scale(1);
        -o-transform:  translate3d(4.5%,  0,  0) rotate(0) scale(1);
        transform:  translate3d(4.5%,  0,  0) rotate(0) scale(1);
    }
}
@-webkit-keyframes animateIn  {
    0%, 35%  {
        opacity:  0;
        -webkit-transform:  translate3d(0,  -150%,  0);
        -moz-transform:  translate3d(0,  -150%,  0);
        -ms-transform:  translate3d(0,  -150%,  0);
        -o-transform:  translate3d(0,  -150%,  0);
        transform:  translate3d(0,  -150%,  0);
    }
    90%  {
        opacity:  1;
        -webkit-transform:  translate3d(0,  -48.5%,  0);
        -moz-transform:  translate3d(0,  -48.5%,  0);
        -ms-transform:  translate3d(0,  -48.5%,  0);
        -o-transform:  translate3d(0,  -48.5%,  0);
        transform:  translate3d(0,  -48.5%,  0);
    }
    100%  {
        opacity:  1;
        -webkit-transform:  translate3d(0,  -50%,  0);
        -moz-transform:  translate3d(0,  -50%,  0);
        -ms-transform:  translate3d(0,  -50%,  0);
        -o-transform:  translate3d(0,  -50%,  0);
        transform:  translate3d(0,  -50%,  0);
    }
}
@-moz-keyframes animateIn  {
    0%, 35%  {
        opacity:  0;
        -webkit-transform:  translate3d(0,  -150%,  0);
        -moz-transform:  translate3d(0,  -150%,  0);
        -ms-transform:  translate3d(0,  -150%,  0);
        -o-transform:  translate3d(0,  -150%,  0);
        transform:  translate3d(0,  -150%,  0);
    }
    90%  {
        opacity:  1;
        -webkit-transform:  translate3d(0,  -48.5%,  0);
        -moz-transform:  translate3d(0,  -48.5%,  0);
        -ms-transform:  translate3d(0,  -48.5%,  0);
        -o-transform:  translate3d(0,  -48.5%,  0);
        transform:  translate3d(0,  -48.5%,  0);
    }
    100%  {
        opacity:  1;
        -webkit-transform:  translate3d(0,  -50%,  0);
        -moz-transform:  translate3d(0,  -50%,  0);
        -ms-transform:  translate3d(0,  -50%,  0);
        -o-transform:  translate3d(0,  -50%,  0);
        transform:  translate3d(0,  -50%,  0);
    }
}
@-ms-keyframes animateIn  {
    0%, 35%  {
        opacity:  0;
        -webkit-transform:  translate3d(0,  -150%,  0);
        -moz-transform:  translate3d(0,  -150%,  0);
        -ms-transform:  translate3d(0,  -150%,  0);
        -o-transform:  translate3d(0,  -150%,  0);
        transform:  translate3d(0,  -150%,  0);
    }
    90%  {
        opacity:  1;
        -webkit-transform:  translate3d(0,  -48.5%,  0);
        -moz-transform:  translate3d(0,  -48.5%,  0);
        -ms-transform:  translate3d(0,  -48.5%,  0);
        -o-transform:  translate3d(0,  -48.5%,  0);
        transform:  translate3d(0,  -48.5%,  0);
    }
    100%  {
        opacity:  1;
        -webkit-transform:  translate3d(0,  -50%,  0);
        -moz-transform:  translate3d(0,  -50%,  0);
        -ms-transform:  translate3d(0,  -50%,  0);
        -o-transform:  translate3d(0,  -50%,  0);
        transform:  translate3d(0,  -50%,  0);
    }
}
@-o-keyframes animateIn  {
    0%, 35%  {
        opacity:  0;
        -webkit-transform:  translate3d(0,  -150%,  0);
        -moz-transform:  translate3d(0,  -150%,  0);
        -ms-transform:  translate3d(0,  -150%,  0);
        -o-transform:  translate3d(0,  -150%,  0);
        transform:  translate3d(0,  -150%,  0);
    }
    90%  {
        opacity:  1;
        -webkit-transform:  translate3d(0,  -48.5%,  0);
        -moz-transform:  translate3d(0,  -48.5%,  0);
        -ms-transform:  translate3d(0,  -48.5%,  0);
        -o-transform:  translate3d(0,  -48.5%,  0);
        transform:  translate3d(0,  -48.5%,  0);
    }
    100%  {
        opacity:  1;
        -webkit-transform:  translate3d(0,  -50%,  0);
        -moz-transform:  translate3d(0,  -50%,  0);
        -ms-transform:  translate3d(0,  -50%,  0);
        -o-transform:  translate3d(0,  -50%,  0);
        transform:  translate3d(0,  -50%,  0);
    }
}
@keyframes animateIn  {
    0%, 35%  {
        opacity:  0;
        -webkit-transform:  translate3d(0,  -150%,  0);
        -moz-transform:  translate3d(0,  -150%,  0);
        -ms-transform:  translate3d(0,  -150%,  0);
        -o-transform:  translate3d(0,  -150%,  0);
        transform:  translate3d(0,  -150%,  0);
    }
    90%  {
        opacity:  1;
        -webkit-transform:  translate3d(0,  -48.5%,  0);
        -moz-transform:  translate3d(0,  -48.5%,  0);
        -ms-transform:  translate3d(0,  -48.5%,  0);
        -o-transform:  translate3d(0,  -48.5%,  0);
        transform:  translate3d(0,  -48.5%,  0);
    }
    100%  {
        opacity:  1;
        -webkit-transform:  translate3d(0,  -50%,  0);
        -moz-transform:  translate3d(0,  -50%,  0);
        -ms-transform:  translate3d(0,  -50%,  0);
        -o-transform:  translate3d(0,  -50%,  0);
        transform:  translate3d(0,  -50%,  0);
    }
}
@-webkit-keyframes animateOut  {
    0%  {
        opacity:  1;
        -webkit-transform:  translate3d(0,  -50%,  0);
        -moz-transform:  translate3d(0,  -50%,  0);
        -ms-transform:  translate3d(0,  -50%,  0);
        -o-transform:  translate3d(0,  -50%,  0);
        transform:  translate3d(0,  -50%,  0);
    }
    100%  {
        opacity:  0;
        -webkit-transform:  translate3d(0,  -100%,  0);
        -moz-transform:  translate3d(0,  -100%,  0);
        -ms-transform:  translate3d(0,  -100%,  0);
        -o-transform:  translate3d(0,  -100%,  0);
        transform:  translate3d(0,  -100%,  0);
    }
}
@-moz-keyframes animateOut  {
    0%  {
        opacity:  1;
        -webkit-transform:  translate3d(0,  -50%,  0);
        -moz-transform:  translate3d(0,  -50%,  0);
        -ms-transform:  translate3d(0,  -50%,  0);
        -o-transform:  translate3d(0,  -50%,  0);
        transform:  translate3d(0,  -50%,  0);
    }
    100%  {
        opacity:  0;
        -webkit-transform:  translate3d(0,  -100%,  0);
        -moz-transform:  translate3d(0,  -100%,  0);
        -ms-transform:  translate3d(0,  -100%,  0);
        -o-transform:  translate3d(0,  -100%,  0);
        transform:  translate3d(0,  -100%,  0);
    }
}
@-ms-keyframes animateOut  {
    0%  {
        opacity:  1;
        -webkit-transform:  translate3d(0,  -50%,  0);
        -moz-transform:  translate3d(0,  -50%,  0);
        -ms-transform:  translate3d(0,  -50%,  0);
        -o-transform:  translate3d(0,  -50%,  0);
        transform:  translate3d(0,  -50%,  0);
    }
    100%  {
        opacity:  0;
        -webkit-transform:  translate3d(0,  -100%,  0);
        -moz-transform:  translate3d(0,  -100%,  0);
        -ms-transform:  translate3d(0,  -100%,  0);
        -o-transform:  translate3d(0,  -100%,  0);
        transform:  translate3d(0,  -100%,  0);
    }
}
@-o-keyframes animateOut  {
    0%  {
        opacity:  1;
        -webkit-transform:  translate3d(0,  -50%,  0);
        -moz-transform:  translate3d(0,  -50%,  0);
        -ms-transform:  translate3d(0,  -50%,  0);
        -o-transform:  translate3d(0,  -50%,  0);
        transform:  translate3d(0,  -50%,  0);
    }
    100%  {
        opacity:  0;
        -webkit-transform:  translate3d(0,  -100%,  0);
        -moz-transform:  translate3d(0,  -100%,  0);
        -ms-transform:  translate3d(0,  -100%,  0);
        -o-transform:  translate3d(0,  -100%,  0);
        transform:  translate3d(0,  -100%,  0);
    }
}
@keyframes animateOut  {
    0%  {
        opacity:  1;
        -webkit-transform:  translate3d(0,  -50%,  0);
        -moz-transform:  translate3d(0,  -50%,  0);
        -ms-transform:  translate3d(0,  -50%,  0);
        -o-transform:  translate3d(0,  -50%,  0);
        transform:  translate3d(0,  -50%,  0);
    }
    100%  {
        opacity:  0;
        -webkit-transform:  translate3d(0,  -100%,  0);
        -moz-transform:  translate3d(0,  -100%,  0);
        -ms-transform:  translate3d(0,  -100%,  0);
        -o-transform:  translate3d(0,  -100%,  0);
        transform:  translate3d(0,  -100%,  0);
    }
}
@-webkit-keyframes whisp  {
    from  {
        background-position:  0px 0px;
    }
    to  {
        background-position:  0px -1650px;
    }
}
@-moz-keyframes whisp  {
    from  {
        background-position:  0px 0px;
    }
    to  {
        background-position:  0px -1650px;
    }
}
@-ms-keyframes whisp  {
    from  {
        background-position:  0px 0px;
    }
    to  {
        background-position:  0px -1650px;
    }
}
@-o-keyframes whisp  {
    from  {
        background-position:  0px 0px;
    }
    to  {
        background-position:  0px -1650px;
    }
}
@keyframes whisp  {
    from  {
        background-position:  0px 0px;
    }
    to  {
        background-position:  0px -1650px;
    }
}
@-webkit-keyframes blink  {
    0%, 100%  {
        box-shadow:  0 0 5px 1px rgba(82,  197,  207,  0);
    }
    50%  {
        box-shadow:  0 0 16px 4px #52c5cf;
    }
}
@-moz-keyframes blink  {
    0%, 100%  {
        box-shadow:  0 0 5px 1px rgba(82,  197,  207,  0);
    }
    50%  {
        box-shadow:  0 0 16px 4px #52c5cf;
    }
}
@-ms-keyframes blink  {
    0%, 100%  {
        box-shadow:  0 0 5px 1px rgba(82,  197,  207,  0);
    }
    50%  {
        box-shadow:  0 0 16px 4px #52c5cf;
    }
}
@-o-keyframes blink  {
    0%, 100%  {
        box-shadow:  0 0 5px 1px rgba(82,  197,  207,  0);
    }
    50%  {
        box-shadow:  0 0 16px 4px #52c5cf;
    }
}
@keyframes blink  {
    0%, 100%  {
        box-shadow:  0 0 5px 1px rgba(82,  197,  207,  0);
    }
    50%  {
        box-shadow:  0 0 16px 4px #52c5cf;
    }
}
.logout-confirm{
    display: inline-block;
    width: 100%;
    text-align: center;
    height: 100%;
    margin: 10% 0;
    color:#df0202;
}
/*Start of Header Icons*/
.icon{
    display: block;
    height: 37px;
    width: 100%;
    background-size: auto 37px!important;
}
.icon-game-grey{
    background: url(../img/images/game-grey.png) center center no-repeat;
}
.icon-campaign-grey{
    background: url(../img/images/campaign-grey.png) center center no-repeat;
}
.icon-comics-grey{
    background: url(../img/images/comics-grey.png) center center no-repeat;
}
.icon-interview-grey{
    background: url(../img/images/interview-grey.png) center center no-repeat;
}
.icon-value-grey{
    background: url(../img/images/value-grey.png) center center no-repeat;
}
.icon-questionare-grey{
    background: url(../img/images/questionare-grey.png) center center no-repeat;
}
.icon-west-brand-grey{
    background: url(../img/images/west-brand-grey.png) center center no-repeat;
}
.icon-west-hunt-grey{
    background: url(../img/images/west-hunt-grey.png) center center no-repeat;
}
.icon-landmark-grey{
    background: url(../img/images/landmark-grey.png) center center no-repeat;
}



.menu-icons .icon-game{
    background: url(../img/images/game.png) center center no-repeat;
}
.menu-icons .icon-campaign{
    background: url(../img/images/campaign.png) center center no-repeat;
}
.menu-icons .icon-comics{
    background: url(../img/images/comics.png) center center no-repeat;
}
.menu-icons .icon-interview{
    background: url(../img/images/interview.png) center center no-repeat;
}
.menu-icons .icon-value{
    background: url(../img/images/value.png) center center no-repeat;
}
.menu-icons .icon-questionare{
    background: url(../img/images/questionare.png) center center no-repeat;
}
.menu-icons .icon-west-brand{
    background: url(../img/images/west-brand.png) center center no-repeat;
}
.menu-icons .icon-west-hunt{
    background: url(../img/images/west-hunt.png) center center no-repeat;
}
.menu-icons .icon-landmark{
    background: url(../img/images/landmark.png) center center no-repeat;
}
.menu-icons.active .icon-game{
    background: url(../img/images/game-active.png) center center no-repeat;
}
.menu-icons.active .icon-campaign{
    background: url(../img/images/campaign-active.png) center center no-repeat;
}
.menu-icons.active .icon-comics{
    background: url(../img/images/comics-active.png) center center no-repeat;
}
.menu-icons.active .icon-interview{
    background: url(../img/images/interview-active.png) center center no-repeat;
}
.menu-icons.active .icon-value{
    background: url(../img/images/value-active.png) center center no-repeat;
}
.menu-icons.active .icon-questionare{
    background: url(../img/images/questionare-active.png) center center no-repeat;
}
.menu-icons.active .icon-west-brand{
    background: url(../img/images/west-brand-active.png) center center no-repeat;
}
.menu-icons.active .icon-west-hunt{
    background: url(../img/images/west-hunt-active.png) center center no-repeat;
}
.menu-icons.active .icon-landmark{
    background: url(../img/images/landmark-active.png) center center no-repeat;
}
.menu-icons:hover .icon-game{
    background: url(../img/images/game-active.png) center center no-repeat;
}
.menu-icons:hover .icon-campaign{
    background: url(../img/images/campaign-active.png) center center no-repeat;
}
.menu-icons:hover .icon-comics{
    background: url(../img/images/comics-active.png) center center no-repeat;
}
.menu-icons:hover .icon-interview{
    background: url(../img/images/interview-active.png) center center no-repeat;
}
.menu-icons:hover .icon-value{
    background: url(../img/images/value-active.png) center center no-repeat;
}
.menu-icons:hover .icon-questionare{
    background: url(../img/images/questionare-active.png) center center no-repeat;
}
.menu-icons:hover .icon-west-brand{
    background: url(../img/images/west-brand-active.png) center center no-repeat;
}
.menu-icons:hover .icon-west-hunt{
    background: url(../img/images/west-hunt-active.png) center center no-repeat;
}
.menu-icons:hover .icon-landmark{
    background: url(../img/images/landmark-active.png) center center no-repeat;
}
.navbar-default .navbar-nav > li > a.menu-icons:hover,
.navbar-default .navbar-nav > li > a.menu-icons:focus{
    color:#fff700;
}
/*End of Header Icons*/

/*Start of Grand Page*/
.pull-right  {
    float:  right;
}
.pull-left  {
    float:  left;
}
.hide,  .hidden  {
    display:  none;
}
.show  {
    display:  block;
}
.invisible  {
    visibility:  hidden;
}
.visible  {
    visibility:  visible;
}
.clearfix  {
    overflow:  hidden;
    *zoom:  1;
}
.down-arrow  {
    bottom:  25px;
    width:  100px;
    height:  67px;
    margin-left:  -50px;
}
.bg-content{
    position:absolute;
    left:0;
    width:100%;
    top:100px;
}
.bg-content-items{ 
    position:relative;
    max-width:60%;
    width:100%;
    margin:0 auto;
}
.bg-content-text{
    top:100px;
    display:inline-block;
}
.bg-content-text img{
    width:100%;
    margin-left:-17px;
    margin-top:25px;
}
.bg-logo{
    display:inline-block;
    left:0;
}
.bg-logo img{
    width:100%;
}
.bg-img-packet{
    display:inline-block;
}
.bg-img-packet img{
    width:100%
}
#content{
    height:100%;
    background-color:#fff;
    position: relative;
}
#content-inner {
    background-color: #fff;
    position: relative;
    z-index: 1;
    min-height:100%;
}
.header-fixed-top{
    position:fixed;
    width:100%;
    top:0;
    left:0;
    z-index:100;
    background-color: #fff;
    height:50px;
}
.header-content{
    max-width:80%;
    margin:0 auto;
}
.navbar-fixed-top{
    top:50px!important;
}
.center{
    text-align:center;
}
.navbar-default{
    background-color: #df0202!important;
    top: 50px!important;
    min-height: 1px!important;
    padding: 12px 0px 5px 0px;
    z-index:99;
}
.navbar-default .navbar-nav > li > a{
    color:#fff;
    margin: 0px 26px;
    cursor:pointer;
    padding:0;
}
ul.navbar-nav{
    float:none;
}
.navbar-default .navbar-nav > li{
    display:inline-block;
    float:none;
    margin:0px;
}
.navbar-default .navbar-nav > li > a.menu-icons span{
    display:block;
    text-align:center;
    margin-top:5px;
    font-size:13px;
}
.navbar-default .navbar-nav > li > a.menu-icons.active{
    color:#ffff00;
    text-shadow: 1px 1px #000;
}
.navbar-brand{
    float: none!important;
    display: inline-block;
    padding: 0px;
}
.navbar-brand img{
    margin-top:5px;
}
.menu-icons img{
    height:37px;
}
.page-content{
    margin:20px auto 100px;
    max-width:100%;
    width:100%;
    display:block;
}
.background-wow{
    background-image:url('../img/landing/backgrounds/large/1.jpg');
    background-repeat:no-repeat;
    background-position:100% 100%;
    background-size:cover;
}
.page-content-login{
    margin:50px auto 30px;
    max-width:80%;
    width:100%;
    display:block;
}
.header-page-login{ 
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 1;
}
.page-item img{
    width:100%; 
    border-radius:3px;
    border:1px solid #df0202;
}
.page-item-description{
    position:absolute;
    top:0;
    left:0;
    width:100%;

}
.page-item-description .img-inline{ 
    position: absolute;
    top: 40px;
    left: 25px;
}
.page-item-description .img-inline img{ 
    width: auto;
    border-radius: 0px;
    border: 0px;
}
.page-item:hover{
    opacity:0.7;
}
.west-hunt-values{
    text-align:center;
    height:100%;
}
.west-hunt-values img{
    width: auto;
    border-radius: 0px;
    border: 0px;
}
.west-hunt-values h3{
    color: #df0202;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 30px;
}
.west-hunt-values p{
    color: #df0202;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 600;
    margin-top: 5px;
}
.west-hunt-values a{
    margin: 40px 0px 15px;
}
body a:hover{
    text-decoration:none;
    cursor:pointer;
}
.west-hunt-values a:hover{
    color:#df0202;
}
.landmark-values{
    text-align:center;
    height:100%;
}
.landmark-values img{
    width: auto;
    border-radius: 0px;
    border: 0px;
}
.landmark-values h3{
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 30px;
}
.landmark-values p{
    color: #df0202;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 600;
    margin-top: 5px;
}
.landmark-values a{
    margin: 75px 0px 15px;
}
body a:hover , body a:focus, body a{
    text-decoration:none;
}
.west-hunt-values a:hover{
    color:#df0202;
}
.page-item-description-west{
    position:absolute;
    top:30px;
    left:0;
    width:100%;
    bottom:10px;
}
.page-item-description-landmark{
    position:absolute;
    top:30px;
    left:0;
    width:100%;
    bottom:10px;
}
.page-item-description-brand{
    position: absolute;
    top: 170px;
    left: 25px;
    width: 100%;
    bottom: 10px;
}
.page-item-description-brand p{
    color:#fff;
    font-size:27px;
    font-weight:200;
}
.top-brand{
    top:60px!important;
}
.top-questionare{
    top: 10px!important;
    left: 20px!important;
}
.page-item-questionare p.questionare-heading{
    display: inline-block;
    color: #df0202;
    font-size: 27px;
    margin: 0;
    vertical-align: middle;
    margin-left:10px;
}
.west-brand-values a{
    margin:50px 0px 15px;
}
a.grey-bg{
    color:#fff;
    font-size:16px;   
    font-weight:bold;    
    display: inline-block;
    background-color: #2c2c2c;
    padding: 5px 15px;
    border-radius: 18px;
}
a.red-proceed{
    color:#df0202;
    font-size:14px;
    display:inline-block;
    font-weight:600;
    position:relative;
    cursor:pointer;
}
a.red-proceed:after{
    content: '';
    background: url('../img/images/arrow-red.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    right: -10px;
    top: 0px;
    width: 8px;
    height: 14px;
    position: absolute;
}
a.white-proceed{
    color:#fff;
    font-size:14px;
    display:inline-block;
    font-weight:600;
    position:relative;
    cursor:pointer;
}
a.white-proceed:after{
    content: '';
    background: url('../img/images/arrow-white.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    right: -13px;
    top: 2px;
    width: 8px;
    height: 14px;
    position: absolute;
}
.questionare-items{
    position: absolute;
    top: 50px;
    padding: 10px;
}
.questionare-items img{
    border-radius:10px!important;
}
.questionare-items p{
    color:#000;
    font-size:11px;
}
.questionare-sumbit{
    width:100%;
    text-align:center;
}
.questionare-sumbit a.red-proceed{
    float: left;   
    margin-left: 10px;
}
.questionare-sumbit a{
    border-radius: 18px;
    margin-top: 10px;
}

.questionare-sumbit hr{
    width: 100%;
    max-width: 90%;
    margin: 10px auto;
    border-top: 1px solid #df0202;
}
.page-content .page-item{
    padding-bottom:10px;
    position:relative;
    cursor:pointer;
}
.page-item-value{
    position: absolute;
    bottom: 0px;
    padding: 20px 15px;
}
.page-item-value h3{
    color: #fff;
    font-weight: bold;
}
.page-item-value p{
    color: #fff;
    font-weight: 300;
    font-size: 13px;
    line-height: 1.5;
}
.page-item-comics{
    position: absolute;
    bottom: 0px;
    padding: 20px 15px;
}
.page-item-comics h3{
    color: #fff;
    font-weight: bold;
}
.page-item-comics p{
    color: #fff;
    font-weight: 300;
    font-size: 13px;
    line-height: 1.5;
}
.page-item-interview{
    position: absolute;
    bottom: 0px;
    padding: 20px 15px;
}
.page-item-interview h3{
    color: #df0202;
    font-weight: bold;
}
.page-item-interview p{
    color: #000;
    font-weight: 300;
    font-size: 13px;
    line-height: 1.5;
}
.page-item-game{
    position: absolute;
    bottom: 0px;
    padding: 20px 15px;
}
.page-item-game h3{
    color: #fff;
    font-weight: bold;
}
.page-item-game p{
    color: #fff;
    font-weight: 300;
    font-size: 13px;
    line-height: 1.5;
}
.page-item-campaign{
    position: absolute;
    bottom: 10px;
    padding: 0px 15px 15px;
    background-color: #df0202;
    width: 50%;
}
.page-item-campaign h3{
    color: #fff;
    font-weight: bold;
}
.page-item-campaign p{
    color: #fff;
    font-weight: 300;
    font-size: 13px;
    line-height: 1.5;
}
.page-content .col-xs-1, 
.page-content .col-sm-1, 
.page-content .col-md-1, 
.page-content .col-lg-1, 
.page-content .col-xs-2, 
.page-content .col-sm-2, 
.page-content .col-md-2, 
.page-content .col-lg-2, 
.page-content .col-xs-3, 
.page-content .col-sm-3, 
.page-content .col-md-3, 
.page-content .col-lg-3, 
.page-content .col-xs-4, 
.page-content .col-sm-4, 
.page-content .col-md-4, 
.page-content .col-lg-4, 
.page-content .col-xs-5, 
.page-content .col-sm-5, 
.page-content .col-md-5, 
.page-content .col-lg-5, 
.page-content .col-xs-6, 
.page-content .col-sm-6, 
.page-content .col-md-6, 
.page-content .col-lg-6, 
.page-content .col-xs-7, 
.page-content .col-sm-7, 
.page-content .col-md-7, 
.page-content .col-lg-7, 
.page-content .col-xs-8, 
.page-content .col-sm-8, 
.page-content .col-md-8, 
.page-content .col-lg-8, 
.page-content .col-xs-9, 
.page-content .col-sm-9, 
.page-content .col-md-9, 
.page-content .col-lg-9, 
.page-content .col-xs-10, 
.page-content .col-sm-10, 
.page-content .col-md-10, 
.page-content .col-lg-10, 
.page-content .col-xs-11, 
.page-content .col-sm-11, 
.page-content .col-md-11, 
.page-content .col-lg-11, 
.page-content .col-xs-12, 
.page-content .col-sm-12, 
.page-content .col-md-12, 
.page-content .col-lg-12 {
    padding-right: 5px!important;
    padding-left: 5px!important;
}
.page-content .row{
    margin-left:-5px!important;
    margin-right:-5px!important;
}
ul.header-coins-counter{
    list-style-type:none;
    margin:0;
    padding:10px;
    display: inline-block;
    float: right;
    position:relative;
    cursor:pointer;
    padding-right:0px;
}
ul.header-coins-counter label{   
    text-align:right;
    background-color: #000;
    color: #ffff00;
    border: none;
    border-radius: 25px;
    width: 140px;
    padding: 2px 10px 2px 5px;
    font-size: 20px;
    font-weight: 400;
    margin:2px;    
}
ul.header-coins-counter p{
    color:#000;
    font-size: 14px;
    font-weight: bold;
}
ul.header-coins-counter li{
    display:inline-block;
    position:relative;
    padding: 0px 6px;
}
ul.header-coins-counter li i{
    position:absolute;
    left:-6px;
    top:-7px;
}
ul.header-coins-counter li i img{
    width:55px;
}
ul.coins-reward{
    list-style-type: none;
    padding:0;
    margin:0;
}
ul.coins-reward li{
    position:relative;
}
ul.coins-reward li img{ 
    border-radius: 3px 3px 0px 0px!important;
    width:100%;
}
.coins-dropdown{
    position:absolute!important;
    left:0;
    top:50px;
}
ul.my-page-options{
    padding:0;
    margin:0;
    list-style-type:none;
    border-radius: 3px;
    border: 1px solid #000;
}
ul.my-page-options li{
    display:block;
    background-color:#fff;
    padding:10px;
    border-bottom:1px solid #000;

}
ul.my-page-options li small{
    position: absolute;
    right: 10px;
    top: 12px;
    font-size: 21px;
    color: #2c2c2c;
}
ul.my-page-options li:first-child{
    border-radius:3px 3px 0px 0px;
}
ul.my-page-options li:last-child{
    border-radius:0px 0px 3px 3px;
    border-bottom:0px;
}
ul.my-page-options li:hover{
    background-color:#d5ccce;
}
ul.my-page-options li a{
    font-size:18px;
    color:#2c2c2c;
    padding-right:65px;
}
.reward-description{
    position:absolute;
    top:40%;
    left:0px;
    width:100%;
}
.reward-description-item{
    text-align:center;
}
.reward-description-item p{
    color:#fff;
    font-size:16px;
}
.reward-description-item h3{
    color: #fff;
    text-shadow: 10px -2px 0px rgba(0, 0, 0, 0.5);
    font-size: 60px;
    margin: 0;
    margin-bottom: 10px;
    font-weight:bold;
}
.people-switch{
    background-color: #fff;
    border: 1px solid #df0202;
    display: block;
    padding: 10px 25px;
    margin-top: 10px;
    border-radius: 3px;
}
.people-switch .btn-campaign{
    margin-top: 10px;
    background-color: #2c2c2c;
    padding: 3px 15px;
}
.people-switch img{
    width:48px;
    border:0px;
}
.reward-campaign{
    border: 1px solid #df0202;
    border-top: 0px;
    padding: 20px 16px;
}
.reward-campaign h3{
    font-weight:normal;
    margin:0px;
    color:#df0202;
}
.reward-campaign p{
    margin:0;
    font-size: 14px;
    letter-spacing: 1px;
}
a.btn-campaign{
    color:#fff!important;
    background-color:#565656;
    float:right;
    padding: 0px 15px;
    border-radius: 15px;
    font-size: 13px;
    margin-top: 20px;
}

a.btn-campaign:hover{
    color:#fff!important;
    text-decoration: none;
}
a.btn-campaign-submit{
    background-color: #df0202;
    color: #fff;
    padding: 16px;
    display: block;
    text-align: center;
    border-radius: 0px 0px 3px 3px;
    font-size: 16px;
}
a.btn-campaign-submit:hover{
    color:#fff;
    text-decoration: none;
}
a.btn-campaign-submit i{ 
    margin-left: 10px;
    font-size: 19px;
    font-weight: bold;
}
ul.dates-calender{
    list-style-type: none;
    padding:0;
    margin:0;
}
ul.dates-calender li{
    padding:11px 15px;
    border: 1px solid #333;
    border-top: 0px;
}
ul.dates-calender li:last-child{
    border-radius:0px 0px 3px 3px;
}
ul.dates-calender li.calender-header{
    background-color:#2c2c2c;
    border-radius: 3px 3px 0px 0px;
}
ul.dates-calender .header-text-left{
    display:inline-block;
    font-size:18px;
    color:#fff;
    margin:0;
}
ul.dates-calender .header-text-right{
    display:inline-block;
    float:right;
    font-size:13px;
    color:#fff;
    margin:0;
}
.calender-value h3{
    color:#df0202;
    margin:0;
    display:inline-block;
    font-weight: bold;
    font-size: 46px;
}
.calender-value-month{
    display:inline-block;
}
.calender-value-month p{
    font-size: 18px;
    margin: 0;
    line-height: 1;
    font-weight: 400;
}
.calender-value-description{
    display: inline-block;
    line-height: 1.2;
    float: right;
    max-width: 390px;
    margin-top: 10px;
}
.calender-value-description p{
    font-size: 12px;
    margin: 0;
    word-break: break-all;
    line-height: 1.5;
}
#footer{
    background-color: #ddd;
    padding:30px;
    text-align:center;
}
#below-footer.bg-footer-grey{
    background-color: #fafafa;
    position: absolute;
    bottom: 0;
    width: 100%;
}
#footer ul.footer-links{
    list-style-type:none;
    margin:0;
    padding:0;
}
#footer ul.footer-links li{
    display: inline-block;
    padding: 0px 10px;
    border-right: 1px solid #292929;
    line-height: 1;
}
#footer ul.footer-links li:last-child{
    border-right:0px;
}
#footer ul.footer-links li a{
    color:#292929;
    font-size:16px

}
#below-footer{
    background-color: #fff;
    padding:10px 0px 10px;
    text-align:center
}
#below-footer ul.footer-links{
    list-style-type:none;
    margin:0;
    padding:0;
}
#below-footer ul.footer-links li{
    display: inline-block;
    padding: 0px 10px;
    border-right: 1px solid #292929;
    line-height: 1;
}
#below-footer ul.footer-links li:last-child{
    border-right:0px;
}
#below-footer ul.footer-links li a{
    color:#292929;
    font-size:16px

}
.warning-footer{
    background-color:#2c2c2c;
    padding:30px;
}
.warning-footer .warning-text{
    max-width:1090px;
    margin:0 auto;
}
.warning-footer .warning-text p{
    font-size:30px;
    color:#fff;
    line-height: 1.3;
}
.loader {
    position: fixed;
    left: 0px;
    top: 0px;    
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../img/images/loading.gif') 50% 50% no-repeat rgb(255,255,255);
}
/* End of grand Page */

/* Start of Comics Page */
.inner-page-header{
    border-bottom:1px solid #2c2c2c;
    padding-bottom:10px;
}
.inner-page-header img{
    width: auto;
    border: none;
    display: inline-block;
}
.inner-page-header h3{
    display: inline-block;
    margin-left: 5px;
    margin: 0;
    vertical-align: middle;
    padding-left: 10px;
}
.inner-page-header .btn-inner-page-header{
    float: right;
    font-weight: normal;
    padding: 4px 15px;
    border-radius: 35px;
    margin-top:10px;
    font-size:14px;
}
.breadcrumb{
    background-color: #fff;
    font-size: 14px;
    margin:0;
    margin-top: 10px;
    font-size: 16px;
}
.breadcrumb a{
    color:#2c2c2c;
}
.breadcrumb > .active{
    color:#2c2c2c;
}
.breadcrumb > li + li:before {
    content: "|";
    color:#000;
}
.col-md-2-5{
    width:20%;
    float:left;
    position: relative;
    min-height: 1px;
    padding-right:5px;
    padding-left:5px;
}
.comics-tile{
    position:relative;
    border: 1px solid #2c2c2c;
    border-radius: 3px;
    margin-bottom: 10px;
}
.comics-listing{

}
.comics-listing img{
    width:100%;
    border-radius:3px 3px 0px 0px;
}
.hentry, .page-header, .page-content{
    box-shadow: 0 0 1px rgba(0, 0, 0, 0) !important;
}
.comics-listing-text{
    left: 0;
    background-color: #df0202;
    padding: 15px 10px;
    border-radius:0px 0px 3px 3px;
    position:relative;
}
.comics-listing-text i{
    float: right;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}
.comics-listing-text p{
    color: #fff;
    font-size: 12px;
    max-width: 117px;
    line-height: 1;
    margin: 0;
}
.new-entry{
    position:absolute;
    top: -9px;
    left: -10px;
}
.author-description{
    font-size: 21px;
    margin: 0;
    margin-bottom: 15px;
    color:#2c2c2c;
    font-weight:300;
}
.author-description span{
    font-size:13px;
    margin-left:5px;
    font-weight:normal;
}
.comics-slider{
    width:100%;
    max-width:95%;
    margin:0 auto;
}
.comics-slider p{
    font-size:14px;
    /*padding:5px 5px;*/
    margin-bottom:0px;
}
.slick-prev:before{
    content:url('../img/images/arrow-left.png')!important;    
}
.slick-next:before{
    content:url('../img/images/arrow-right.png')!important;  
}
/*End of Comics Page*/
/*Start of comics2*/
.slick-slide .comics-listing img, .slick-slide .new-entry img{
    border:0px!important;
}
.comics2-slider-area{
    width:100%;
    max-width:95%;
}
.author-description-comics2{
    font-size: 21px;    
    color: #2c2c2c;
    padding: 15px 0px 15px 35px;
    margin:0;
    font-weight:300;
}
.author-description-comics2.line{    
    border-top: 1px solid #d2d2d2;
    margin: 15px 0px 5px 0px;
}
.author-description-comics2 span {
    font-size: 13px;
    margin-left: 5px;
    font-weight: normal;
}
.comics2-slider-area .slick-prev:before{
    content: url('../img/images/arrow-left-small.png')!important;
}
.comics2-slider-area .slick-next:before{
    content: url('../img/images/arrow-right-small.png')!important;
}
.comics2-slider-area .slick-prev, .comics2-slider-area .slick-next {
    top: 45%;
    width: 16px;
    height: 31px;
}
.comics2-slider-area .slick-next {
    right: -20px;
}
.comics2-slider-area .slick-prev {
    left: -15px;
}
.brown{
    background-color:#4e2a2a!important;
}
.comics2-banner{
    position:relative;
    display: inline-block;
    width: 100%;
    background: -moz-linear-gradient(top,  rgba(125,185,232,0) 0%, rgba(186,216,240,0) 50%, rgba(247,247,247,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,185,232,0)), color-stop(50%,rgba(186,216,240,0)), color-stop(100%,rgba(247,247,247,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(186,216,240,0) 50%,rgba(247,247,247,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(186,216,240,0) 50%,rgba(247,247,247,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(186,216,240,0) 50%,rgba(247,247,247,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(125,185,232,0) 0%,rgba(186,216,240,0) 50%,rgba(247,247,247,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */
    border-bottom: 1px solid #d2d2d2;
}
.comics2-banner-text {
    position: absolute;
    top: 50px;
    left: 5%;
}
.comics2-banner-text h3 {
    max-width: 40%;
    font-size: 28px;
    display: inline-block;
}
.comics2-banner-text p{ 
    max-width: 40%;
    font-size: 16px;
    padding: 0;
}
.comics2-banner img.banner-pics{
    float:right;
    margin-right:30px;
}
/*End of comics2*/
/*Start of Interview Page*/
.interview-content{
    margin-top:30px;
    display: inline-block;
}
.inner-page-header-date{
    font-size: 14px;
    margin-top: 10px;
}
.interview-banner{
    position:relative;
    width:100%;
    display: inline-block;
    background: -moz-linear-gradient(-45deg,  rgba(125,185,232,0) 0%, rgba(174,210,238,0) 40%, rgba(247,247,247,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(125,185,232,0)), color-stop(40%,rgba(174,210,238,0)), color-stop(100%,rgba(247,247,247,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(125,185,232,0) 0%,rgba(174,210,238,0) 40%,rgba(247,247,247,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(125,185,232,0) 0%,rgba(174,210,238,0) 40%,rgba(247,247,247,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(125,185,232,0) 0%,rgba(174,210,238,0) 40%,rgba(247,247,247,1) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(125,185,232,0) 0%,rgba(174,210,238,0) 40%,rgba(247,247,247,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#f7f7f7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.interview-banner img.banner-man{
    float:right;
    width:auto;
    margin-right:40px;
}
.interview-banner-text{
    position:absolute;
    top:50px;
    left:10%;
}
.interview-banner-text h3{
    max-width: 100%;
    font-size: 28px;
    display: inline-block;
}
.interview-banner-text img{
    display:block
}
.interview-banner-text p{
    font-size: 20px;
    font-weight: bold;
}
.interview-banner-text small{
    font-size: 13px;
    color: #d2d2d2;
}
ul.other-interviews{
    list-style-type: none;
    margin:0;
    padding:0;
    border:1px solid #df0202;
    border-radius:3px;
    height: 400px;
    overflow-y: scroll;
}
ul.other-interviews li.other-interviews-heading{
    background-color:#df0202;
    color:#fff;
    padding:10px;
    font-size:21px;
}
ul.other-interviews li{
    border-bottom:1px solid #df0202;
}
ul.other-interviews li:last-child{  
    border-bottom:0px;
}
.interview-listing{
    padding:14px;
}
.interview-listing .interview-listing-text img{
    display:inline-block;
    float:left;
    width:65px;
}
.interview-listing-text{
    display:inline-block;
}
.interview-listing-text h3{
    color: #df0202;
    display: inline-block;
    line-height: 0.8;
    margin: 0px 0px 5px 10px;
    font-size:21px

}
.interview-listing-text p{
    color:#2c2c2c;
    font-size:14px;
    margin:0px 0px 0px 75px;
    line-height:1.3;
}
.interview-listing .interview-listing-text p.text-small{
    color:#2c2c2c;
    font-size:13px;
    margin-bottom:10px;
    line-height:1.3;
}
.question-answer{
    display:inline-block;
    padding: 10px 0px;
}
.question-answer img{ 
    border-radius: 5px;
}
.question-answer p.question{
    font-size:15px;
    color:#1e1e1e;
    font-weight:bold;
    line-height: 1.3;
}
.question-answer p.answer{
    font-size:15px;
    color:#7b7b7b;
    line-height: 1.3;
    margin:0;
}
.question-answer b{
    color:#2c2c2c;
    font-weight: 500;
}
.btn-read-more{
    background-color: #df0202;
    color: #fff;
    border-radius: 30px;
    font-size: 16px;
    padding: 5px 15px;
    display: inline-block;
    margin-top:5px;
}
.btn-read-more:hover{
    color:#ffff00;
}
/*End of Interview Page*/

/*Start of West-hunt Page*/
.west-headings{
    border-bottom:1px solid #d2d2d2;
    padding: 20px 0px 10px;
}
.west-headings p{
    font-size:15px;
    font-weight: bold;
}
.brand-packets{
    padding:10px 0px;
    width:100%;
    display:inline-block;
}
.west-hunt-search p, .brand-packets p{
    display:inline-block;
    font-size:15px;
    font-weight: bold;
}
.brand-packets ul.packets{
    list-style-type: none;
    padding:0;
    margin:0;
    display:inline-block;
}
.brand-packets ul.packets li{
    display:inline-block;
    position:relative;
    padding: 5px 10px;
}
.west-hunt-search{
    padding: 10px 0px;
    width: 100%;
    display: inline-block;
}
.west-hunt-search-select{
    display:inline-block;
}
.west-hunt-search-select select{
    display: inline-block;
    padding: 3px 15px;
    font-size: 15px;
    border-radius: 7px;
    min-width: 200px;
    margin-right: 50px;
}
.west-mid{
    border-bottom:1px dotted #2c2c2c;
    position:relative;
    width:100%;
    display: inline-block;
}
.west-mid p.in-mid{
    position: absolute;
    background-color: #fff;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    left: 16%;
    top: -7px;
    padding: 0px 5px;
}

.west-hunt-search .search-item{
    padding: 20px 0px 15px;
    width: 100%;
    display: inline-block;
}
.btn-search{
    padding: 5px 30px;
}
.search-btn{
    padding-bottom: 20px;
    display: inline-block;
    width: 100%;
    border-bottom:1px solid #d2d2d2;
}
/*End of West-hunt Page*/

/*Start of Questionnaire Page*/
.questionnaire-text{
    display:inline-block;
    padding: 30px 0px;
}
.questionnaire-text p{
    font-size: 13px;
    color: #2c2c2c;
    font-weight: bold;
    line-height: 1.5;
}
.banner-questionnaire{
    display:inline-block;
    width:100%;
    border:1px solid #474747;
    border-radius:3px;
    padding:25px 20px;
    margin-bottom: 40px;
    background: -moz-linear-gradient(top,  rgba(125,185,232,0) 0%, rgba(193,217,236,0) 60%, rgba(239,239,239,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,185,232,0)), color-stop(60%,rgba(193,217,236,0)), color-stop(100%,rgba(239,239,239,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(193,217,236,0) 60%,rgba(239,239,239,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(193,217,236,0) 60%,rgba(239,239,239,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(193,217,236,0) 60%,rgba(239,239,239,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(125,185,232,0) 0%,rgba(193,217,236,0) 60%,rgba(239,239,239,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */

}
.banner-questionnaire h3{
    margin: 0px 0px 20px 0px;
}
.banner-questionnaire b{
    color:#df0202;
}
.banner-questionnaire .img-questionnaire{
    border:1px solid #474747;
    border-radius:3px;
}
.img-selection{
    margin-top:10px;
}
.img-selection label{
    font-size:18px;
    margin-left:5px;
}
.banner-questionnaire .questionnaire-banner-img{
    display: inline-block;
    width: 100%;
    padding: 20px 0px;
}
.banner-questionnaire .btn-questionnaire-banner{
    font-size: 14px;
    padding: 10px 30px;
}
.questionnaire-slider-area{
    width:100%;
    max-width:95%;
}
.questionnaire-slider-area .slick-prev:before{
    content: url('../img/images/arrow-left-small.png')!important;
}
.questionnaire-slider-area .slick-next:before{
    content: url('../img/images/arrow-right-small.png')!important;
}
.questionnaire-slider-area .slick-prev, .questionnaire-slider-area .slick-next {
    top: 45%;
    width: 16px;
    height: 31px;
}
.questionnaire-slider-area .slick-next {
    right: -20px;
}
.questionnaire-slider-area .slick-prev {
    left: -15px;
}
.tile-questionnaire{
    border:1px solid #474747;
    border-radius:3px;
    padding:10px 0px;
    display:inline-block;
    width:100%;
}
.tile-questionnaire .questionare-items{
    position: relative;
    top: 0px;
    padding:5px;
}
.tile-questionnaire .questionare-items img{
    border-radius:10px!important;
    border:0px;
}
.tile-questionnaire .questionare-items p{
    color: #000;
    font-size: 13px;
    height: 30px;
    line-height: 1.3;
}
.tile-questionnaire .submit-questionnaire{
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 10px;
}
.submit-questionnaire .grey-bg{
    padding: 8px 15px;
}
/*End of Questionnaire Page*/

/*Start of Value Page*/

#modal-value {
    margin-right:-17px;
}
#modal-value .modal-header h4{ 
    margin: 0;
    line-height: 1.42857143;
    font-weight: 600;
    font-size: 24px;
}
#modal-value .modal-header p{ 
    font-size:12px;
}
#modal-value .modal-header{
    border-bottom:0px;
    padding: 15px 30px 5px;
}
#modal-value.modal-comics .modal-content{
    display:inline-block;
}
#modal-value .modal-content .modal-body{
    display:inline-block;
    padding: 0px 15px;
}
.value-listing-text{
    left: 0;
    background-color: #df0202;
    padding: 15px 10px;
    border-radius:0px 0px 3px 3px;
    position:relative;
}
.value-listing-text i{
    float: right;
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    margin-top: 8px;
}
.value-listing-text p{
    color: #fff;
    font-size: 12px;
    max-width: 200px;
    line-height: 1.3;
    margin: 0;
}
p.value-listing-text-heading {
    font-size:16px;
    margin-bottom:10px;
}
.inner-page-header small{
    margin-left:10px;
    color:#2c2c2c;
}
.value-text{
    text-align:center;
    display:inline-block;
    width:100%;
    padding:40px 0px;
}
.value-text p{
    font-size:16px;
    line-height:1.3;
    color:#2c2c2c;
    font-weight:bold;
}
.value-selection{
    padding: 30px 0px 0px;
}
.value-selection p{
    display:inline-block;
    font-size:20px;
}
.value-selection select{
    display: inline-block;
    font-size: 16px;
    color: #fff;
    background-color: #393939;
    padding: 3px;
    width: 150px;
}
.banner-value{
    display:inline-block;
    width:100%;
    padding:10px 0px;
    position:relative;
}
.value-banner-header{
    position:absolute;
    text-align:center;
    width:100%;
    top:-11px;
}
.banner-value img{
    width:100%
}
.value-banner-text{
    position:absolute;
    top:46%;
    width:100%;
    text-align:center;
}
.value-banner-text p{
    color:#fff;
    font-weight:bold;
    font-size:40px;
}
.value-header-img{
    display:inline-block;
}
/*End of Value Page*/

/*Start of My Page1*/
.my-page-coins-list{
    display:inline-block;
    padding:40px 0px;
    width:100%;
}
.my-page-coins-list ul.my-page-points-list{
    list-style-type:none;
    padding:0;
    margin:0;
    border-radius:3px;
    border:1px solid #df0202;
}
.my-page-coins-list ul.my-page-points-list li{
    padding:10px 20px;
    border-bottom: 1px solid #df0202;
}
.my-page-coins-list ul.my-page-points-list li.header-points{
    background-color:#df0202;
    padding:3px 20px!important;
}
.my-page-coins-list ul.my-page-points-list li:last-child{
    border-bottom: 0px;
}
ul.my-page-points-list li.header-points h4{
    color:#fff;
    display:inline-block;
    font-weight: bold;
}
.my-page-points-list .coins-points{
    display:inline-block;
}
.my-page-points-list .coins-points-value{
    display:inline-block;
    float:right;
}
.my-page-points-list .coins-points p{
    display:inline-block;
    font-size:16px;
    margin-left:15px;
}
.my-page-points-list .coins-points-value p{
    display:inline-block;
    font-size:16px;
    margin-left:15px;
}
.my-page-points-list .coins-points-value h2{
    display: inline-block;
    margin: 0;
    line-height: 1.5;
    font-weight: bold;
    font-size: 35px;
}
h3.slider-heading{
    font-size:20px;
    color:#2c2c2c;
    margin:0px;
    margin-bottom:20px;
    font-weight:bold;
}
.mypage-listing-text {
    left: 0;
    background-color: #df0202;
    padding: 15px 10px;
    border-radius: 0px 0px 3px 3px;
    position: relative;
}
.mypage-listing-text i {
    float: right;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}
.mypage-listing-text p{
    color: #fff;
    font-size: 12px;
    max-width: 140px;
    line-height: 1.3;
    margin: 0;
}
.mypage-tables{
    display:inline-block;
    width:100%;
    padding:30px 0px;
}
.mypage-tables thead{
    background-color:#e7e7e7;
    text-align:center;
    font-size:14px;
}
.mypage-tables th, .mypage-tables td{
    text-align:center;
}
.mypage-tables td{
    font-size:16px;
    padding: 15px 10px!important;
}
.mypage-tables td.description{
    text-align:left;
}
.table-heading{
    display:inline-block;
    width:100%;
}
.table-heading .table-heading-img{
    display:inline-block;
    margin-bottom:10px;
}
.table-heading h3{
    display: inline-block;
    margin: 0;
    padding: 0px 0px 15px;
    font-size: 20px;
    font-weight: bold;
    padding-left: 5px;
}
.table-heading p{
    float: right;
    display: inline-block;
    font-size: 14px;
    color: #2c2c2c;
    margin: 10px 0px 0px 0px;
    font-weight: bold;
}
.below-table-button{
    display:inline-block;
    width:100%;

}
.below-table-button .btn-below-table{
    float:right;
    background-color:#565656;
}
.below-table-text p{
    font-size:16px;
    font-weight:bold;
}
.my-page-slider{
    display:inline-block;
    width:100%;
    padding:15px 0px;
}
/*End of My Page1*/


/*End of My Page2*/
.mypage2-top{
    display:inline-block;
    width:100%;
}
.mypage2-top h3{
    font-weight:bold;
    font-size:25px;
    margin-bottom:30px;
}
.mypage2-top p{
    font-size:14px;
    color:#2c2c2c;
    font-weight:bold
}
.mypage2-top ul{
    margin:0;
    padding-left: 25px;
}
.mypage2-top ul li{
    font-size:14px;
    padding:5px;
    color:#2c2c2c;
    font-weight:bold
}
.below-top-list{
    display:inline-block;
    width:100%;
    padding:30px 0px;
    border-bottom:1px solid #cecece;        
}
.below-top-list b{
    color:#df0202;
    font-weight:bold;
    font-size:18px;
}
.below-top-list h3{
    color:#2c2c2c;
    font-weight:bold;
    font-size:18px;
    margin-bottom:20px;
}
.below-top-list table{
    border: 1px solid #cecece;
}
.below-top-list table th{
    background-color: #f0f0f0;
    width: 25%;
    border-right: 1px solid #cecece;
    text-align: center;
    font-size: 14px;
    color: #2c2c2c;
    font-weight: normal;
}
.below-top-list table.half-head th{
    width: 50%!important;
}
.below-top-list .table > thead > tr > th, 
.below-top-list .table > tbody > tr > th, 
.below-top-list .table > tfoot > tr > th, 
.below-top-list .table > thead > tr > td, 
.below-top-list .table > tbody > tr > td, 
.below-top-list .table > tfoot > tr > td {
    padding:12px;
    vertical-align:middle;
}
.table.mypagetable1  > thead > tr > th, 
.table.mypagetable1  > tbody > tr > th, 
.table.mypagetable1  > tfoot > tr > th, 
.table.mypagetable1  > thead > tr > td, 
.table.mypagetable1  > tbody > tr > td, 
.table.mypagetable1  > tfoot > tr > td {
    border-top:0px;
}
.below-top-list table .form-control{
    max-width:230px
}
.change-password-span{
    display:inline-block;
    text-align:center;
    width:100%;
}
.below-top-list .change-password{
    background-color:#de0202;
    padding:10px 30px;
    font-size:12px;
    border-radius:30px;
}
.below-top-list strong{
    color:#df0202;
    font-weight:normal;
}
.inner-table-item p{
    font-size:12px;
    margin-top:5px;
}
.inner-table-item select, .inner-table-item input{
    display:inline-block;
}
.inner-table-item hr{
    border-top: 1px solid #ddd;
    margin-left:-12px;
    margin-right:-12px;
}
.below-top-list label{
    font-size:14px;
}
.below-top-list input[type="radio"]{
    margin:0px 20px 0px 20px;
}
.below-top-list .btn-grey{
    padding: 10px 60px;
    font-size: 12px;
    margin: 10px;
}
.below-top-list p.at-the-rate{
    display: inline-block;
    margin: 0px 10px 0px 10px;
    font-size: 20px;

}
.change-password-span .btn-refresh {
    background-color: #de0202;
    padding: 10px 50px;
    font-size: 12px;
    border-radius: 30px;
    margin: 10px;
}
.btn-refresh {
    background-color: #de0202;
    padding: 10px 50px;
    font-size: 12px;
    border-radius: 30px;
    margin: 10px;
}
/*End of My Page2*/
/*Start of panel*/
.panel-body{
    display:inline-block;
    width:100%;

}
.panel-header{
    background-color:#d20202;
    padding:20px 10px;
    width:100%;
    border:1px solid #df0202;
}
.panel-header-small{
    background-color:#d20202;
    padding:10px 10px;
    width:100%;
    border:1px solid #df0202;
    border-radius: 3px 3px 0px 0px;
}
.panel-header h3,.panel-header-small h3{
    color:#fff;
    margin:0;
    font-size:30px;
    font-weight:bold;
}
.panel-header h4, .panel-header-small h4 {
    color:#fff;
    margin:0;
    font-size:18px;
    font-weight:bold;
}
.panel-body .red-border{
    border:1px solid #df0202;
}
.panel-body .grey-border{
    border:1px solid #b3b3b3;
    background-color:#fff;
}
.panel-content{
    padding:20px 10px;
    display:inline-block;
    width:100%;
}
.panel-content p{
    font-size:12px;
    color:#2c2c2c;
    line-height:1.5;
}
.panel-content p.large{
    font-size:15px;
}
.panel-content p.heading-panel{
    margin-bottom:15px;
    font-weight:bold;
}
.margin-40{
    margin-bottom:40px!important;
}
.margin-15{
    margin-bottom:15px!important;
}
.margin-20{
    margin-bottom:20px!important;
}
.margin-30{
    margin-bottom:30px!important;
}
.margin-5{
    margin-bottom:5px!important;
}
.wrapped{
    display:inline-block;
    vertical-align:middle;
}
ul.inner-links{
    padding:0;
    margin:0;
    list-style-type:none;
}
ul.inner-links li{
    font-size:12px;
    padding:3px;
}
.panel-content p.red{
    color:#df0202;
}
.panel-body .below-top-list.no-border{
    border-bottom:0px;
    padding-bottom: 0px;
}
.no-border{
    border-bottom:0px;
    padding-bottom: 0px;
}
.container-panel{
    padding: 40px 15px;
}
.panel-grey{
    background-color:#f7f7f7;
    padding:10px;
    display:inline-block;
    width:100%;
    border:1px solid #dcdcdc;
    height: 350px;
    overflow-y: scroll;
}
.change-password-span label{
    font-weight:normal;
    font-size:14px;
    margin-left:5px;
}
.panel-body .inner-panel{
    width:100%;
    max-width:70%;
    margin:0 auto;
    padding: 50px 20px 30px;
    text-align:center;
}
.inner-panel .form-control{
    display:inline-block;
    max-width:230px;
}
.panel-content .form-control{
    display:inline-block;
    max-width:230px;
}
.panel-form label{
    font-size:14px;
    min-width:20%;
}
.inner-panel label{
    font-size: 14px;
    min-width: 35%;
    line-height: 1.3;
    margin-bottom: 0;
    vertical-align: middle;
}
.authorization-inner-panel{
    max-width:85%!important
}
.align-left{
    width:100%;
    text-align:left;
}
.inner-panel strong{
    color:#df0202;
    font-weight:normal;
}
.step2-inner .btn.btn-default{
    background: rgb(242,242,242); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(242,242,242,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(242,242,242,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
    display:inline-block;
}
.step2-inner label{
    display:inline-block;
    font-weight:normal;
    font-size:14px;
}
.step2-inner ul.inner-table-list{
    padding-left:20px;
    margin:0;
}
.step2-inner ul.inner-table-list li{
    font-size:12px;
    padding:3px;
}
ul.outer-table-list{
    padding-left:20px;
    margin:0;
    list-style-type: none;
}
ul.outer-table-list li{
    padding:3px;
    font-size:14px;
}
/*End of Panel*/
/*Start of Member*/
.member-upper-banner{
    display:inline-block;
    width:100%;
    text-align:center;
    padding:0px 0px 30px;
}
.members{
    padding:30px 0px;
}
.member-upper-banner h5{
    position: relative;
    display: inline-block;
    color: #df0202;
    font-size: 2vw;
    font-weight: bold;
}
.member-upper-banner h5:after{
    content: url('../img/images/members/right-slash.png');
    position: absolute;
    right: -30px;
    bottom: -2px;
}
.member-upper-banner h4{
    color: #2c2c2c;
    font-size: 2.3vw;
    font-weight: bold;
}
.member-upper-banner h3{
    color: #2c2c2c;
    font-size: 2.3vw;
    font-weight: bold;
}
.member-upper-banner strong{
    color:#df0202;
    font-size: 3.1vw;
}
.member-upper-banner h2{
    color: #fff;
    background-image: url('../img/images/members/red-bg.png');
    font-size: 1.5vw;
    font-weight: bold;
    position: relative;
    padding: 10px 0px;
}
.member-upper-banner h2:before{
    content:url('../img/images/members/offer.png');
    left:5%;
    top:-15px;
    position:absolute;
}
.grey-border{
    border: 1px solid #ccc;
    border-radius: 3px;
    display: inline-block;
    width: 100%;
}
.member-upper-banner h5:before{
    content: url('../img/images/members/left-slash.png');
    position: absolute;
    left: -30px;
    bottom: -2px;
}
.member-lower-banner{
    display:inline-block;
    width:100%;
    padding:0px 20px;
    position:relative;
}
.lower-banner-content{
    width:100%;
}
.lower-banner-left {
    position:relative;
}
.lower-banner-left:after{
    content: url('../img/images/members/arrow-right.png');
    right: 30px;
    position: absolute;
    top: 30%;
}
.lower-banner-right{
    display:inline-block;
}
.lb-img{
    display:inline-block;
}
.lb-img img{
    width:100%;
}
.red{
    color:#df0202;
}
.lower-banner-left h3{
    font-size: 30px;
    font-weight: bold;
    max-width: 260px;
}
.lower-banner-left p{
    font-size:14px;
    color:#2c2c2c;
}
.members .btn-refresh{
    font-size: 16px;
    padding: 15px 20px;
}
.members .change-password-span p{
    font-size:14px;
    color:#2c2c2c;
}
.members .change-password-span p.large{
    font-size:16px;
}
.members-below{
    max-width: 90%;
    margin: 0 auto;
}
.members-below p.p-heading{
    font-weight:bold;
    font-size:16px;
}
.members-below p{
    font-size:15px;
    line-height:1.3;
}
.app-flow-button{
    border-bottom: 1px dotted #2c2c2c;
    position: relative;
    max-width: 85%;
    margin: 0 auto;
}
a.btn-app-flow{
    background-image: url('../img/images/members/red-bg.png');
    position: absolute;
    left: 0px;
    color: #fff;
    top: -20px;
    display: inline-block;
    font-size: 14px;
    padding: 5px 20px;
    border-radius: 3px;
    font-weight: bold;
    line-height: 1.3;
    text-align: center;
}
a.btn-app-flow:hover{
    color:#fff;
}
.app-flow-steps{
    position:relative;
    border:1px solid #df0202;
    border-radius:3px;
    text-align:center;
    padding: 15px;
    margin: 0px 20px;
}
.app-flow-steps.next-flow:after{
    content:url('../img/images/members/app-flow-next.png');
    position:absolute;
    top:45%;
    right:-35px;
}
.app-flow{
    max-width:90%;
    margin:0px auto;
    width:100%;
}
.marginal{
    margin: 30px 0px 50px;
    display:inline-block;
    width:100%
}
.app-flow-steps .app-flow-header{
    text-align:left;
    margin-left: 35px;
}
.app-flow-steps .app-flow-header h3{
    font-weight: bold;
    color: #2c2c2c;
    margin: 0;
    min-height: 90px;
    font-size: 21px;
}
.app-flow-image{
    min-height:120px;
}
.app-flow-steps .app-flow-text{
    text-align:left;
}
.app-flow-steps .app-flow-text p{
    color:#2c2c2c;
    font-size:14px;
    line-height:1.3;
}
.app-flow-number{
    position: absolute;
    top: -10px;
    left: -15px;
}
.app-flow-button p{
    font-size:14px;
    display: inline-block;
    margin:0;
    line-height:1.3;
}
.app-flow-button p.large{
    font-size:15px;
    font-weight:bold;
}
.app-flow-button .member-form p{
    display:block;
}
.form-footer{
    border-top:1px dotted #2c2c2c;
    padding:10px 0px;
}
.change-password-span .btn-refresh.grey{
    background-color:#242424!important;
}
.change-password-span .btn-refresh.grey.btn-fix-width,
.change-password-span .btn-refresh.btn-fix-width
{
    min-width:200px
}
.app-flow-button .form-control{
    max-width:400px;
    display:inline-block;
    margin-left:40px;
}
.form-inner-span{
    display: inline-block;
    width: 100%;
    margin-bottom: 40px;
}
.member-form{
    padding: 20px;
}
.member-form-header{
    border-bottom:1px dotted #2c2c2c;
    border-top:1px dotted #2c2c2c;
    text-align:center;
    padding:20px 0px;
    margin-bottom:10px;
}
.thanks-text h3{
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 25px;
}
.thanks-text p{
    font-size:16px;
    font-weight:bold;
}
/*End of Member*/

/*Start of Map*/
.map-popup{
    min-width:320px;
}
.map-popup-header{
    background-color:#f3f3f3;
    padding: 10px 0px;
}
.map-popup-header h1{
    color:#950202;
    font-size: 28px;
    margin: 0;
    margin-bottom: 10px;
}
.map-popup-header p{
    color: #2c2c2c;
    display: block;
    font-size: 17px;
    margin-left: 15px;
}
ul.map-popup-list{
    padding:10px 0px;
    margin:0;
    list-style-type:none;
    text-align:right;
}
ul.map-popup-list li{
    display:inline-block;
    padding: 0px 5px;
}
.gm-style-iw{
    width:100%!important;
    top:1px!important;
    left:1px!important;
    padding: 0px 2px 0px 0px;
}
.gm-style-iw div{
    min-width:100%;
}
.map-popup #bodyContent{
    min-width:320px!important;
}
/*End of Map*/
/*Start of Comics Modal*/
body{ 
    padding:0!important;
}
#modal-comics {
    margin-right:-17px;
}
#modal-comics .modal-header h4{ 
    margin: 0;
    line-height: 1.42857143;
    font-weight: 600;
    font-size: 24px;
}
#modal-comics .modal-header p{ 
    font-size:12px;
}
#modal-comics .modal-header{
    border-bottom:0px;
    padding: 15px 30px 5px;
}
#modal-comics.modal-comics .modal-content{
    display:inline-block;
}
#modal-comics .modal-content .modal-body{
    display:inline-block;
    padding: 0px 15px;
}
.modal-loading{
    background-image:url('../img/images/ajax-loader.gif');
    background-repeat:no-repeat;   
    background-position:center center;
}
#modal-comics2-1 .slick-prev:before{
    content: url('../img/images/arrow-left-small.png')!important;
}
#modal-comics2-1 .slick-next:before{
    content: url('../img/images/arrow-right-small.png')!important;
}
#modal-comics2-1 .slick-prev, #modal-comics2-1 .slick-next {
    top: 45%;
    width: 16px;
    height: 31px;
}
#modal-comics2-1 .slick-next {
    right: -4px;
}
#modal-comics2-1 .slick-prev {
    left: -5px;
}
/*End of comics Modal*/

@media(max-width:1100px){
    .navbar-default .navbar-nav > li > a{
        color:#fff!important;
        margin: 0px 18px;
    }
}
@media (max-width:991px){
    .navbar-default .navbar-nav > li > a{
        color:#fff!important;
        margin: 0px 7px;
    }
}
@media(max-width:768px){
    .slick-prev:before{
        display:none;    
    }
    .slick-next:before{
        display:none;  
    }
    .page-content .col-xs-1, 
    .page-content .col-sm-1, 
    .page-content .col-md-1, 
    .page-content .col-lg-1, 
    .page-content .col-xs-2, 
    .page-content .col-sm-2, 
    .page-content .col-md-2, 
    .page-content .col-lg-2, 
    .page-content .col-xs-3, 
    .page-content .col-sm-3, 
    .page-content .col-md-3, 
    .page-content .col-lg-3, 
    .page-content .col-xs-4, 
    .page-content .col-sm-4, 
    .page-content .col-md-4, 
    .page-content .col-lg-4, 
    .page-content .col-xs-5, 
    .page-content .col-sm-5, 
    .page-content .col-md-5, 
    .page-content .col-lg-5, 
    .page-content .col-xs-6, 
    .page-content .col-sm-6, 
    .page-content .col-md-6, 
    .page-content .col-lg-6, 
    .page-content .col-xs-7, 
    .page-content .col-sm-7, 
    .page-content .col-md-7, 
    .page-content .col-lg-7, 
    .page-content .col-xs-8, 
    .page-content .col-sm-8, 
    .page-content .col-md-8, 
    .page-content .col-lg-8, 
    .page-content .col-xs-9, 
    .page-content .col-sm-9, 
    .page-content .col-md-9, 
    .page-content .col-lg-9, 
    .page-content .col-xs-10, 
    .page-content .col-sm-10, 
    .page-content .col-md-10, 
    .page-content .col-lg-10, 
    .page-content .col-xs-11, 
    .page-content .col-sm-11, 
    .page-content .col-md-11, 
    .page-content .col-lg-11, 
    .page-content .col-xs-12, 
    .page-content .col-sm-12, 
    .page-content .col-md-12, 
    .page-content .col-lg-12 {
        padding-right: 15px!important;
        padding-left: 15px!important;
    }
}
@media (max-width:767px){
    .bg-content{
        top:10px;
    }
    .bg-content-items{
        max-width:100%;
        text-align:center;
    }
}