@charset "UTF-8";
/* CSS Document */
/*
YUI 3.4.1 (build 4118)
Copyright 2011 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
http://yuilibrary.com/license/
*/
/* line 10, ../../../sources/sass/libs/_cssreset-min.scss */
html {
  color: #000;
  background: #FFF;
}

/* line 10, ../../../sources/sass/libs/_cssreset-min.scss */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

/* line 10, ../../../sources/sass/libs/_cssreset-min.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 10, ../../../sources/sass/libs/_cssreset-min.scss */
fieldset, img {
  border: 0;
}

/* line 10, ../../../sources/sass/libs/_cssreset-min.scss */
address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

/* line 10, ../../../sources/sass/libs/_cssreset-min.scss */
ol, ul {
  list-style: none;
}

/* line 10, ../../../sources/sass/libs/_cssreset-min.scss */
caption, th {
  text-align: left;
}

/* line 10, ../../../sources/sass/libs/_cssreset-min.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

/* line 10, ../../../sources/sass/libs/_cssreset-min.scss */
q:before, q:after {
  content: '';
}

/* line 10, ../../../sources/sass/libs/_cssreset-min.scss */
abbr, acronym {
  border: 0;
  font-variant: normal;
}

/* line 10, ../../../sources/sass/libs/_cssreset-min.scss */
sup {
  vertical-align: text-top;
}

/* line 10, ../../../sources/sass/libs/_cssreset-min.scss */
sub {
  vertical-align: text-bottom;
}

/* line 10, ../../../sources/sass/libs/_cssreset-min.scss */
input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/* line 10, ../../../sources/sass/libs/_cssreset-min.scss */
input, textarea, select {
  *font-size: 100%;
}

/* line 10, ../../../sources/sass/libs/_cssreset-min.scss */
legend {
  color: #000;
}

/* CSS Document */
/*
YUI 3.4.1 (build 4118)
Copyright 2011 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
http://yuilibrary.com/license/
*/
/* line 10, ../../../sources/sass/libs/_fonts-min.scss */
body {
  font: 13px/1.231 arial,clean,sans-serif;
  *font-size: small;
  *font: x-small;
}

/* line 10, ../../../sources/sass/libs/_fonts-min.scss */
select, input, button, textarea {
  font: 99% arial,helvetica,clean,sans-serif;
}

/* line 10, ../../../sources/sass/libs/_fonts-min.scss */
table {
  font-size: inherit;
  font: 100%;
}

/* line 10, ../../../sources/sass/libs/_fonts-min.scss */
pre, code, kbd, samp, tt {
  font-family: monospace;
  *font-size: 108%;
  line-height: 100%;
}

/* line 5, ../../../sources/sass/_common.scss */
html {
  font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

/* line 11, ../../../sources/sass/_common.scss */
body {
  color: #000;
}

/* line 3, ../../../sources/sass/index.scss */
#slot_container {
  width: 900px;
  height: 625px;
  position: relative;
}
/* line 8, ../../../sources/sass/index.scss */
#slot_container div.reels_container {
  position: absolute;
  top: 249px;
  left: 146px;
  width: 609px;
  height: 229px;
  z-index: 1;
  overflow: hidden;
}
/* line 17, ../../../sources/sass/index.scss */
#slot_container div.reels_container div.reel {
  position: absolute;
  width: 171px;
  height: 229px;
  background-image: url(../images/slot_reel_bg.jpg);
  z-index: 0;
}
/* line 27, ../../../sources/sass/index.scss */
#slot_container div.reels_container div.reel#reel01 {
  left: 0;
}
/* line 28, ../../../sources/sass/index.scss */
#slot_container div.reels_container div.reel#reel02 {
  left: 219px;
}
/* line 29, ../../../sources/sass/index.scss */
#slot_container div.reels_container div.reel#reel03 {
  right: 0;
}
/* line 30, ../../../sources/sass/index.scss */
#slot_container div.reels_container div.reel:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: url(../images/slot_reel_shadow.png);
}
/* line 42, ../../../sources/sass/index.scss */
#slot_container div.reels_container div.reel ul.items {
  -ms-tranform: translateZ(0);
  -o-tranform: translateZ(0);
  -moz-tranform: translateZ(0);
  -webkit-tranform: translateZ(0);
  tranform: translateZ(0);
  position: relative;
  width: 171px;
}
/* line 46, ../../../sources/sass/index.scss */
#slot_container div.reels_container div.reel ul.items li {
  width: 171px;
  height: 229px;
}
/* line 49, ../../../sources/sass/index.scss */
#slot_container div.reels_container div.reel ul.items li.cherry {
  background-image: url(../images/slot_reel_item_cherry.png);
}
/* line 50, ../../../sources/sass/index.scss */
#slot_container div.reels_container div.reel ul.items li.bell {
  background-image: url(../images/slot_reel_item_bell.png);
}
/* line 51, ../../../sources/sass/index.scss */
#slot_container div.reels_container div.reel ul.items li.watermelon {
  background-image: url(../images/slot_reel_item_watermelon.png);
}
/* line 53, ../../../sources/sass/index.scss */
#slot_container div.reels_container div.reel ul.items li.product.red {
  background-image: url(../images/slot_reel_item_product_red.png);
}
/* line 54, ../../../sources/sass/index.scss */
#slot_container div.reels_container div.reel ul.items li.product.deepblue {
  background-image: url(../images/slot_reel_item_product_deepblue.png);
}
/* line 61, ../../../sources/sass/index.scss */
#slot_container div.control_container {
  width: 900px;
  height: 97px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
}
/* line 68, ../../../sources/sass/index.scss */
#slot_container div.control_container div.buttons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 74, ../../../sources/sass/index.scss */
#slot_container div.control_container div.buttons.start_container {
  display: none;
}
/* line 76, ../../../sources/sass/index.scss */
#slot_container div.control_container div.buttons.start_container a.start {
  display: block;
  width: 0;
  height: 75px;
  padding-left: 220px;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  background-image: url(../images/slot_button_start.png);
}
/* line 88, ../../../sources/sass/index.scss */
#slot_container div.control_container div.buttons.stop_container {
  display: none;
}
/* line 90, ../../../sources/sass/index.scss */
#slot_container div.control_container div.buttons.stop_container a.stop {
  display: block;
  width: 0;
  height: 75px;
  padding-left: 160px;
  overflow: hidden;
  background-image: url(../images/slot_button_stop.png);
  position: absolute;
  top: 0;
}
/* line 95, ../../../sources/sass/index.scss */
#slot_container div.control_container div.buttons.stop_container a.stop.pushed {
  background-image: url(../images/slot_button_stop_pushed.png);
  cursor: default;
}
/* line 103, ../../../sources/sass/index.scss */
#slot_container div.control_container div.buttons.stop_container a.stop.stop01 {
  left: 153px;
}
/* line 104, ../../../sources/sass/index.scss */
#slot_container div.control_container div.buttons.stop_container a.stop.stop02 {
  left: 372px;
}
/* line 105, ../../../sources/sass/index.scss */
#slot_container div.control_container div.buttons.stop_container a.stop.stop03 {
  left: 591px;
}
/* line 111, ../../../sources/sass/index.scss */
#slot_container div.result_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 900px;
  height: 528px;
  z-index: 4;
  opacity: 0;
}
/* line 119, ../../../sources/sass/index.scss */
#slot_container div.result_container.big-win {
  background-image: url(../images/slot_result_big-win.png);
}
/* line 120, ../../../sources/sass/index.scss */
#slot_container div.result_container.win {
  background-image: url(../images/slot_result_win.png);
}
/* line 121, ../../../sources/sass/index.scss */
#slot_container div.result_container.lose {
  background-image: url(../images/slot_result_lose.png);
}
/* line 124, ../../../sources/sass/index.scss */
#slot_container div.complete_dialog {
  position: absolute;
  width: 812px;
  height: 300px;
  z-index: 5;
  left: 1px;
  right: 0;
  top: 213px;
  margin: auto;
  display: none;
}
/* line 134, ../../../sources/sass/index.scss */
#slot_container div.complete_dialog p.product {
  position: absolute;
  top: 22px;
  left: 12px;
  width: 252px;
  height: 252px;
}
/* line 142, ../../../sources/sass/index.scss */
#slot_container div.complete_dialog p.product.red {
  background-image: url(../images/slot_dialog_product_red.png);
}
/* line 143, ../../../sources/sass/index.scss */
#slot_container div.complete_dialog p.product.deepblue {
  background-image: url(../images/slot_dialog_product_deepblue.png);
}
/* line 145, ../../../sources/sass/index.scss */
#slot_container div.complete_dialog a.button {
  position: absolute;
  width: 300px;
  height: 75px;
  left: 264px;
}
/* line 150, ../../../sources/sass/index.scss */
#slot_container div.complete_dialog a.button:hover {
  opacity: 0.9;
}
/* line 153, ../../../sources/sass/index.scss */
#slot_container div.complete_dialog a.button.about-product {
  top: 144px;
  background-image: url(../images/slot_dialog_button_about-product.png);
}
/* line 159, ../../../sources/sass/index.scss */
#slot_container div.complete_dialog a.button.next-game {
  top: 208px;
  background-image: url(../images/slot_dialog_button_next-game.png);
}
/* line 167, ../../../sources/sass/index.scss */
#slot_container div.complete_dialog.big-win {
  background-image: url(../images/slot_dialog_big-win_bg.png);
}
/* line 172, ../../../sources/sass/index.scss */
#slot_container div.complete_dialog.win200 {
  background-image: url(../images/slot_dialog_win200_bg.png);
}
/* line 177, ../../../sources/sass/index.scss */
#slot_container div.complete_dialog.win500 {
  background-image: url(../images/slot_dialog_win500_bg.png);
}
/* line 182, ../../../sources/sass/index.scss */
#slot_container div.complete_dialog.lose {
  background-image: url(../images/slot_dialog_lose_bg.png);
}
/* line 183, ../../../sources/sass/index.scss */
#slot_container div.complete_dialog.lose p.product {
  display: none;
}
/* line 186, ../../../sources/sass/index.scss */
#slot_container div.complete_dialog.lose a.about-product {
  display: none;
}
/* line 189, ../../../sources/sass/index.scss */
#slot_container div.complete_dialog.lose a.next-game {
  left: 0;
  right: 0;
  margin: auto;
}
/* line 200, ../../../sources/sass/index.scss */
#slot_container:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background-image: url(../images/slot_panel.png);
}

/* line 213, ../../../sources/sass/index.scss */
#slot_container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* line 222, ../../../sources/sass/index.scss */
div.console {
  border: solid 1px #ccc;
  background-color: #e5e5e5;
  margin: 20px;
  padding: 20px;
  font-size: 16px;
}
/* line 230, ../../../sources/sass/index.scss */
div.console span {
  padding: 4px;
}
/* line 232, ../../../sources/sass/index.scss */
div.console span.key {
  color: #666;
}
/* line 236, ../../../sources/sass/index.scss */
div.console span.key:before {
  content: '';
  margin-left: 2em;
  display: block;
}
/* line 242, ../../../sources/sass/index.scss */
div.console span.string {
  color: #090;
}
/* line 243, ../../../sources/sass/index.scss */
div.console span.number {
  color: #f00;
}
/* line 244, ../../../sources/sass/index.scss */
div.console span.boolean {
  color: #00f;
}
