@charset "UTF-8";
/* CSS Document */
/*
YUI 3.4.1 (build 4118)
Copyright 2011 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
http://yuilibrary.com/license/
*/
/* line 10, ../../../sources/sass/libs/_cssreset-min.scss */
html {
  color: #000;
  background: #FFF;
}

/* line 10, ../../../sources/sass/libs/_cssreset-min.scss */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

/* line 10, ../../../sources/sass/libs/_cssreset-min.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 10, ../../../sources/sass/libs/_cssreset-min.scss */
fieldset, img {
  border: 0;
}

/* line 10, ../../../sources/sass/libs/_cssreset-min.scss */
address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

/* line 10, ../../../sources/sass/libs/_cssreset-min.scss */
ol, ul {
  list-style: none;
}

/* line 10, ../../../sources/sass/libs/_cssreset-min.scss */
caption, th {
  text-align: left;
}

/* line 10, ../../../sources/sass/libs/_cssreset-min.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

/* line 10, ../../../sources/sass/libs/_cssreset-min.scss */
q:before, q:after {
  content: '';
}

/* line 10, ../../../sources/sass/libs/_cssreset-min.scss */
abbr, acronym {
  border: 0;
  font-variant: normal;
}

/* line 10, ../../../sources/sass/libs/_cssreset-min.scss */
sup {
  vertical-align: text-top;
}

/* line 10, ../../../sources/sass/libs/_cssreset-min.scss */
sub {
  vertical-align: text-bottom;
}

/* line 10, ../../../sources/sass/libs/_cssreset-min.scss */
input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/* line 10, ../../../sources/sass/libs/_cssreset-min.scss */
input, textarea, select {
  *font-size: 100%;
}

/* line 10, ../../../sources/sass/libs/_cssreset-min.scss */
legend {
  color: #000;
}

/* CSS Document */
/*
YUI 3.4.1 (build 4118)
Copyright 2011 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
http://yuilibrary.com/license/
*/
/* line 10, ../../../sources/sass/libs/_fonts-min.scss */
body {
  font: 13px/1.231 arial,clean,sans-serif;
  *font-size: small;
  *font: x-small;
}

/* line 10, ../../../sources/sass/libs/_fonts-min.scss */
select, input, button, textarea {
  font: 99% arial,helvetica,clean,sans-serif;
}

/* line 10, ../../../sources/sass/libs/_fonts-min.scss */
table {
  font-size: inherit;
  font: 100%;
}

/* line 10, ../../../sources/sass/libs/_fonts-min.scss */
pre, code, kbd, samp, tt {
  font-family: monospace;
  *font-size: 108%;
  line-height: 100%;
}

/* line 5, ../../../sources/sass/_common.scss */
html {
  font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

/* line 11, ../../../sources/sass/_common.scss */
body {
  color: #000;
}

/* line 3, ../../../sources/sass/sp.scss */
#slot_container {
  width: 294px;
  position: relative;
}
/* line 6, ../../../sources/sass/sp.scss */
#slot_container div.reels_container {
  position: absolute;
  top: 81px;
  left: 47px;
  width: 200px;
  height: 75px;
  z-index: 1;
  overflow: hidden;
}
/* line 16, ../../../sources/sass/sp.scss */
#slot_container div.reels_container div.reel {
  position: absolute;
  width: 56px;
  height: 75px;
  background-image: url(../images_sp/slot_reel_bg.jpg);
  background-size: cover;
  z-index: 0;
}
/* line 25, ../../../sources/sass/sp.scss */
#slot_container div.reels_container div.reel#reel01 {
  left: 0;
}
/* line 26, ../../../sources/sass/sp.scss */
#slot_container div.reels_container div.reel#reel02 {
  left: 72px;
}
/* line 27, ../../../sources/sass/sp.scss */
#slot_container div.reels_container div.reel#reel03 {
  right: 0;
}
/* line 28, ../../../sources/sass/sp.scss */
#slot_container div.reels_container div.reel:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: url(../images_sp/slot_reel_shadow.png);
  background-size: cover;
}
/* line 41, ../../../sources/sass/sp.scss */
#slot_container div.reels_container div.reel ul.items {
  -ms-tranform: translateZ(0);
  -o-tranform: translateZ(0);
  -moz-tranform: translateZ(0);
  -webkit-tranform: translateZ(0);
  tranform: translateZ(0);
  position: relative;
  width: 56px;
}
/* line 45, ../../../sources/sass/sp.scss */
#slot_container div.reels_container div.reel ul.items li {
  width: 56px;
  height: 75px;
  background-size: contain;
}
/* line 51, ../../../sources/sass/sp.scss */
#slot_container div.reels_container div.reel ul.items li.cherry {
  background-image: url(../images_sp/slot_reel_item_cherry.png);
}
/* line 52, ../../../sources/sass/sp.scss */
#slot_container div.reels_container div.reel ul.items li.bell {
  background-image: url(../images_sp/slot_reel_item_bell.png);
}
/* line 53, ../../../sources/sass/sp.scss */
#slot_container div.reels_container div.reel ul.items li.watermelon {
  background-image: url(../images_sp/slot_reel_item_watermelon.png);
}
/* line 55, ../../../sources/sass/sp.scss */
#slot_container div.reels_container div.reel ul.items li.product.red {
  background-image: url(../images_sp/slot_reel_item_product_red.png);
}
/* line 56, ../../../sources/sass/sp.scss */
#slot_container div.reels_container div.reel ul.items li.product.deepblue {
  background-image: url(../images_sp/slot_reel_item_product_deepblue.png);
}
/* line 63, ../../../sources/sass/sp.scss */
#slot_container div.control_container {
  width: 100%;
  height: 80px;
  position: absolute;
  top: 172px;
  left: 0;
  z-index: 3;
}
/* line 70, ../../../sources/sass/sp.scss */
#slot_container div.control_container div.buttons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 77, ../../../sources/sass/sp.scss */
#slot_container div.control_container div.buttons.start_container a.start {
  display: block;
  width: 0;
  height: 40px;
  padding-left: 120px;
  overflow: hidden;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: auto;
  background-image: url(../images_sp/slot_button_start.png);
  background-size: contain;
}
/* line 90, ../../../sources/sass/sp.scss */
#slot_container div.control_container div.buttons.stop_container {
  display: none;
}
/* line 92, ../../../sources/sass/sp.scss */
#slot_container div.control_container div.buttons.stop_container a.stop {
  display: block;
  width: 0;
  height: 25px;
  padding-left: 70px;
  overflow: hidden;
  background-image: url(../images_sp/slot_button_stop.png);
  background-size: contain;
  position: absolute;
  top: 3px;
}
/* line 98, ../../../sources/sass/sp.scss */
#slot_container div.control_container div.buttons.stop_container a.stop.pushed {
  background-image: url(../images_sp/slot_button_stop_pushed.png);
}
/* line 105, ../../../sources/sass/sp.scss */
#slot_container div.control_container div.buttons.stop_container a.stop.stop01 {
  left: 41px;
}
/* line 106, ../../../sources/sass/sp.scss */
#slot_container div.control_container div.buttons.stop_container a.stop.stop02 {
  left: 112px;
}
/* line 107, ../../../sources/sass/sp.scss */
#slot_container div.control_container div.buttons.stop_container a.stop.stop03 {
  left: 183px;
}
/* line 113, ../../../sources/sass/sp.scss */
#slot_container div.result_container {
  position: absolute;
  width: 100%;
  height: 123px;
  margin-top: 49px;
  left: 0;
  z-index: 4;
  opacity: 0;
  background-size: contain;
}
/* line 124, ../../../sources/sass/sp.scss */
#slot_container div.result_container.big-win {
  background-image: url(../images_sp/slot_result_big-win.png);
}
/* line 125, ../../../sources/sass/sp.scss */
#slot_container div.result_container.win {
  background-image: url(../images_sp/slot_result_win.png);
}
/* line 126, ../../../sources/sass/sp.scss */
#slot_container div.result_container.lose {
  background-image: url(../images_sp/slot_result_lose.png);
}
/* line 129, ../../../sources/sass/sp.scss */
#slot_container div.complete_dialog {
  position: absolute;
  width: 100%;
  height: 204px;
  z-index: 5;
  display: none;
  top: 49px;
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}
/* line 141, ../../../sources/sass/sp.scss */
#slot_container div.complete_dialog p.product {
  position: absolute;
  left: 23px;
  top: 28px;
  width: 52px;
  height: 82px;
  background-size: contain;
}
/* line 150, ../../../sources/sass/sp.scss */
#slot_container div.complete_dialog p.product.red {
  background-image: url(../images_sp/slot_dialog_product_red.png);
}
/* line 151, ../../../sources/sass/sp.scss */
#slot_container div.complete_dialog p.product.deepblue {
  background-image: url(../images_sp/slot_dialog_product_deepblue.png);
}
/* line 153, ../../../sources/sass/sp.scss */
#slot_container div.complete_dialog a.button {
  position: absolute;
  width: 132px;
  height: 39px;
  top: 165px;
  background-size: contain;
}
/* line 161, ../../../sources/sass/sp.scss */
#slot_container div.complete_dialog a.button:hover {
  opacity: 0.9;
}
/* line 164, ../../../sources/sass/sp.scss */
#slot_container div.complete_dialog a.button.about-product {
  left: 9px;
  background-image: url(../images_sp/slot_dialog_button_about-product.png);
}
/* line 170, ../../../sources/sass/sp.scss */
#slot_container div.complete_dialog a.button.next-game {
  right: 9px;
  background-image: url(../images_sp/slot_dialog_button_next-game.png);
}
/* line 177, ../../../sources/sass/sp.scss */
#slot_container div.complete_dialog.big-win {
  background-image: url(../images_sp/slot_dialog_big-win_bg.png);
}
/* line 182, ../../../sources/sass/sp.scss */
#slot_container div.complete_dialog.win200 {
  background-image: url(../images_sp/slot_dialog_win200_bg.png);
}
/* line 187, ../../../sources/sass/sp.scss */
#slot_container div.complete_dialog.win500 {
  background-image: url(../images_sp/slot_dialog_win500_bg.png);
}
/* line 192, ../../../sources/sass/sp.scss */
#slot_container div.complete_dialog.lose {
  background-image: url(../images_sp/slot_dialog_lose_bg.png);
}
/* line 193, ../../../sources/sass/sp.scss */
#slot_container div.complete_dialog.lose p.product {
  display: none;
}
/* line 196, ../../../sources/sass/sp.scss */
#slot_container div.complete_dialog.lose a.about-product {
  display: none;
}
/* line 199, ../../../sources/sass/sp.scss */
#slot_container div.complete_dialog.lose a.next-game {
  left: 0;
  right: 0;
  margin: auto;
}
/* line 210, ../../../sources/sass/sp.scss */
#slot_container:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 204px;
  top: 0;
  left: 0;
  z-index: 2;
  background-image: url(../images_sp/slot_panel.png);
  background-size: contain;
  background-repeat: no-repeat;
}

/* line 226, ../../../sources/sass/sp.scss */
#slot_container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 250px;
  margin: auto;
}

/* line 235, ../../../sources/sass/sp.scss */
div.console {
  border: solid 1px #ccc;
  background-color: #e5e5e5;
  margin: 10px;
  padding: 10px;
  font-size: 12px;
}
/* line 243, ../../../sources/sass/sp.scss */
div.console span {
  padding: 4px;
}
/* line 245, ../../../sources/sass/sp.scss */
div.console span.key {
  color: #666;
}
/* line 249, ../../../sources/sass/sp.scss */
div.console span.key:before {
  content: '';
  margin-left: 2em;
  display: block;
}
/* line 255, ../../../sources/sass/sp.scss */
div.console span.string {
  color: #090;
}
/* line 256, ../../../sources/sass/sp.scss */
div.console span.number {
  color: #f00;
}
/* line 257, ../../../sources/sass/sp.scss */
div.console span.boolean {
  color: #00f;
}
