@charset "utf-8";
/* CSS Document */


/* FAQログイン後　*/
.header-faq ul.faq-links{
    padding:0;
    margin:0;
    list-style-type:none;
    background-color: #fff;
    padding: 10px 0px 0;
    width:1000px;
    margin:0 auto;
    border-bottom: 1px solid #d6d6d6;
}
.header-faq ul.faq-links li{
    display:inline-block;
    padding:0px 10px;
    margin-bottom: 20px;
}
.header-faq ul.faq-links li a{
    background-color: #d6d6d6;
    padding: 2px 30px;
    border-radius: 20px;
    color: #2c2c2c;
    font-size: 18px;
    font-weight: 400;
}
.lower-faq-panel h4.panel-title a {
    padding: 0 30px;
    position: relative;
}
.lower-faq-panel h4.panel-title a:before {
    content: 'Q：';
    position: absolute;
    left: 0;
    top: 0;
}
.lower-faq-panel h4.panel-title a:after {
	top: 50%;
	margin-top: -7px;
}
.lower-faq-panel h5{
    background-color: #d6d6d6;
    padding: 4px 26px;
    border-radius: 20px;
    color: #2c2c2c;
    font-size: 18px;
    font-weight: 400;
    display:inline-block;
}
.lower-faq-panel{
    padding:150px 0px;
}
.lower-faq-panel .panel-body {
	position: relative;
	padding: 15px 15px 15px 42px;
}
.lower-faq-panel .panel-body:before {
	content: 'A';
	font-weight: bold;
	color: #df0202;
	position: absolute;
	font-size: 16px;
	left: 16px;
	top: 16px;
}



/* FAQログイン前　*/

.faq-visitorWrap .header-faq {
	position: inherit;
	width: 100%;
	background-color: #fff;
	z-index: 1;
	margin-top: 0;
	padding-top: 0;
	left: 0;
}
.faq-visitorWrap .header-faq ul.faq-links {
	width: 100%;
	border: 0;
}
.faq-visitorWrap .header-faq ul.faq-links li {
  display: inline-block;
  padding: 0px 10px;
  margin-bottom: 20px;
}
.faq-visitorWrap .lower-faq-panel {
  padding: 0 0px;
}
.faq-visitorWrap .lower-faq-panel .panel-body{
  padding: 15px 15px 15px 42px;
}


/*

    ウエストについて


*/

/* west-brand */
.west-brandWrap ul.subMenu-brand {
	float: right;
}
.west-brandWrap ul.subMenu-brand li {
	list-style: none;
	float: left;
	margin-right: 43px;
}

.west-brandWrap ul.subMenu-brand li a {
	color: #2c2c2c;
	font-size: 13px;
	font-weight: bold;
	padding: 13px 0;
	display: block;
}
.west-brandWrap ul.subMenu-brand li.active a,.west-brandWrap ul.subMenu-brand li:hover a {
	color: #ad0002;
	border-bottom: 3px solid #ad0002;
}
.west-brandWrap .content_value p {
	line-height: 1;
	margin: 0;
}
.west-brandWrap .content_value .movie {
	height: 600px;
	width: 1000px;
	background: url(../img/images/west-brand/img-value05.jpg) no-repeat;
	position: relative;
}
.west-brandWrap .content_value .movie iframe {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
	width: 820px;
	height: 490px;
}
/* west-history */

.west-brandWrap .content_history h3,.west-brandWrap .content_history p {
	line-height: 1;
	margin: 0;
}
.west-brandWrap .history_nav {
	position: relative;
}
.west-brandWrap .history_nav ul {
	position: absolute;
	top: 40px;
	right: 60px;
}
.west-brandWrap .history_nav ul li {
	float: left;
	margin-left: 25px;
	list-style: none;
}
.west-brandWrap .history_nav ul li.single {
	margin-left: 45px;
}
.west-brandWrap .history_nav ul li a {
	padding: 35px 0;
}
.west-brandWrap .history_nav ul li a:hover img {
	opacity: 0.7;
}

/* west-product */
.west-brandWrap .content_product .item-head {
	background: url(../img/images/west-brand/img_product_title.jpg) no-repeat;
	height: 120px;
	width: 100%;
	position: relative;
}
.west-brandWrap .content_product .item-head .head_inn {
	position: absolute;
	right: 90px;
	bottom: 25px;
}
.west-brandWrap .content_product .item-head ul {
	margin-left: 70px;
	margin-bottom: 0;
	float: left;
	padding: 0;
}
.west-brandWrap .content_product .item-head ul li {
	float: left;
	list-style: none;
	display: table;
	height: 65px;
	margin-left: 10px;
}
.west-brandWrap .content_product .item-head ul li a {
	vertical-align: bottom;
	display: table-cell;
}
.west-brandWrap .content_product .itemWrap {
	background: url(../img/images/west-brand/bg_product.jpg) no-repeat;
	height: 600px;
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}



/*

    インタビュー


*/
.inner-page-header-date {
  font-size: 14px;
  margin-top: 10px;
  position: relative;
  z-index: 999;
}
.interviewWrap {
	background: #f8f8f8;
}
.interview-banner {
	background: url(../img/images/interview/bg_interview_banner.png) no-repeat center bottom;
}
.interview-content {
	margin-top: -34px;
}
ul.other-interviews {
	margin-top: 10px;
	background: #fff;
}
.interview-banner-text h3 {
	font-size: 24px;
}
.interview-banner-text {
	top: 75px;
}
.interviewWrap .interview-outline {
	margin: 15px 0;
	font-size: 13px;
}
.question-answer p.answer {
	font-size: 13px;
	color: #1e1e1e;
	margin-bottom: 20px;
}
.interviewWrap .interview-profile {
	overflow: hidden;
	padding-top: 35px;
	padding-bottom: 75px;
	border-top: 1px solid #c8c8c8;
}
.interviewWrap .interview-profile .prof-image {
	float: left;
}
.interviewWrap .interview-profile .text-bloc {
	padding-left: 215px;
}
.interviewWrap .interview-profile .text-bloc p.prof-title {
	font-size: 13px;
	margin-top: 5px;
}
.interviewWrap .interview-profile .text-bloc p.prof-name {
	font-size: 16px;
}
.interviewWrap .interview-profile .text-bloc p.prof-detail {
	font-size: 13px;
	margin-top: 20px;
}


/*

    勝ち組生活


*/
.kachigumiWrap .interview-banner {
	padding-top: 25px;
}
.kachigumiWrap .kachigumi-title h3 {
	font-size: 26px;
	font-weight: bold;
	padding: 25px 0;
}
.kachigumiWrap .kachigumi-content p {
	font-size: 13px;
	margin-bottom: 15px;
	line-height: 1.4;
}
.kachigumiWrap .kachigumi-content p.fzl {
	font-size: 18px;
	font-weight: bold;
}
.kachigumiWrap .kachigumi-profile {
	overflow: hidden;
	padding-top: 25px;
	padding-bottom: 75px;
	border-top: 1px solid #c8c8c8;
}
.kachigumiWrap .kachigumi-profile p {
	font-size: 13px;
	line-height: 1.4;
	font-weight: bold;
}
.kachigumiWrap .speech-bloc {
	overflow: hidden;
	margin-bottom: 20px;
}
.kachigumiWrap .speech-bloc .image {
	float: left;
}
.kachigumiWrap .speech-bloc .text-bloc {
	padding-left: 215px;
}
.kachigumiWrap .speech-bloc .text-bloc p {
	font-size: 13px;
	display: table;
	height: 200px;
	line-height: 1.4;
	margin: 0;
}
.kachigumiWrap .speech-bloc .text-bloc p span {
	display: table-cell;
	vertical-align: middle;
}




/*

    モーダル


*/
.modal-dialog {
	width: 710px;
	margin: 30px auto;
}
.modal-dialog .value-listing-text p {
	max-width: 250px;
}
#modal-value .modal-header p {
  font-size: 12px;
  line-height: 1.2;
}
.comics-listing-text i {
	font-size: 40px;
}




/*

    コミックス


*/
.main-story {
	position: relative;
	border: 1px solid #2c2c2c;
	border-radius: 3px;
	margin-bottom: 10px;
	padding: 0;
}
.main-story-img {
  width: 100%;
  display: block;
}
.main-story-text {
	left: 0;
	background-color: #df0202;
	padding: 18px 10px;
	border-radius: 0px 0px 3px 3px;
	position: relative;
	float: none;
	width: 100%;
	display: block;
	margin: 0;
}
.main-story-text p.head {
	margin: 0;
	font-size: 14px;
}
.main-story-text p.head b {
	font-size: 16px;
}
.main-story-text i {
	margin-top: -10px;
}
.Ahasegawa .main-story-text {
	background-color: #4d2a2a;
}
.hasegawaList .comics-listing-text {
	background-color: #4d2a2a;
}

.comics-slider .slick-slider {
	width: 410px;
}
.comics-slider .slick-prev {
  left: -70px;
}

.comics-slider .slick-next {
  right: -70px;
}
.comics-tile a:hover div {
	opacity: 0.7;
}
.comics-tile a:hover .new-entry {
	opacity: 1;
}


.slides-nav .comics-tile {
	cursor: pointer;
}
.slides-nav .comics-tile:hover {
	opacity: 0.7;
}
.main-story {
	background: none;
}
.main-story a:hover div {
	opacity: 0.7;
}

/*

    キャンペーン


*/
.campaign-thanks-bloc {
	text-align: center;
}
.campaign-thanks-bloc h3 {
	color: #de0202;
}
.campaign-thanks-bloc p {
	margin: 30px 0 50px;
	font-size: 13px;
}


/*

    ご友人からの紹介者用特別入力フォーム


*/
.invitationWrap .selectItems label input[type="radio"] {
	float: left;
}
.invitationWrap .selectItems label span {
	padding-left: 15px;
	display: block;
	font-size: 10px;
	color: #242424;
	text-align: left;
}
.invitationWrap .selectItems label span b {
	font-size: 14px;
	color: #242424;
	
}
.invitationWrap .selectItems .col-md-3 {
	text-align: center;
}
.invitationWrap .selectItems .image {
	height: 210px;
	display: table;
	margin: 0 auto;
}
.invitationWrap .selectItems .image span {
	display: table-cell;
	vertical-align: bottom;
}
.confirm-item {
	display: table;
	margin: 0;
}
.confirm-item dt,.confirm-item dd {
	display: table-cell;
	vertical-align: middle;
}
.confirm-item dt img {
	width:50px;
	height: auto;
	padding-right: 15px;
}
.invitationWrap .completeWrap ul {
	padding: 0;
}
.invitationWrap .completeWrap ul li {
	font-size: 13px;
	margin-bottom: 10px;
	list-style: none;
}


/*

    マイページ


*/
.below-top-list .table > tbody > tr > th.tal {
	text-align: left !important;
}














