@charset "utf-8";
/* CSS Document */

div.header-page-login {
	line-height:0.8;
}

div.container-fluid{
	padding:0;
}

div.page-content-login div.panel-body {
	padding:20px 0;
}

div.page-content-login div.panel-content {
	padding:20px;
}

div.page-content-login div.col-xs-6 {
	margin:0;
	padding:0;
}

div.page-content-login div.left {
	width:480px; 
}

div.page-content-login div.left_s {
	margin:0;
	padding:10px 0;
}

div.page-content-login div.right {
	width:450px;
	float:right;
}

div.page-content-login div.col-xs-6 div.panel-body{
	padding:0;
}

.touroku-span .btn-refresh {
    background-color: #de0202;
    padding: 12px 68px;
    font-size: 16px;
    border-radius: 30px;
    margin: 70px 0px 40px 0;
}

p.notice{
	font-size:12px;
}

.login-span .btn-refresh {
    background-color: #de0202;
    padding: 12px 68px;
    font-size: 16px;
    border-radius: 30px;
    margin: 0px 0px 10px 0;
}

div.panel-content input.login{
	float:right;
	margin-right:20px;
}

div.left_s p.large{
	text-align:center;
}

div.panel-content p.wrapped{
	font-size:12px;
	margin-bottom:6px;
}

div.page-content-login div.release {
	padding:0;
}

a{
	text-decoration:underline;
	color:#2c2c2c;
}

a:hover{
	opacity:0.8;
}

.btn .btn-refresh {
    background-color: #de0202;
    padding: 12px 68px;
    font-size: 16px;
    border-radius: 30px;
    margin:0;
}

.change-email-span {
    font-size: 14px;
}

input[type="radio"] {
    display: inline;
}

div.page-content-login p.at-the-rate{
    font-size: 14px;
}

div.change-conf-span {
    padding: 10px 50px;
    font-size: 14px;
    border-radius: 30px;
    margin: 10px;
	text-align:center;
}

.btn-grey{
	background-color:#434343;
	font-size: 14px;
}

div.page-content-login input.pwrmd{
	width:120px;
}


.floatL{
	float:left;
	margin:10px 0px 30px 11px;
}

.displayinline{
}