@charset "utf-8";
/* CSS Document */





/*

    インタビュー


*/



.interviewWrap .interview-outline {
	margin: 15px 0;
	font-size: 13px;
}
.question-answer p.answer {
	font-size: 13px;
	color: #1e1e1e;
	margin-bottom: 20px;
}
.interviewWrap .interview-profile {
	overflow: hidden;
	padding-top: 18px;
	padding-bottom: 75px;
	border-top: 1px solid #c8c8c8;
}



/*

    勝ち組生活


*/

.kachigumiWrap .kachigumi-title h3 {
	font-size: 13px;
	font-weight: bold;
	padding: 10px 0;
	margin: 0;
}
.kachigumiWrap img {
	max-width: 100%;
	border-radius: 5px;
}
.kachigumiWrap .kachigumi-content p.fzl {
	font-size: 15px;
	font-weight: bold;
}
.kachigumiWrap .kachigumi-profile {
	overflow: hidden;
	padding-top: 25px;
	padding-bottom: 75px;
	border-top: 1px solid #c8c8c8;
}
.kachigumiWrap .kachigumi-profile p {
	font-size: 13px;
	line-height: 1.4;
	font-weight: bold;
}
.kachigumiWrap .speech-bloc {
	overflow: hidden;
	margin-bottom: 15px;
}
.kachigumiWrap .speech-bloc .image {
	float: left;
	width: 100px;
}
.kachigumiWrap .speech-bloc .image img {
	width: 100%;
	height: auto;
}
.kachigumiWrap .speech-bloc .text-bloc {
	padding-left: 120px;
}
.kachigumiWrap .speech-bloc .text-bloc p {
	font-size: 13px;
	display: table;
	line-height: 1.4;
	margin: 0;
}
.kachigumiWrap .speech-bloc .text-bloc p span {
	display: table-cell;
	vertical-align: top;
}



/*

    アバウト


*/

.about-usWrap img {
	max-width: 100%;
	height: auto;
}
.about-us-body {
	background-image: url('../img/images/about/img-about-bg.jpg');
	padding-top: 15px;
}
.about-body-heading {
	border-bottom: 1px solid #ccc;
	padding-bottom: 8px;
	margin-bottom: 8px;
	box-shadow: 0px 1px #fff;
}
.about-us-body h3 {
	margin: 0;
	font-size: 16px;
	font-weight: bold;
}
.about-body-text p.head {
	font-size: 14px;
	font-weight: bold;
	margin: 0;
}
.about-body-content p {
	font-size: 13px;
	line-height: 1.2;
	margin-bottom: 10px;
}

/*

    ウエストについて


*/
.subMenu-wrap {
	position: relative;
	overflow: hidden;
}
ul.subMenu-brand {
	float: left;
	position: relative;
	left: 50%;
	padding: 0;
	margin: 0;
}
ul.subMenu-brand li {
	position: relative;
	left: -50%;
	float: left;
	list-style: none;
	margin: 0 5px;
}

ul.subMenu-brand li a {
	color: #2c2c2c;
	font-size: 13px;
	font-weight: bold;
	padding: 13px 5px;
	display: block;
}
ul.subMenu-brand li.active a,ul.subMenu-brand li:hover a {
	color: #ad0002;
	border-bottom: 3px solid #ad0002;
}
.west-brandWrap .content_value p {
	line-height: 1;
}
.west-brandWrap .content_value img {
	max-width: 100%;
	height: auto;
}
.west-brandWrap .content_value p {
	margin: 0;
}
.west-brandWrap .content_value div {
	padding: 15px;
}
.west-brandWrap .content_value div h3 {
	margin: 0;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 10px;
}
.west-brandWrap .content_value div p {
	color: #fff;
	font-size: 13px;
}
.west-brandWrap .content_value div.value01 {
	background: #313743;
}
.west-brandWrap .content_value div.value02 {
	background: #573626;
}
.west-brandWrap .content_value div.value03 {
	background: #414d32;
}
.west-brandWrap .content_value .movie {
	padding: 15px 0;
	text-align: center;
	background: url(../img/images/west-brand/img-value05.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}


.west-brandWrap .content_history h3 {
	background: url(../img/images/west-brand/history-title.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	color: #fff;
	margin: 0;
	padding: 10px;
}
.west-brandWrap .content_history p {
	margin: 0;
	position: relative;
	overflow: hidden;
	width: 100%;
}
.west-brandWrap .content_history p img {
	max-width: 100%;
	height: auto;
}


.west-brandWrap .content_product h3 {
	background: url(../img/images/west-brand/img-product-title.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	color: #333333;
	margin: 0;
	padding: 10px;
}
.west-brandWrap .content_product .itemWrap div img {
	max-width: 100%;
	height: auto;
}


/*

    キャンペーン


*/
ul.banner-top-list{
    padding: 0px;
    margin: 0px -2% 0 0 ;
    list-style: none;
}
ul.banner-top-list li{
    display: inline-block;
    font-size: 9px;
    background-color: #e1e1e1;
    padding: 5px 0;
    text-align: center;
    margin-right: 2%;
    width: 28%;
}
ul.banner-top-list li:last-child {
	width: 36%;
}
ul.banner-top-list.list2 li {
	width: 25%;
}
ul.banner-top-list.list2  li:last-child {
	width: 40%;
}
.campaign-content{
    margin: 20px 0px;
}
.campaign-content h3{
    font-size: 18px;
    color: #df0202;
    font-weight: bold;
    margin-top: 30px;
}
.campaign-content p{
    font-size: 12px;
    font-weight: 400;
}
.campaign-content p.head{ 
    font-size: 14px;
    font-weight: 600;
}

.campaign-box-wrap {
	margin-left: -4%;
	padding: 0 4%;
}
.campaign-box-wrap .campaign-box {
	width: 46%;
	float: left;
	margin-left: 4%;
	margin-bottom: 3%;
}
.campaign-box-wrap .campaign-box img {
	max-width: 100%;
	height: auto;
}

.campaign-box-content {
	overflow: hidden;
	margin-top: 5px;
	display: table;
	width: 100%;
}

.campaign-box-wrap .campaign-box .campaign-box-pack img {
	width: 20px;
	height: auto;
}

.campaign-box-wrap .campaign-box input,.campaign-box-wrap .campaign-box label {
	display: table-cell;
	margin-top: 10px;
}
.campaign-box-wrap .campaign-box  input{
	margin-left: 2px;
}

.campaign-box-wrap .campaign-2 {
	padding: 0 4%;
	text-align: center;
}
.campaign-box-wrap .campaign-2 h4 {
	font-size: 11px;
	padding: 3px 0;
	background: #e1e1e1;
	border-radius: 9px;
	text-align: center;
	position: relative;
}
.campaign-box-wrap .campaign-2 h4 span {
	position: absolute;
	top: -5px;
	right: -5px;
}
.campaign-box-wrap .campaign-2 img.item-image {
	max-width: 90%;
}
.campaign-box-wrap .campaign-2 .campaign-box-content input {
	margin-right: 5px;
}
.new-campaigns a {
	color: #333;
}

.campaign-form h4,.campaign-form h3 {
	font-size: 14px;
	font-weight: bold;
}
.campaign-form .content-top-part-1 {
	padding: 10px 0;
	border-top: 1px dotted #000;
	border-bottom: 1px dotted #000;
}
.campaign-form #text02 {
	width: 100%;
}
.campaign-form textarea {
	width: 100%;
	height: 200px;
}


.campaign-thanks-bloc {
	text-align: center;
}
.campaign-thanks-bloc h3 {
	color: #de0202;
	font-size: 14px;
}
.campaign-thanks-bloc p {
	margin: 30px 0 30px;
	font-size: 13px;
}


/*

    コミックス


*/
.inner-page-header .btn-comic-prof {
	position: absolute;
	background: #d5d5d5;
	padding: 4px 3px;
	right: 0;
	top: -8px;
	color: #333;
}

#modal-prof img {
	max-width: 100%;
	height: auto;
}

#modal-prof  .col-md-6:first-child {
	border-bottom: 1px solid #eee;
}
.comic-other {
	overflow: hidden;
	padding: 5px;
	background: #4d2a2a;
	position: relative;

}
.comic-other.red {
	background: #df0202;
}
.comic-other .images {
	float: left;
	width: 25%;
	
}
.comic-other .images img {
	width: 100%;
	height: auto;
}
.comic-other  i {
	position: absolute;
	top: 45%;
	right: 3%;
	font-size: 7vw;
	color: #fff;
	font-weight: bold;
}
.comic-other .text {
	padding-left: 28%;
}
.comic-other a .text  {
	color: #fff;
}
.comic-other a .text  h4 {
	font-size: 13px;
}
.comic-other a .text h4 small,.comic-other a .text p{
	font-size: 9px;
	color: #fff;
}

/*

    FAQ


*/
.lower-faq-panel .panel-heading {
	padding: 10px;
}
.lower-faq-panel h4.panel-title a {
	padding: 0 20px;
	position: relative;
	font-size: 12px;
}
.lower-faq-panel h4.panel-title a:before {
	content: 'Q：';
	position: absolute;
	left: 0;
	top: 0;
}
.lower-faq-panel h4.panel-title a:after {
	-webkit-transform: scale(0.5); 
	-moz-transform: scale(0.5); 
	top: 50%;
	margin-top: -6px;
}
.lower-faq-panel .panel-body {
	position: relative;
	padding: 10px 10px 10px 22px;
}
.lower-faq-panel .panel-body:before {
	content: 'A';
	font-weight: bold;
	color: #df0202;
	position: absolute;
	font-size: 14px;
	left: 10px;
	top: 12px;
}
.lower-faq-panel .panel-body p {
	font-size: 12px;
}
.lower-faq-panel h5 {
	background-color: #d6d6d6;
	padding: 4px 26px;
	border-radius: 20px;
	color: #2c2c2c;
	font-size: 12px;
	font-weight: 400;
	display: inline-block;
}

.header-faq ul.faq-links {
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: #fff;
  padding: 0;
  margin: 0 auto;
  border-bottom: 1px solid #d6d6d6;
}
.header-faq ul.faq-links li {
	display: inline-block;
	padding: 0px 10px;
	margin-bottom: 20px;
}
.header-faq ul.faq-links li a {
	background-color: #d6d6d6;
	padding: 2px 30px;
	border-radius: 20px;
	color: #2c2c2c;
	font-size: 12px;
	font-weight: 400;
}



/*

    お友達紹介


*/
.memberWrap img {
	max-width: 100%;
	height: auto;
}
.memberWrap .image01 {
	width: 95%;
	margin: 0 auto 20px;
}
.memberWrap .image03 {
	width: 80%;
	margin: 0 auto;
}
.memberWrap p.tac {
	text-align: center;
	margin-top: 20px;
}
.memberWrap .image04 {
	width: 98%;
	margin: 0 auto;
	position: relative;
}
.memberWrap .image04 p {
	font-size: 11px;
	position: absolute;
	bottom: 10px;
	right: 0;
}
.memberWrap a.btn-app-flow {
	  background-image: url('../img/images/members/background-grey.png');
}
.memberWrap  a.btn-app-flow {
  left: 24%;
  font-size: 4vw;
}
.memberWrap .app-flow-number {
	width: 60px;
}
.app-flow-steps .app-flow-header h3 {
	font-size: 14px;
	min-height: initial;
}
.app-flow-image {
	min-height: initial;
	margin: 30px 0;
}
.memberWrap .form-members {
	padding: 5px 10px;
}
.memberWrap .thanks-text {
	padding: 0;
}
.memberWrap .thanks-text h3 {
	text-align: left;
}
.memberWrap .btn-refresh.fixed-width {
	width: 80%;
}


ul.selectItem {
	padding: 0;
}
ul.selectItem li {
	border-bottom: 1px solid #ddd;
	padding: 15px 0;
	list-style: none;
	display: table;
	width: 100%;
}
ul.selectItem li p,ul.selectItem li .image {
	display: table-cell;
	vertical-align: middle;
}
ul.selectItem li .image img {
	width: 40px;
}
ul.selectItem li label input {
	float: left;
	margin-top: 10px;
}
ul.selectItem li label span {
	display: block;
	padding-left: 15px;
}

.invitationForm span.name {
	width: 25px;
	display: block;
	float: left;
	padding-top: 12px;
}
.invitationForm input.name {
	width: 38%;
	float: left;
}
.mail-select p {
	margin-top: 10px;
}
.mail-select label {
	padding-left: 20px;
}
.mail-select label input {
	padding-right: 5px;
}


.panel-content .invitation-confirm li {
	list-style: none;
	padding: 10px 0;
	border-bottom: 1px solid #ddd;
}
.invitation-confirm li dl {
	margin: 0;
}
.invitation-confirm li dl dt {
	font-weight: normal;
}
.invitation-confirm li dl dd {
	font-weight: bold;
}

.invitation-confirm li dl.confirmItem {
	display: table;
}
.invitation-confirm li dl.confirmItem dt,.invitation-confirm li dl.confirmItem dd{
	display: table-cell;
	vertical-align: middle;
}
.invitation-confirm li dl.confirmItem dt img {
	width: 50px;
	padding-right: 10px;
}

.invitation-confirm li dl.confirm-mail-select ul li {
	border: none;
	padding: 0;
}





/*

    マイページ


*/

.my-page-coins-list ul.my-page-points-list li {
  padding: 10px 8px;
  border-bottom: 1px solid #df0202;
}
.my-page-points-list .coins-points-value p {
	margin-left: 5px;
}

.btn-refresh.fixed-width.btn-reg {
	width: 70%;
}
.mypage-regWrap .inner-page-content p strong.red {
	font-size: 16px;
}


/*

    バリュー


*/

.inner-page-content .value-listing-text p {
	font-size: 3.6vw;
}
.value-banner img {
	max-width: 100%;
	height: auto;
}
.value-text {
	text-align: left;
	padding: 0 0 40px;
}
.value-selection p {
	font-size: 16px;
}



