/*
	========================================
	ARILLO - REAL ESTATE TEMPLATE
	========================================
	
	@author			: @avriqq
	@version		: v1.1
	@date-create	: 07/14/2014
	@last-update	: 07/17/2014
	@file-name		: responsive

*/

@media screen and (min-width: 1200px){
}

@media screen and (min-width: 768px) and (max-width: 992px){
	.heading-title h2 {
		border-left: none;
		border-right: none;
		border-bottom: none;
	}
}

@media screen and (min-width: 768px){
}

@media screen and (max-width: 767px){
	.topbar-nav{
		font-size: 12px;
		float: none;
		display: table;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	.navbar{
		min-height: 80px;
	}

	.navbar-default .navbar-toggle{
		margin-top: 22px;
	}

	.navbar-header{
		min-height: 80px;
	}

	.navbar-collapse{
		border-top-color: #da4453 !important;
	}

	.navbar-default .navbar-toggle .icon-bar{
		background-color: #888;
	}

	.navbar-default .navbar-nav > li > a{
		padding-top: 12px;
		padding-bottom: 12px; 
		padding-left: 15px;
	}

	.navbar-default .navbar-nav > .active > a::after{
		content: "";
		display: none;
	}

	.navbar-default .navbar-nav li.dropdown.open > a,
	.navbar-default .navbar-nav li.dropdown.open > a:hover{
		color: #fff;
		background-color: #da4453;
	}

	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, 
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, 
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #fff;
		background-color: #da4453;
	}

	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #898ba2;
		padding-top: 12px;
		padding-bottom: 12px; 
	}

	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
		color: #fff;
		background-color: #da4453; 
	}

	.dropdown-menu > li > a{
		display: block;
		padding-top: 12px;
		padding-bottom: 12px;
		padding-left: 25px;
	}

	.signup{
		margin-left: 0;
	}

	.signup:hover,
	.signup:focus,
	.signup:active{
		-webkit-border-radius: 0;
		   -moz-border-radius: 0;
			-ms-border-radius: 0;
			 -o-border-radius: 0;
				border-radius: 0;
	}

	#header{
		width: 100%;
		min-height: 350px;
		padding-top: 40px;
		padding-bottom: 40px;
		-webkit-background-size: cover !important;
		   -moz-background-size: cover !important;
			-ms-background-size: cover !important;
			 -o-background-size: cover !important;
				background-size: cover !important;
		background-attachment: fixed;
		background-position: center 0;
		background-repeat: no-repeat;
	}

	.sidebar{
		margin-bottom: 20px;
		margin-top: 20px;
	}

	.blog-title,
	.blog-text,
	.blog-meta,
	.blog-paged,
	.blog-comment,
	.blog-comment-form{
		padding-left: 10%;
		padding-right: 10%; 
	}

	.blog-comment ul.comments ul{
		margin-left: 0;
	}

	.copyright{
		position: relative;
		margin-top: 60px;
		padding: 40px 0;
		border-top: 1px solid #2c3e50;
		text-align: center;
	}

}

@media screen and (max-width: 480px){
	.heading-title h2{
		padding: 10px 14px;
		font-size: 18px;
		line-height: 24px;
	}

	.property-image-list {
		position: relative;
		width: 100%;
		display: block;
		vertical-align: top;
	}

	.property-text {
		position: relative;
		width: 100%;
		display: block;
		padding: 10px 15px;
		vertical-align: top;
	}

	.testimony-image{
		float: none;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.testimony-content{
		display: block;
		margin-left: 0;
		text-align: center;
	}

	#testislider .carousel-control.left {
		z-index: 3;
		left: 15px;
		right: auto;
	}

	#testislider .carousel-control.right {
		z-index: 3;
		right: 15px;
		left: auto;
	}

	#subscribe h3{
		display: block;
		text-align: center;
	}

	#slider-property .carousel-indicators{
		display: none;
	}

}