/*Start of mobile base*/
.no-gap{
    padding-left:0px;
    padding-right:0px;
}
.no-left-gap{
    padding-left:0px;
    padding-right:2px;
}
.no-right-gap{
    padding-right:0px;
    padding-left:2px;
}
.page-content .page-item{
    padding-bottom:4px;
    position:relative;
    cursor:pointer;
}
.page-item img{
    width:100%; 
}
.navbar-header {
    float: none;
}
ul.navbar-nav{
    background-color: #df0202;
    padding:10px;
}
.navbar-toggle {
    display:block;
}
.navbar-default .navbar-toggle {
    margin-top: 22px;
}
.navbar-collapse.collapse{
    display:none!important;
}
.collapse.in {
    display: block!important;
}
.navbar-toggle{
    background-image:url('../img/images/mobile/menu-bg.png');
    background-repeat:no-repeat;
    background-position:center center;
    background-size:100% 100%;
    float:left!important;
    margin-right:0;
    margin-left:10px;
    padding: 13px 9px;
    margin-top:0;    
}
.navbar-toggle:hover,
.navbar-toggle:focus{
    background-color:transparent!important;
}
.navbar-default .navbar-toggle .icon-bar{
    background-color:transparent!important;
}
.navbar-default .navbar-toggle{
    border-color:transparent;
}
.navbar{
    margin-bottom:5px;
}
.sr-only{

}
.header-icon{
    display: inline-block;
    margin: 24px 0px 0px 10px;
    background-image:url('../img/images/grand-logo.png');
    background-repeat:no-repeat;
    background-position:center center;
    background-size:100% 100%;
    padding: 20px 75px;
}
.header-icon img{
    width:100%;
}
.navbar-default{    
    top: 0px!important;
    min-height: 1px!important;
    padding: 0px 0px 0px 0px;
    z-index:100;
    position:fixed;
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(241,146,146,0) 43%, rgba(223,2,2,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(43%,rgba(241,146,146,0)), color-stop(100%,rgba(223,2,2,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(241,146,146,0) 43%,rgba(223,2,2,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(241,146,146,0) 43%,rgba(223,2,2,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(241,146,146,0) 43%,rgba(223,2,2,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(241,146,146,0) 43%,rgba(223,2,2,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#df0202',GradientType=1 ); /* IE6-9 */
    background-color:#fff;
}

ul.header-coins-counter{
    list-style-type:none;
    margin:0;
    display: inline-block;
    float: right;
    position:relative;
    cursor:pointer;
    padding: 5px 30px 5px 50px;
    background-image:url('../img/images/mobile/rays.png');
    background-repeat:no-repeat;
    background-position:center center;
    background-size:100% 100%;
}
ul.header-coins-counter label{   
    color: #ffff00;
    border: none;
    font-size: 30px;
    text-shadow:1px 1px #000;
    font-weight:bold;    
}
ul.header-coins-counter p{
    color:#fff;
    font-size: 16px;
    font-weight: bold;
    margin-bottom:2px;
}
ul.header-coins-counter li{
    position:relative;
    padding: 0px 6px;
    text-align:center;
}
ul.header-coins-counter li i{
    position:absolute;
    left:-6px;
    top:-7px;
}
ul.header-coins-counter li i img{
    width:55px;
}
ul.coins-reward{
    list-style-type: none;
    padding:0;
    margin:0;
}
ul.coins-reward li{
    position:relative;
}
ul.coins-reward li img{ 
    border-radius: 3px 3px 0px 0px!important;
    width:100%;
}
.page-content{
    width:100%;
    display:inline-block;
    padding: 100px 0px 0px;
}
.inner-page-content ul{
    padding-left:20px;
    margin:0;
}
.inner-page-content ul li{
    padding:3px;
    font-size:3vw;
}
.table-img-middle td, 
.table-img-middle tr{
    width: 50%;
    text-align: center;
    vertical-align: middle!important;
    border: 0px!important;
}
.table-img-middle td p.dot{
    position: relative;
    display: inline-block;
    margin: 0;
    font-size:5vw;
}
.table-img-middle td p.dot:after{
    content:url('../img/images/grey-dot.png');
    position:absolute;
    left:-25px;
    top:0px;
}
.inquiry-below-buttons{
    padding:10px;
    background-color:#fff;
    max-width:100%;
    margin:0 auto;
}
.inquiry-below-buttons img{
    display:inline-block;
}
.inquiry-below-buttons a{
    display:inline-block;
    color:#df0202;
    float:right;  
    font-size:20px;
    margin-top:4px;
}
.inquiry-below-buttons p{
    display: inline-block;
    font-size: 3vw;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 0;
    vertical-align: middle;
}
.inner-page-header{
    border-bottom:1px solid #2c2c2c;
    padding-bottom:10px;
    padding-left:25px;
}
.inner-page-content{
    padding:20px 0px;
    display:inline-block;
    width:100%;
}
.inner-page-content p{
    font-size:3vw;
    line-height:1.5;
    color:#2c2c2c;
}
.inner-page-content p.red{
    color:#df0202;
}
.inner-page-content p.head{
    font-weight:bold;
    font-size:3.2vw;    
}
.inner-page-content i{
    color:#df0202;
    font-style:normal;
    display:inline-block;
}
.campaign-banner{
    position:relative;
    width: 100%;
    display: inline-block;
    padding:20px 0px;
}
.campaign-banner img{
    width: 100%;
}
.campaign-banner-text{
    position:absolute;
    width:100%;
    top:48%;
    text-align:center;
}
.campaign-banner-text p{
    color:#000;
    font-size:5vw;
    font-weight:bold;
} 
.question-answer{
    display:inline-block;
    padding: 10px 0px;
}
.question-answer img{ 
    border-radius: 5px;
    width:100%;
}
.question-answer p.question{
    font-size:3vw;
    color:#1e1e1e;
    font-weight:bold;
    line-height: 1.5;
}
.question-answer p.answer{
    font-size:3vw;
    color:#7b7b7b;
    line-height: 1.5;
    margin:0;
}
.page-item-campaign{
    position: absolute;
    bottom: 4px;
    padding: 4px 10px 5px;
    background-color: #df0202;
    width:100%;
}

.panel-heading .panel-title a{
    display:block;
    position:relative;
    font-size:3vw;
    line-height:1.5;
}
.panel-heading p{
    margin:0;
}
.inner-page-content .interview-banner img{
    width:100%;
}
.banner-questionnaire .img-questionnaire{
    border:1px solid #474747;
    border-radius:3px;
    width:100%;
}

.banner-questionnaire h3{
    margin: 0px 0px 20px 0px;
    font-size:5vw
}
.banner-questionnaire b{
    color:#df0202;
}
.landmark-below-map p{
    font-size:3vw;
    font-weight:normal;
    display:block;
}
.landmark-below-map p.head{
    font-size:3vw;
    font-weight:bold;
}

.img-selection{
    margin-top:10px;
}
.img-selection label{
    font-size:3.5vw;
    margin-left:5px;
}
.banner-questionnaire .questionnaire-banner-img{
    display: inline-block;
    /*width: 100%;*/
    padding: 20px 0px;
    margin: 0 0 0 -12px;
}
#radioBox {
    width: 100%;
}
.banner-questionnaire .questionnaire-banner-img .questionnaire-banner-img-item {
    padding: 0;
    float: left;
    width: 50%;
    padding-left: 12px;
}

.banner-questionnaire .btn-questionnaire-banner{
    font-size: 14px;
    padding: 10px 30px;
}

.js-questionnaire-result .questionnaire-banner-img{
    margin: 0 -3%;
}
.js-questionnaire-result .questionnaire-banner-img .questionnaire-banner-img-item{
    width: 30%;
    padding-left: 0px;
    padding:0 3%;
    text-align: center;
}
.banner-questionnaire .img-questionnaire.active {
    border:2px solid #df0202;
}
.questionnaire-banner-img-item .percent {
    font-size: 19px;
    color: #df0202;
    margin-bottom: 3px;
}
.questionnaire-banner-img-item .percent span {
    font-size: 12px;
}

.js-questionnaire-result .questionnaire-banner-img .img-selection {
    font-size: 10px;
    margin-top: 5px;
}

.panel-heading .panel-title a:after{
    position:absolute;
    content:url('../img/images/down.png');
    right:0;
}
.panel-heading .panel-title a.active:after{
    position:absolute;
    content:url('../img/images/up.png');
    right:0;
}

#modal-value .modal-content .modal-body{
    padding: 0px 15px;
}
.page-item-campaign h3{
    color: #fff;
    font-weight: bold;
    margin-top:5px;
    font-size: 5vw;
}
.page-item-game h3{
    color: #fff;
    font-weight: bold;
    font-size: 5vw;
    margin-top: 5px;
}
.page-item-comics h3{
    color: #fff;
    font-weight: bold;
    font-size: 5vw;
    margin-top: 5px;
}
.page-item-comics p{
    color: #fff;
    font-weight: 300;
    font-size: 3vw;
    line-height: 1.5;
    margin:0
}
.page-item-value{
    position: absolute;
    bottom: 4px;
    padding: 4px 10px 5px;
    width:100%;
    background-color:#df0202;
}
.page-item-interview{
    position: absolute;
    bottom: 4px;
    padding: 4px 10px 5px;
    background-color: #fff;
    width: 100%;
}
.page-item-value p{
    color: #fff;
    font-weight: 300;
    font-size: 3vw;
    line-height: 1.5;
    margin:0;
}
.page-item-questionare p.questionare-heading{
    display: inline-block;
    color: #df0202;
    font-size: 5vw;
    margin: 0;
    vertical-align: middle;
    margin-left: 10px;
    font-weight: bold;
}
.questionare-items p{
    font-size:4vw;
    margin-bottom:30px;
    line-height:1.3;
}
.questionare-items{
    position: absolute;
    top: 70px;
    padding: 10px;
}
.questionare-items img{
    border-radius:10px!important;
}
.questionare-sumbit{
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-top: 40px;
}
.page-item-description-brand p{
    color:#fff;
    font-size:5vw;
    font-weight:200;
}
.page-item-description-brand{
    position: absolute;
    top: 75%;
    left: 25px;
    bottom: 10px;
}
.page-item-description{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.page-item-value h3{
    color: #fff;
    font-weight: bold;
    font-size: 5vw;
    margin-top: 5px;
}
.page-item-description-landmark{
    position:absolute;
    top:25%;
    left:0;
    width:100%;
    bottom:10px;
}
.west-hunt-values h3{
    color: #df0202;
    font-size: 5vw;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 10px;
}
.west-hunt-values p{
    color: #df0202;
    font-size: 5vw;
    font-weight: 600;
    margin-top: 5px;
}
.calender-value{
    display:inline-block;
    width:100%;
}
.page-item-description-west{
    position:absolute;
    top:19%;
    left:0;
    width:100%;
    bottom:10px;
}
.page-item-description .img-inline{ 
    position: absolute;
    top: 25px;
    left: 25px;
}
.page-item-interview h3{
    color: #df0202;
    font-weight: bold;
    font-size:5vw;
    margin-top:10px;
}

.page-item-campaign p{
    color: #fff;
    font-weight: 300;
    font-size: 3vw;
    line-height: 1.5;
    margin:0;
}
.page-item-interview p{
    color: #000;
    font-weight: 300;
    font-size: 3vw;
    line-height: 1.5;
    margin:0;
}
.landmark-values h3{
    color: #fff;
    font-size: 5vw;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 30px;
}
.page-item img.inner-img{
    width:auto;
}
a.grey-bg{
    color:#fff;
    font-size:4vw;   
    font-weight:bold;    
    display: inline-block;
    background-color: #2c2c2c;
    padding: 5px 15px;
    border-radius: 18px;
}
#footer{
    background-color: #ddd;
    padding:15px;
    text-align:center;
}

ul.dates-calender{
    list-style-type: none;
    padding:0;
    margin:0;
}
ul.dates-calender li{
    padding:11px 15px;
    border-bottom: 1px solid #333;
    border-top: 0px;
}
ul.dates-calender li:last-child{
    border-radius:0px 0px 0px 0px;
    border-bottom: 1px solid #df0202;
}
ul.dates-calender li.calender-header{
    background-color:#2c2c2c;
    border-radius: 3px 3px 0px 0px;
}
ul.dates-calender .header-text-left{
    display:inline-block;
    font-size:5vw;
    color:#fff;
    margin:0;
}
.calender-value h3{
    color:#df0202;
    margin:0;
    display:inline-block;
    font-weight: bold;
    font-size: 7vw;
}
.calender-value-month{
    display:inline-block;
}
.calender-value-month p{
    font-size: 2.7vw;
    margin: 0;
    line-height: 1;
    font-weight: 400;
}
.calender-value-description{
    display: inline-block;
    line-height: 1.2;
}
.calender-value-description p{
    font-size: 2.5vw;
    margin: 0;
    word-break: break-all;
    line-height: 1.5;
}
.people-switch{
    background-color: #f0f0f0;
    display: block;
    padding: 10px 25px;
    text-align:center;
}

.people-switch img{
    width:48px;
    border:0px;
}
a.btn-campaign{
    color:#fff!important;
    background-color:#565656;
    padding: 10px 15px;
    display:inline-block;
    border-radius: 15px;
    font-size: 13px;
    margin-top: 20px;
    margin-left:15px;
}

a.btn-campaign:hover{
    color:#fff!important;
    text-decoration: none;
}
a.btn-campaign-submit{
    background-color: #df0202;
    color: #fff;
    padding: 16px;
    display: block;
    text-align: center;
    border-radius: 0px 0px 3px 3px;
    font-size: 16px;
}
a.btn-campaign-submit:hover{
    color:#fff;
    text-decoration: none;
}
a.btn-campaign-submit i{ 
    margin-left: 10px;
    font-size: 19px;
    font-weight: bold;
}


#footer ul.footer-links{
    list-style-type:none;
    margin:0;
    padding:0;
}
#footer ul.footer-links li{
    display: inline-block;
    padding: 0px 10px;
    border-right: 1px solid #292929;
    line-height: 1;
}
#footer ul.footer-links li:last-child{
    border-right:0px;
}
#footer ul.footer-links li a{
    color:#292929;
    font-size:3.1vw;

}
#below-footer{
    background-color: #fff;
    text-align:center;
    width: 100%;
    position: absolute;
    bottom: 0;
}
#below-footer ul.footer-links{
    list-style-type:none;
    padding:10px 0px 10px;
    margin:0;
}
#below-footer ul.footer-links li{
    display: inline-block;
    padding: 0px 10px;
    border-right: 1px solid #aeaeae;
    line-height: 1;
}
#below-footer ul.footer-links li:last-child{
    border-right:0px;
}
#below-footer ul.footer-links li a{
    color:#292929;
    font-size:3.1vw;
}
#below-footer.bg-footer-grey{
    background-color: #fafafa;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#below-footer-main{
    background-color: #fff;
    text-align:center;
}
#below-footer-main ul.footer-links{
    list-style-type:none;
    padding:10px 0px 10px;
    margin:0;
}
#below-footer-main ul.footer-links li{
    display: inline-block;
    padding: 0px 10px;
    border-right: 1px solid #aeaeae;
    line-height: 1;
}
#below-footer-main ul.footer-links li:last-child{
    border-right:0px;
}
#below-footer-main ul.footer-links li a{
    color:#292929;
    font-size:3.1vw;
}
#below-footer-main.bg-footer-grey{
    background-color: #fafafa;
    position: absolute;
    bottom: 0;
    width: 100%;
}
#below-footer-main ul.footer-links.color-grey{
    background-color:#f0f0f0;
}
#below-footer ul.footer-links.color-grey{
    background-color:#f0f0f0;
}
.warning-footer{
    background-color:#2c2c2c;
    padding:30px;
}
.warning-footer .warning-text{
    max-width:1090px;
    margin:0 auto;
}
.warning-footer .warning-text p{
    font-size:5vw;
    color:#fff;
    line-height: 1.3;
}
.align-right{
    text-align:right;
}
.bock{
    display:block
}
.bg-content{
    position:absolute;
    left:0;
    width:100%;
    top:50px;
}
.bg-content-items{ 
    position:relative;
    max-width:90%;
    width:100%;
    margin:0 auto;
}
.bg-content-text{
    top:100px;
    display:inline-block;
}
.bg-content-text img{
    width:100%;
    margin-left:-17px;
    margin-top:0px;
}
.bg-logo{
    display:inline-block;
    left:0;
}
.bg-logo img{
    width:100%;
}
.bg-img-packet{
    display:inline-block;
}
.bg-img-packet img{
    width:100%
}
/*Start of login-area*/
.header-content{
    margin:0 auto;
}
.page-content-login{
    margin:50px auto 80px;
    width:100%;
    display:inline-block;
    background-color:#f1f1f1;
}
.panel-content ul{
    padding-left:20px;
    margin:0;
}
.panel-content ul li{
    font-size:3vw;
    padding:3px;
}
/*End of login-area*/
/*Start of panel*/
.panel-body{
    display:inline-block;
    width:100%;

}
.panel-header{
    background-color:#d20202;
    padding:20px 10px;
    width:100%;
    border:1px solid #df0202;
}
.panel-header-small{
    background-color:#d20202;
    padding:10px 10px;
    width:100%;
    border:1px solid #df0202;
    border-radius: 10px 10px 0px 0px;
}
.panel-header h3,.panel-header-small h3{
    color:#fff;
    margin:0;
    font-size:4.5vw;
    font-weight:bold;
    line-height:1.3;
}
.panel-header h4, .panel-header-small h4 {
    color:#fff;
    margin:0;
    font-size:3.5vw;
    font-weight:bold;
}
.panel-body .red-border{
    border:1px solid #df0202;
}
.panel-body .grey-border{
    border:1px solid #b3b3b3;
    background-color:#fff;
}
.panel-content{
    padding:20px 0px;
    display:inline-block;
    width:100%;
    background-color:#fff;
}
.panel-content-small{
    padding:20px 0px;
    display:inline-block;
    width:100%;
    background-color:#fff;
    border-radius: 0px 0px 10px 10px;
}
.page-content-login.content-login{
    background-color:transparent;
    padding-bottom:50px;
}
.panel-content label.in-middle{
    display:inline-block;
    margin-top:10px;
}
.panel-content p{
    font-size:3vw;
    color:#2c2c2c;
    line-height:1.5;
}
.panel-content strong{
    color:#df0202;
    font-size:6vw;
    line-height:0;
}
.panel-content label{
    font-size: 3vw;
    display: inline;
    font-weight:normal
}
.change-password-span .btn-refresh {
    background-color: #de0202;
    font-size: 4vw;
    border-radius: 30px;
    margin: 10px;
}
.btn-refresh {
    background-color: #de0202;
    font-size: 4vw;
    border-radius: 30px;
    margin: 10px;
}
.btn-refresh.black{
    background-color:#000
}
.btn-refresh.fixed-width{
    width: 40%;
    height: 45px;
    line-height: 45px;
}
.panel-content p.large{
    font-size:3.2vw;
}
.panel-content p.heading-panel{
    margin-bottom:15px;
    font-weight:bold;
    font-size:4.5vw
}
.margin-40{
    margin-bottom:40px!important;
}
.margin-80{
    margin-bottom:80px;
}
.margin-15{
    margin-bottom:15px!important;
}
.margin-20{
    margin-bottom:20px!important;
}
.margin-30{
    margin-bottom:30px!important;
}
.margin-5{
    margin-bottom:5px!important;
}
.top-gap{
    padding-top:40px;
}
.west-hunt-search-select select{
    padding: 3px 15px;
    font-size: 3vw;
    margin:10px 0px;
    height:45px;
}
.west-hunt-search-select{
    display: inline-block;
    width: 100%;
    padding: 25px 0px;
}
.west-hunt-search-select input{
    padding: 3px 15px;
    font-size: 3vw;
    height:45px;
}
.west-hunt-search .search-item{
    width: 100%;
    display: inline-block;
}
.wrapped{
    display:inline-block;
    vertical-align:middle;
}
ul.inner-links{
    padding:0;
    margin:0;
    list-style-type:none;
}
ul.inner-links li{
    font-size:3vw;
    padding:3px;
}
.panel-content p.red{
    color:#df0202;
}
.panel-content i{
    font-style:normal;
    color:#df0202;
}
.panel-content-inner{
    padding:10px 0px;
    display:inline-block
}
.panel-content-inner label{
    margin: 0px 15px;
}
.panel-body .below-top-list.no-border{
    border-bottom:0px;
    padding-bottom: 0px;
}
.no-border{
    border-bottom:0px;
    padding-bottom: 0px;
}
.container-panel{
    padding: 40px 15px;
}
.panel-grey{
    background-color:#f7f7f7;
    padding:10px;
    display:inline-block;
    width:100%;
    border:1px solid #dcdcdc;
    height: 350px;
    overflow-y: scroll;
}
.change-password-span label{
    font-weight:normal;
    font-size:3vw;
    margin-left:5px;
}
.panel-body .inner-panel{
    width:100%;
    margin:0 auto;
    padding: 50px 20px 30px;
}
.inner-panel .form-control{
    display:inline-block;
}
.panel-content .form-control{
    display:inline-block;
}
.panel-form label{
    font-size:3vw;
    min-width:20%;
}
.inner-panel label{
    font-size: 3vw;
    min-width: 35%;
    line-height: 1.3;
    margin-bottom: 0;
    vertical-align: middle;
    display:inline-block;
}
.authorization-inner-panel{
    max-width:85%!important
}
.align-left{
    width:100%;
    text-align:left;
}
.inner-panel strong{
    color:#df0202;
    font-weight:normal;
}
.step2-inner .btn.btn-default{
    background: rgb(242,242,242); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(242,242,242,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(242,242,242,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
    display:inline-block;
}
.step2-inner label{
    display:inline-block;
    font-weight:normal;
    font-size:14px;
}
.panel-body p b{
    font-weight:bold;
}
.step2-inner ul.inner-table-list{
    padding-left:20px;
    margin:0;
}
.step2-inner ul.inner-table-list li{
    font-size:12px;
    padding:3px;
}
ul.outer-table-list{
    padding-left:20px;
    margin:0;
    list-style-type: none;
}
ul.outer-table-list li{
    padding:3px;
    font-size:14px;
}
a.white-proceed{
    color:#fff;
    font-size:4vw;
    display:inline-block;
    font-weight:600;
    position:relative;
    cursor:pointer;
}
.privacy p.head{
    font-size:4vw;
    font-weight:bold;
}
.privacy p.text{
    font-size:3vw;
    line-height:1.5;
}
/*End of Panel*/
/*Start of Member*/
.member-upper-banner{
    display:inline-block;
    width:100%;
    text-align:center;
    padding:0px 0px 30px;
}
.members{
    padding:30px 0px;
}
.member-upper-banner h5{
    position: relative;
    display: inline-block;
    color: #df0202;
    font-size: 4vw;
    font-weight: bold;
}
.member-upper-banner h5:after{
    content: url('../img/images/members/right-slash.png');
    position: absolute;
    right: -30px;
    bottom: -2px;
}
.member-upper-banner h4{
    color: #2c2c2c;
    font-size: 4.3vw;
    font-weight: bold;
}
.member-upper-banner h3{
    color: #2c2c2c;
    font-size: 4.3vw;
    font-weight: bold;
}
.member-upper-banner strong{
    color:#df0202;
    font-size: 5.5vw;
}
.member-upper-banner h2{
    color: #fff;
    background-image: url('../img/images/members/red-bg.png');
    font-size: 3vw;
    font-weight: bold;
    position: relative;
    padding: 5px 0px;
    margin:0;
    line-height:1.2;
}
.member-upper-banner h2:before{
    content:url('../img/images/members/offer.png');
    left:5%;
    top:-6px;
    position:absolute;
}
.grey-border{
    border: 1px solid #ccc;
    border-radius: 3px;
    display: inline-block;
    width: 100%;
    background-color:#fff;
}
.member-upper-banner h5:before{
    content: url('../img/images/members/left-slash.png');
    position: absolute;
    left: -30px;
    bottom: -2px;
}
.member-lower-banner{
    display:inline-block;
    width:100%;
    position:relative;
}
.lower-banner-content{
    width:100%;
}
.lower-banner-left {
    position:relative;
    padding: 10px 50px;
}
.lower-banner-left:after{
    content: url('../img/images/members/arrow-right.png');
    left: 46%;
    position: absolute;
    bottom: -34px;
}
.lower-banner-right{
    display:inline-block;
}
.lower-banner-right img{
    width:100%;
}
.red{
    color:#df0202;
}
.lower-banner-left h3{
    font-size: 7vw;
    font-weight: bold;
    line-height: 1.2;
}
.lower-banner-left p{
    font-size:4vw;
    color:#2c2c2c;
}
.members .change-password-span p{
    font-size:14px;
    color:#2c2c2c;
}
.members .change-password-span p.large{
    font-size:16px;
}
.members-below{
    max-width: 90%;
    margin: 0 auto;
}
.members-below p.p-heading{
    font-weight:bold;
    font-size:16px;
}
.members-below p{
    font-size:15px;
    line-height:1.3;
}
.app-flow-button{
    border-bottom: 1px dotted #2c2c2c;
    position: relative;
}
a.btn-app-flow{
    background-image: url('../img/images/members/red-bg.png');
    position: absolute;
    left: 30%;
    color: #fff;
    top: -23px;
    display: inline-block;
    font-size: 3vw;
    padding: 5px 20px;
    border-radius: 3px;
    font-weight: bold;
    line-height: 1.3;
    text-align: center;
}
a.btn-app-flow:hover{
    color:#fff;
}
.app-flow-steps{
    position:relative;
    border:1px solid #df0202;
    border-radius:3px;
    text-align:center;
    padding: 15px;
    margin: 50px 0px;
}
.app-flow-steps.next-flow:after{
    content:url('../img/images/members/app-flow-next.png');
    position:absolute;
    bottom: -40px;
    left: 46%;
}
.app-flow{
    max-width:90%;
    margin:0px auto;
    width:100%;
}
.marginal{
    margin: 30px 0px 50px;
    display:inline-block;
    width:100%
}
.app-flow-steps .app-flow-header{
    text-align:left;
    margin-left: 35px;
}
.app-flow-steps .app-flow-header h3{
    font-weight: bold;
    color: #2c2c2c;
    margin: 0;
    min-height: 90px;
    font-size: 21px;
}
.app-flow-image{
    min-height:120px;
}
.app-flow-steps .app-flow-text{
    text-align:left;
}
.app-flow-steps .app-flow-text p{
    color:#2c2c2c;
    font-size:14px;
    line-height:1.3;
}
.app-flow-number{
    position: absolute;
    top: -10px;
    left: -15px;
}
.app-flow-button p.large{
    font-size:15px;
    font-weight:bold;
}
.app-flow-button .member-form p{
    display:block;
}
.member-form.grey-border.bg-grey{
    background-color:#f0f0f0;
}
.form-footer{
    border-top:1px dotted #2c2c2c;
    padding:10px 0px;
}
.form-footer p.grey{
    color:#969696;
}
.form-members{
    background-color:#f0f0f0;
    margin:0px;
    display:inline-block;
    width:100%;
    padding:30px 20px;
}
.change-password-span .btn-refresh.grey{
    background-color:#242424!important;
}
.change-password-span .btn-refresh.grey.btn-fix-width,
.change-password-span .btn-refresh.btn-fix-width
{
    min-width:200px
}
.form-inner-span{
    display: inline-block;
    width: 100%;
    margin:20px 0px;
}
.member-form{
    padding: 20px;
}
.member-form-header{
    border-bottom:1px dotted #2c2c2c;
    border-top:1px dotted #2c2c2c;
    text-align:center;
    padding:20px 0px;
    margin-bottom:10px;
}
.thanks-text .thanks-text-left{
    text-align:left;
}
.thanks-text{
    padding:40px;
}
.thanks-text h3{
    font-size: 5vw;
    font-weight: bold;
    margin-bottom: 25px;
}
.thanks-text p{
    font-size:3vw;
    font-weight:bold;
}

/*End of Member*/
.value-selection{
    text-align:center;
}
.value-selection p{
    font-weight:bold
}
.value-selection select{
    font-size: 3vw;
    color: #fff;
    background-color: #393939;
    padding: 3px;
    width: 35%;
}
.banner-value{
    display:inline-block;
    width:100%;
    padding:10px 0px;
    position:relative;
}
.value-banner-header{
    position:absolute;
    text-align:center;
    width:100%;
    top:-11px;
}
.list-value{
    position:absolute;
    width:100%;
    text-align:center;
    top:50px;
    left:0;
}
.list-value ul.value-listing{
    padding:0;
    margin:0;
    list-style-type: none;
}

.list-value ul.value-listing li{
    padding:5px 20px;
    text-align:center;
}
.list-value ul.value-listing li .img-list{
    display:inline-block;
}
/*Start of Campaign*/
.slider-header{
    background-color:#df0202;
    padding:10px 20px;
}
.slider-header h4{
    font-size:4vw;
    color:#fff;
    margin:0;
    font-weight:bold;
}
.new-campaigns{
    padding:10px;
    border-radius:5px;
    border:1px solid #9b9b9b;
    display:inline-block; 
    margin: 10px 0px;
}
.new-campaigns-img{
    display:inline-block;
    width:20%;

}
.new-campaigns-img img{
    width:100%;
    margin:0;
    border:0px!important;
}
.new-campaigns-text{
    float:right;
    display:inline-block;
    margin-left:3px;
    width:75%;
}
.new-campaigns-text p{
    font-size:3vw;
    margin:0;
    line-height:1.5;
}
.slider.slider-padded{
    max-width:85%;
    margin:0 auto;
}
.slider.slider-padded .slick-dots {
    bottom: -20px;
}
.slider.slider-padded .slick-dots li{
    margin:0;
}
.slider.slider-padded .slick-dots li button:before{
    color: #959595;
}
.slick-prev:before{
    content:url('../img/images/arrow-left-small.png')!important;    
}
.slick-next:before{
    content:url('../img/images/arrow-right-small.png')!important;  
}
.slick-prev, .slick-next{
    top:37%;
}
/* Start of Comics Page */

.inner-page-header img{
    width: auto;
    border: none;
    display: inline-block;
}


.breadcrumb{
    background-color: #fff;
    font-size: 14px;
    margin:0;
    margin-top: 5px;
    font-size: 16px;
    margin-bottom:10px;
    padding-left:0;
}
.breadcrumb a{
    color:#2c2c2c;
    font-size:2vw;

}
.breadcrumb > .active{
    color:#2c2c2c;
    font-size:3vw;
}
.breadcrumb > li + li:before {
    content: "|";
    color:#000;
}
.col-md-2-5{
    width:20%;
    float:left;
    position: relative;
    min-height: 1px;
    padding-right:5px;
    padding-left:5px;
}
.comics-tile{
    position:relative;
    border: 1px solid #2c2c2c;
    border-radius: 3px;
    margin-bottom: 10px;
}
.comics-listing{

}
.comics-listing img{
    width:100%;
    border-radius:3px 3px 0px 0px;
}
.comics-listing-text{
    left: 0;
    background-color: #df0202;
    padding: 15px 10px;
    border-radius:0px 0px 3px 3px;
    position:relative;
}
.inner-page-content .comics-listing-text i{
    float: right;
    font-size: 5vw;
    color: #fff;
    font-weight: bold;
}
.inner-page-content .comics-listing-text p{
    color: #fff;
    font-size: 3vw;
    max-width: 117px;
    line-height: 1;
    margin: 0;
    display: inline-block;
}
.new-entry{
    position:absolute;
    top: -9px;
    left: -10px;
}
.author-story{
    margin-left: 8%;
}
.author-story h3{
    font-size: 4vw;
    margin: 0;
    margin-bottom: 15px;
    color: #2c2c2c;
    font-weight: 300;

    margin-bottom: 10px;
    margin-top: 20px;
}
.author-description span{
    font-size:3vw;
    margin-left:5px;
    font-weight:normal;
}
.single-story{
    background-color:#4d2a2a;
    padding:5px;
    border-radius:5px;
    display:inline-block;
}
.single-story-img{
    display:inline-block;
    width:30%;
    background-image:url('../img/images/comics/story-banner.png');
    background-size:100% 100%;
    background-position:center center;
    height:100px;

}
.single-story-img img{
    width:100%;
}
.single-story-text{
    width:65%;
    display:inline-block;
    float:right;
}
.inner-page-content .single-story-text p{
    color:#fff;
    margin-bottom:5px;
    font-weight:bold;
    display:block;
    max-width:90%;
}
.inner-page-content .single-story-text p.small{
    color:#fff;
    font-size:2vw;
    display:inline-block;
}
.inner-page-content .single-story-text i{
    float:right;
    color:#fff;
    font-size:6vw;
    margin-left:5px;
    margin-top:25px;
}
.comics-slider{
    width:100%;
    max-width:95%;
    margin:0 auto;
}
.comics-slider p{
    font-size:14px;
    padding:5px 5px;
    margin-bottom:20px;
}
.interview-banner-1500{
    position:relative;
    width:100%;
    display: inline-block;
}
.interview-banner-1500 img{
    width:100%;
}
.inner-page-content .value-options-heading h4{
    font-size:5vw
}
.inner-page-content .value-listing-text p{
    color:#fff;
    margin:0;
    width:90%;
}
.inner-page-content .value-listing-text i{
    color:#fff;
}
/*End of Comics Page*/
.inner-page-header h3{
    display: inline-block;
    margin-left: 5px;
    margin: 0;
    vertical-align: middle;
    padding-left: 10px;
    font-size:5vw;
}
/*End of Campaign*/


/*Start of West-hunt*/
.search-location{
    padding:10px 0px;
}
.center.selection p{
    margin: 0;
    font-size: 5vw;
    color: #828282;
}
.search-manual ul.packets{
    list-style-type:none;
    padding:0;
    margin:0
}
.search-manual ul.packets li{
    display:inline-block;
    padding:5px;
    position:relative
}
.search-manual ul.packets li.active:after{
    content:url('../img/images/img-select.png');
    position:absolute;
    left: 10px;
    top: 15px;
}
.packet-selection{
    padding:10px;
    border-radius:5px;
    border:1px solid #ccc;
}
a.btn.btn-default.btn-red-icon-center{
    display: block;
    height: 45px;
    line-height: 30px;
    background-color:#950202;
    color:#fff;
    position:relative;
    font-size:3vw;
    border-color: transparent;
    border-radius: 10px;

} 
#icon-landmark-white:after{
    content:url('../img/images/icon-landmark-white.png');
    position:absolute;
    right:10px;
    top:9px;
}
#icon-register:after{
    content:url('../img/images/icon-register-store.png');
    position:absolute;
    right:10px;
    top:9px;
}
.inner-page-header .btn-inner-page-header{
    float: right;
    font-weight: normal;
    padding: 4px 15px;
    border-radius: 35px;
    margin-top:10px;
    font-size:3vw;
    margin-right:10px;
}
.inner-page-content label{
    font-size:3vw;
    vertical-align:middle;
}
.my-page-form p.at-the-rate{
    display: inline-block;
}
.my-page-form .form-control{ 
    max-width: 46%; 
    display: inline-block;
}
.inner-page-content .mypage-listing-text {
    left: 0;
    background-color: #df0202;
    padding: 15px 10px;
    border-radius: 0px 0px 3px 3px;
    position: relative;
}
.inner-page-content .mypage-listing-text i {
    float: right;
    font-size: 5vw;
    color: #fff;
    font-weight: bold;
}
.inner-page-content .mypage-listing-text p{
    color: #fff;
    font-size: 3vw;
    max-width: 90%;
    line-height: 1.3;
    margin: 0;
}
.below-table-button .btn-below-table{    
    background-color:#565656;
}
.below-table-button{
    display:inline-block;
    width:100%;
    text-align:center;
}
/*End of West-Hunt*/
/*Start of My Page1*/
.my-page-coins-list{
    display:inline-block;
    padding:40px 0px;
    width:100%;
}
.my-page-coins-list ul.my-page-points-list{
    list-style-type:none;
    padding:0;
    margin:0;
    border-radius:3px;
    border:1px solid #df0202;
}
.my-page-coins-list ul.my-page-points-list li{
    padding:10px 20px;
    border-bottom: 1px solid #df0202;
}
.my-page-coins-list ul.my-page-points-list li.header-points{
    background-color:#df0202;
    padding:3px 20px!important;
}
.my-page-coins-list ul.my-page-points-list li:last-child{
    border-bottom: 0px;
}
ul.my-page-points-list li.header-points h4{
    color:#fff;
    display:inline-block;
    font-weight: bold;
}
.my-page-points-list .coins-points{
    display:inline-block;
}
.my-page-points-list li .coins-points-value{
    display:inline-block;
    float:right;
}
.my-page-points-list .coins-points p{
    display:inline-block;
    font-size:3vw;
    margin-left:15px;
}
.my-page-points-list .coins-points-value p{
    display:inline-block;
    font-size:3vw;
    margin-left:15px;
}
.my-page-points-list .coins-points-value h2{
    display: inline-block;
    margin: 0;
    line-height: 1.5;
    font-weight: bold;
    font-size: 5vw;
}
h3.slider-heading{
    font-size:4vw;
    color:#2c2c2c;
    margin:0px;
    margin-bottom:20px;
    font-weight:bold;
}

.mypage-tables{
    display:inline-block;
    width:100%;
    padding:30px 0px;
}
.mypage-tables thead{
    background-color:#e7e7e7;
    text-align:center;
    font-size:14px;
}
.mypage-tables th, .mypage-tables td{
    text-align:center;
}
.mypage-tables td{
    font-size:16px;
    padding: 15px 10px!important;
}
.mypage-tables td.description{
    text-align:left;
}
.table-heading{
    display:inline-block;
    width:100%;
}
.table-heading .table-heading-img{
    display:inline-block;
    margin-bottom:10px;
}
.table-heading h3{
    display: inline-block;
    margin: 0;
    padding: 0px 0px 15px;
    font-size: 4vw;
    font-weight: bold;
    padding-left: 5px;
}
.table-heading p{
    float: right;
    display: inline-block;
    font-size: 3vw;
    color: #2c2c2c;
    font-weight: bold;
}

.below-table-text p{
    font-size:3vw;
    font-weight:bold;
}
.my-page-slider{
    display:inline-block;
    width:100%;
    padding:15px 0px;
}
/*End of My Page1*/


/*Start of Map*/
a.btn.btn-default.btn-red-icon{
    display: block;
    height: 45px;
    text-align: left;
    line-height: 30px;
    background-color:#950202;
    color:#fff;
    position:relative;
    font-size:3vw;
    border-color: transparent;
    border-radius: 10px;

}
#icon-gps:after{
    content:url('../img/images/icon-gps.png');
    position:absolute;
    right:10px;
    top:9px;
}
.btn-icon-landmark:after{
    content:url('../img/images/icon-landmark.png');
    position:absolute;
    right:10px;
    top:9px;
}
.map-popup{
    min-width:320px;
}
.map-popup-header{
    background-color:#f3f3f3;
    padding: 10px 0px;
}
.map-popup-header h1{
    color:#950202;
    font-size: 4vw;
    margin: 0;
    margin-bottom: 10px;
}
.map-popup-header p{
    color: #2c2c2c;
    display: block;
    font-size: 17px;
    margin-left: 15px;
}
ul.map-popup-list{
    padding:10px 0px;
    margin:0;
    list-style-type:none;
    text-align:right;
}
ul.map-popup-list li{
    display:inline-block;
    padding: 0px 5px;
}
.gm-style-iw{
    width:100%!important;
    top:1px!important;
    left:1px!important;
    padding: 0px 2px 0px 0px;
}
.gm-style-iw div{
    min-width:100%;
}
.map-popup #bodyContent{
    min-width:320px!important;
}
/*End of Map*/
/*End of mobile base*/
@media(max-width:530px){ 
    .my-page-points-list .coins-points img{
        width:50px;
    }
    .single-story-img{
        height:65px
    }
    .inner-page-content .single-story-text i {
        margin-top: 18px;
    }
}
@media (max-width:410px){
    .my-page-points-list .coins-points img{
        width:40px;
    }
    .inner-page-content label{
        font-size:4vw;
    }
    .inner-page-content ul li{
        font-size:4vw;
    }
    .list-value {
        top: 35px;
    }
    .list-value ul.value-listing li {
        padding: 5px 10px;
    }
    .value-banner-header{
        top:-6px;
    }
    .author-story h3{
        font-size:6vw;
    }
    .author-story{      
        margin-left: 10%;
    }
    .inner-page-content .comics-listing-text i{
        font-size: 7vw;
    }
    .inner-page-content .comics-listing-text p{
        font-size: 4vw;
    }
    .thanks-text h3{
        font-size:6vw;
    }
    .app-flow-steps.next-flow:after{
        bottom: -40px;
        left: 40%;
    }
    a.btn-app-flow {
        left: 20%;
        font-size: 4vw;
    }
    .member-upper-banner h2{
        font-size: 3.5vw;
    }
    .member-upper-banner h2:before{
        content:url('../img/images/members/offer-small.png');
        left: 1%;
        top: -5px;
        position:absolute;
    }
    a.btn.btn-default.btn-red-icon-center{
        font-size:4vw;
    }
    a.btn.btn-default.btn-red-icon{
        font-size:4vw;
    }
    .west-hunt-search-select select{
        font-size: 5vw;
    }
    .west-hunt-search-select input{
        font-size:5vw;
    }
    .landmark-below-map p{
        font-size:4vw;
    }
    .landmark-below-map p.head{
        font-size:4vw;
    }
    .panel-heading .panel-title a{
        font-size:4vw;
    }
    .panel-header h4, .panel-header-small h4{
        font-size:4.5vw
    }
    .navbar-toggle{
        padding: 9px 6px;
    }
    .header-icon{
        padding: 17px 60px;        
        margin: 23px 0px 0px 10px;
    }
    ul.header-coins-counter{
        padding: 5px 8px 5px 28px;
    }
    .calender-value-description p{
        font-size: 3.5vw;
    }
    .panel-content p{
        font-size:4vw;
    }
    .panel-content p.heading-panel{
        font-size:6vw;
    }
    .panel-content label{
        font-size: 4vw;
    }
    .btn-refresh{
        font-size: 5vw;
    }
    a.white-proceed{
        font-size:5vw;
    }
    .panel-header h3, .panel-header-small h3{
        font-size:6.5vw;
    }
    .panel-content ul li{
        font-size:4vw;
    }
    .btn-refresh.fixed-width {
        width: 60%;
    }
    .inquiry-below-buttons p{
        font-size: 4vw;
    }
    .inner-page-content p{
        font-size:4vw
    }
    .inner-page-content p.head{
        font-size:4.2vw
    }
    .question-answer p.question{
        font-size:4vw;
    }
    .question-answer p.answer{
        font-size:4vw;
    }
}
@media (max-width:330px){
    .my-page-points-list .coins-points img{
        width:25px;
    }
    .list-value {
        top: 20px;
    }
    ul.header-coins-counter {
        padding: 5px 0px 5px 4px;
    }
}